{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Analytics{% endblock %}
{% block model %}Gestão{% endblock %}
{% block model_menu %}{% include "_component/menu/gestao.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'gestao_apontamento_add' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'gestao_analytics' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'gestao_apontamento_add' %}" method="POST" autocomplete="off" onsubmit="return submitForm();">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-2">Apontamento: <b class="text-purple">Novo</b></h5>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row mb-2">
          <div class="col-auto">
            <div class="dropdown">
              <button class="btn btn-sm btn-purple-light dropdown-toggle" type="button" data-bs-toggle="dropdown"><label class="fw-bold text-capitalize pointer">{{empresa.nome|default:'----'}}</label></button>
              <ul class="dropdown-menu fs-7">
                {% for empresa in empresas %}
                <li><span class="dropdown-item pointer" onclick="urlFilter('empresa',{{empresa.id}})">{{empresa.nome}}</span></li>
                {% endfor %}            
              </ul>
            </div>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-sm-auto" style="min-width: 220px;">
            <select class="form-select" id="id_indicador" name="indicador" onchange="indicadorSetPrecision()" autofocus required>
              {% for indicador in indicadores %}
              <option value="{{indicador.id|safe}}" data-precision="{{indicador.precisao}}">{{indicador}}</option>
              {% endfor %}
            </select>
            <label for="id_indicador">Indicador</label>
          </div>
          <div class="form-floating mb-lg-1 col-sm-auto">
            <input type="number" class="form-control" name="ano" id="id_ano" min="1900" max="2099" value="" style="width: 140px;" onfocus="this.select();" required>
            <label for="id_ano">Ano</label>
          </div>
          <div class="form-floating mb-lg-1 col-sm-auto">
            <input type="number" class="form-control" name="mes" id="id_mes" min="1" max="12" value="" onfocus="this.select();" style="width: 140px;" required>
            <label for="id_mes">Mês</label>
          </div>
          <div class="form-floating mb-1 col-sm-auto">
        		{{ form.valor }}
        		<label for="id_valor">Valor</label>
          </div>
        </div>
      </div>
      <!-- CONTROLES DO FORM -->
      <div class="row mt-3">
        <div class="col">
          <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
        </div>
      </div>
    </div>
    <input type="hidden" name="empresa" value="{{empresa.id|safe}}">
  </form>
</div>

{% include "_component/modal/loading.html" with message='Salvando....' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
<script src="{% static 'js/vendor/mask.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  var TAB_ON_ENTER = true;
  document.getElementById('id_ano').value = new Date().getFullYear(); // Innitial para Ano
  document.getElementById('id_mes').value = new Date().getMonth(); // Innitial para Mes
  
  var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
  function submitForm(){
    modal_loading.show();
    document.getElementById('id_valor').value = document.getElementById('id_valor').value.replaceAll('.','').replaceAll(',','.');
    return true;
  }
  
  function indicadorSetPrecision(){
    let ind = document.getElementById("id_indicador");
    document.getElementById("id_valor").value = 0;
    VMasker(document.getElementById("id_valor")).maskMoney({precision : parseInt(ind.options[ind.selectedIndex].dataset.precision)});
  }
  try{indicadorSetPrecision();}catch (e){}
  
  {% endblock %}
</script>