{% extends "layout/dot.html" %}
{% load static %}
{% load tag_extra %}
{% block title %}Dashboard{% endblock %}
{% block model %}Gestão{% endblock %}
{% block model_menu %}{% include "_component/menu/gestao.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'gestao_dashboard' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-columns me-1"></i> <small class="fw-bold">Dashboard</small></a></li>
      {% if staff and staff.role != 'O' %}
      <li class="nav-item ms-1" title="Roadmap"><a id="roadmap_link" class="nav-link text-success" href="{% url 'gestao_roadmap' %}"><i class="fas fa-sliders-h"></i></a></li>
      <li class="nav-item ms-1" title="Analytics"><a id="analytics_link" class="nav-link text-purple" href="{% url 'gestao_analytics' %}" onclick="analytics_loading.show()"><i class="fas fa-chart-bar"></i></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <div class="row">
      <div class="col">
        <h5 class="card-title mb-0">Dashboard: <b class="text-purple">{{user.username|title}}</b></h5>
        <p class="mb-3 fw-bold text-body-secondary">{{staff.get_role_display|default:'<i class="fas fa-exclamation-triangle me-1 text-danger"></i>Não parametrizado'}}</p>      
      </div>
      <div class="col-auto">
        <div class="d-inline-flex">
          {% if perms.gestao.view_kanban %}<a class="btn btn-sm btn-purple me-1" href="{% url 'gestao_kanban' %}" title="Kanbans"><i class="fas fa-layer-group"></i></a>{% endif %}
          <div class="dropdown">
            <button class="btn btn-sm btn-purple-light dropdown-toggle" type="button" data-bs-toggle="dropdown"><label class="fw-bold text-capitalize pointer">{{empresa.nome|default:'Empresa'}}</label></button>
            <ul class="dropdown-menu fs-7">
              {% for empresa in empresas %}
              <li><span class="dropdown-item pointer" onclick="urlFilter('empresa',{{empresa.id}})">{{empresa.nome}}</span></li>
              {% endfor %}
              <li><span class="dropdown-item dropdown-item-secondary pointer" onclick="urlFiltersClean(['empresa'])">Todas</span></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <div class="row g-3">
        <div class="col-lg order-2 order-lg-1">
          <div class="card h-100">
            <div class="card-header text-body-secondary fs-7">
              <div class="row">
                <div class="col">Em Progresso</div>
              </div>
            </div>
            <div class="card-body p-0 pb-2 fs-7">
              {% call_method staff 'planos_em_progresso' empresa as planos_em_progresso %}
              {% for plano in planos_em_progresso %}
              <div class="border-top border-bottom p-2 mt-2 bg-light">
                <div class="row">
                  <div class="col text-truncate">{% if plano.bloqueado %}<i class="fas fa-lock text-body-secondary me-1"></i>{% endif %}<a class="fw-bold text-decoration-none mb-0" href="{% url 'gestao_plano_id' plano.id %}">{{plano.titulo}}</a></div>
                  {% if plano.responsavel == staff and not plano.bloqueado or staff.role == 'M' or staff.role == 'E' %}
                  <div class="col-auto">
                    <a class="text-body-secondary px-2" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end fs-7">
                      <li><a class="dropdown-item pointer" href="{% url 'gestao_plano_movimentar' plano.id|safe %}?operacao=revisao" onclick="modal_loading.show()"><i class="fas fa-arrow-right fa-fw text-success"></i> Para revisão</a></li>
                      {% if staff.role == 'M' %}<li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#avaliar_modal" onclick="setAvaliacaoPlano({{plano.id|safe}}, {{plano.conclusao|safe}},{{plano.avaliacao|safe}},'{{plano.titulo}}', false)" href="#"><i class="fas fa-star fa-fw text-primary"></i> Avaliar</a></li>{% endif %}
                      {% if plano.bloqueado and staff.role == 'M' %}
                      <li><a class="dropdown-item pointer" href="{% url 'gestao_plano_movimentar' plano.id|safe %}?operacao=unlock" onclick="modal_loading.show()"><i class="fas fa-lock-open fa-fw"></i> Desbloquear</a></li>
                      {% elif staff.role == 'M' %}
                      <li><a class="dropdown-item pointer" href="{% url 'gestao_plano_movimentar' plano.id|safe %}?operacao=lock" onclick="modal_loading.show()"><i class="fas fa-lock fa-fw"></i> Bloquear</a></li>
                      {% endif %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
                <div class="row mt-1">
                  <div class="col text-truncate">{{plano.get_status_display}} <span class="badge bg-secondary">{{plano.termino|now_until_date}} dias</span></div>
                  <div class="col-auto"><span class="badge bg-orange">{{plano.diretriz.empresa.nome|default:'--'}}</span> <span class="badge bg-dark">{{plano.responsavel.usuario.username|default:'--'|title}}</span> <span class="badge bg-primary">+ {{plano.staff.count|sub:1}}</span></div>
                </div>
                <div class="row mt-1">
                  <div class="col text-truncate">{% for label in plano.labels.all %}<span class="badge me-1" style="background:{{label.cor}};color:{{label.fonte}}">{{label.nome}}</span>{% endfor %}</div>
                  <div class="col-6 col-lg-4">
                    <div class="progress mt-1"><div class="progress-bar" role="progressbar" style="width: {{plano.conclusao|safe}}%">{{plano.conclusao|safe}}%</div></div>                      
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col text-truncate">
                    <a class="text-decoration-none text-body-secondary text-hover-purple" href="{% url 'gestao_diretriz_id' plano.diretriz.id|safe %}"><i class="fas fa-link"></i> {{plano.diretriz.titulo}}</a>
                  </div>
                  <div class="col-auto text-body-secondary fs-8">{{plano.created_by|title}} - {{plano.created_on|date:'M y'}}</div>
                </div>
              </div>
              {% empty %}
              <p class="p-2">Nenhum plano de ação em progresso</p>                
              {% endfor %}                
            </div>
            {% if staff and staff.role != 'O' %}
            <div class="row">
              <div class="col text-end pb-2 pe-4 fs-7"><a class="text-decoration-none" href="{% url 'gestao_planos_arquivo' %}">Arquivo</a></div>
            </div>
            {% endif %}
          </div>
        </div>
        <div class="col-lg order-3 order-lg-2">
          <div class="card h-100">
            <div class="card-header text-body-secondary fs-7">Em revisão</div>
            <div class="card-body p-0 pb-2 fs-7">
              {% call_method staff 'planos_em_avaliacao' empresa as planos_em_avaliacao %}
              {% for plano in planos_em_avaliacao %}
              <div class="border-top border-bottom p-2 mt-2 bg-light">
                <div class="row">
                  <div class="col text-truncate">{% if plano.bloqueado %}<i class="fas fa-lock text-body-secondary me-1"></i>{% endif %}<a class="fw-bold text-decoration-none mb-0" href="{% url 'gestao_plano_id' plano.id %}">{{plano.titulo}}</a></div>
                  {% if staff.role == 'M' or staff.role == 'E' %}
                  <div class="col-auto">
                    <a class="text-body-secondary px-2" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end fs-7">
                      <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#avaliar_modal" onclick="setAvaliacaoPlano({{plano.id|safe}}, {{plano.conclusao|safe}},{{plano.avaliacao|safe}})" href="#"><i class="fas fa-star fa-fw text-primary"></i> Avaliar</a></li>
                      {% if plano.bloqueado and staff.role == 'M' %}
                      <li><a class="dropdown-item pointer" href="{% url 'gestao_plano_movimentar' plano.id|safe %}?operacao=unlock" onclick="modal_loading.show()"><i class="fas fa-lock-open fa-fw"></i> Desbloquear</a></li>
                      {% elif staff.role == 'M' %}
                      <li><a class="dropdown-item pointer" href="{% url 'gestao_plano_movimentar' plano.id|safe %}?operacao=lock" onclick="modal_loading.show()"><i class="fas fa-lock fa-fw"></i> Bloquear</a></li>
                      {% endif %}
                      <li><a class="dropdown-item pointer" href="{% url 'gestao_plano_movimentar' plano.id|safe %}?operacao=execucao" onclick="modal_loading.show()"><i class="fas fa-arrow-left fa-fw text-danger"></i> Retornar</a></li>
                    </ul>
                  </div>
                  {% endif %}
                </div>
                <div class="row mt-1">
                  <div class="col text-truncate">{{plano.get_status_display}}</div>
                  <div class="col-auto"><span class="badge bg-orange">{{plano.diretriz.empresa.nome|default:'--'}}</span> <span class="badge bg-dark">{{plano.responsavel.usuario.username|default:'--'|title}}</span> <span class="badge bg-primary">+ {{plano.staff.count|sub:1}}</span></div>
                </div>
                <div class="row mt-1">
                  <div class="col text-success">{{plano.avaliacao|default:0|stars|safe}}</div>
                  <div class="col-6 col-lg-4">
                    <div class="progress mt-1"><div class="progress-bar" role="progressbar" style="width: {{plano.conclusao|safe}}%">{{plano.conclusao|safe}}%</div></div>
                  </div>
                </div>
                <div class="row mt-1">
                  <div class="col text-truncate">
                    <a class="text-decoration-none text-body-secondary text-hover-purple" href="{% url 'gestao_diretriz_id' plano.diretriz.id|safe %}"><i class="fas fa-link"></i> {{plano.diretriz.titulo}}</a>
                  </div>
                  <div class="col-auto text-body-secondary fs-8">{{plano.created_by|title}} - {{plano.created_on|date:'M y'}}</div>
                </div>
              </div>
              {% empty %}
              <p class="p-2">Nenhum plano em avaliação</p>                
              {% endfor %} 
            </div>
          </div>
        </div>
        <div class="col-lg order-1 order-lg-3">
          <div class="card text-dark bg-light h-100">
            <div class="card-header text-body-secondary fs-7">
              <div class="row">
                <div class="col">Diretrizes</div>
                <div id="menu_diretriz_container" class="col-auto">
                  <a class="text-body-secondary" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-ellipsis-h"></i></a>
                  <ul id="menu_diretriz_options" class="dropdown-menu fs-7">
                    {% if staff.role == 'M' or staff.role == 'E' %}<li><a class="dropdown-item pointer" href="{% url 'gestao_diretriz_add' %}"><i class="fas fa-plus text-success fa-fw"></i> Diretriz</a></li>{% endif %}
                    {% if staff and staff.role != 'O' %}
                    <li><a class="dropdown-item pointer" href="{% url 'gestao_indicadores' %}"><i class="fas fa-chart-line fa-fw"></i> Indicadores</a></li>
                    <li><a class="dropdown-item pointer" href="{% url 'gestao_analises' %}"><i class="fas fa-check-double fa-fw"></i> Análises</a></li>
                    {% endif %}
                    {% if perms.gestao.staff %}<li><a class="dropdown-item pointer" href="{% url 'gestao_staffs' %}"><i class="fas fa-users fa-fw"></i> Staff</a></li>{% endif %}
                    {% if staff.role == 'M' %}
                    <li><a class="dropdown-item pointer" href="{% url 'gestao_labels' %}"><i class="fas fa-tags fa-fw"></i> Labels</a></li>
                    <li><a class="dropdown-item dropdown-item-purple pointer" href="{% url 'gestao_settings' %}"><i class="fas fa-cogs fa-fw"></i> Settings</a></li>
                    {% endif %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="card-body p-0 pb-2 fs-7">
              {% for diretriz in diretrizes %}
              <div class="border-top border-bottom p-2 mt-2 bg-white">
                <div class="row">
                  <div class="col text-truncate"><a class="fw-bold text-decoration-none mb-0" href="{% url 'gestao_diretriz_id' diretriz.id %}">{{diretriz.titulo}}</a></div>
                  {% if staff.role != 'O' %}
                  <div class="col-auto">
                    <a class="text-body-secondary px-2" data-bs-toggle="dropdown" href="#" role="button"><i class="fas fa-caret-down"></i></a>
                    <ul class="dropdown-menu dropdown-menu-end fs-7">
                      <li><a class="dropdown-item" href="{% url 'gestao_plano_add' diretriz.id|safe %}"><i class="fas fa-plus fa-fw text-success"></i> Plano</a></li>
                      {% if staff.role == 'M' %}<li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#diretriz_finalizar_modal" onclick="setDiretrizPlano({{diretriz.id|safe}})" href="#"><i class="fas fa-download fa-fw text-danger"></i> Finalizar</a></li>{% endif %}
                    </ul>
                  </div>
                  {% endif %}
                </div>
                <div class="row">
                  <div class="col-12">{{diretriz.indicador.nome}} <span class="badge bg-orange ms-1">{{diretriz.empresa.nome}}</span></div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="progress mt-1"><div class="progress-bar" role="progressbar" style="width: {{diretriz.progresso|safe}}%">{{diretriz.progresso|safe}}%</div></div>
                  </div>
                  <div class="col-6 fs-8 text-body-secondary text-end">
                    {{diretriz.created_by|title}} - {{diretriz.created_on|date:'M y'}}
                  </div>
                </div>
              </div>
              {% empty %}
              <p class="p-2">Nenhuma diretriz ativa</p>                
              {% endfor %}
              {% if staff and staff.role != 'O' %}
              <div class="row">
                <div class="col text-end pt-2 pe-4 fs-7"><a class="text-decoration-none" href="{% url 'gestao_diretrizes' %}">Arquivo</a></div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include 'gestao/_modais_dashboard.html' %}
{% include "_component/modal/loading.html" with message='Salvando....' %}
{% include "_component/modal/loading.html" with message='Carregando indicadores....' id='analytics_loading' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}

  SHORTCUT_MAP['2FTF'] = () => {document.getElementById('roadmap_link').click()};
  SHORTCUT_MAP['3FTF'] = () => {document.getElementById('analytics_link').click()};

  if(document.getElementById('menu_diretriz_options').childElementCount == 0){document.getElementById('menu_diretriz_container').classList.add('d-none');}
  
  var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
  var analytics_loading = new bootstrap.Modal(document.getElementById('analytics_loading'), {keyboard: false});
  {% endblock %}
</script>