{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Arquivo{% endblock %}
{% block model %}Gestão{% endblock %}
{% block model_menu %}{% include "_component/menu/gestao.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'gestao_planos_arquivo' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'gestao_dashboard' %}"><i class="fas fa-undo"></i></a></li>
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=gestao.plano&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-0">Arquivo (planos): <b class="text-purple">{{user.username|title}}</b></h5>
    <p class="mb-0 fw-bold text-muted">{{staff.get_role_display}}</p>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover fs-7">
        <thead>
          <tr>
            <th>#</th>
            <th>Empresa</th>
            <th>Titulo</th>
            <th>Responsavel</th>
            <th>Inicio</th>
            <th>Termino</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for plano in planos %}
          <tr>
            <td>{{plano.id|safe}}</td>
            <td>{{plano.diretriz.empresa.nome}}</td>
            <td>{{plano.titulo|truncatechars:30}}</td>
            <td>{{plano.responsavel.usuario.username|title|default:'--'}}</td>
            <td>{{plano.inicio|date:'d/m/Y'|default:'--'}}</td>
            <td>{{plano.termino|date:'d/m/Y'|default:'--'}}</td>
            <td class="text-end fit py-1"><a class="btn btn-sm btn-secondary" href="{% url 'gestao_plano_id' plano.id %}"><i class="fas fa-pen"></i></a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}

  const table = new jsTable(document.getElementById('main_table'), {
    canFilter: true,
    filterCols: ['Titulo', 'Responsavel']
  });

SHORTCUT_MAP['/FTF'] = ':planoSearch';
SHORTCUT_MAP['arrowdownFFF'] = ':nextRow';
SHORTCUT_MAP['arrowupFFF'] = ':previousRow';
SHORTCUT_MAP['enterFTF'] = ':enterRow';

function nextRow(){table.nextRow();}
function previousRow(){table.previousRow();}
function enterRow(){table.enterRow();}
function planoSearch(){table.filterInput.select()}
  {% endblock %}
</script>

