{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Plano{% endblock %}
{% block model %}Gestão{% endblock %}
{% block model_menu %}{% include "_component/menu/gestao.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'gestao_plano_add' plano.diretriz.id|safe %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'gestao_dashboard' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'gestao_plano_add' plano.diretriz.id|safe %}" method="POST" autocomplete="off">
    {% csrf_token %}
    {% include 'gestao/_form_plano.html' %}
  </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}

  const select = new jsSelectm(document.getElementById('id_staff'),{
    title:'Staff',
    onchange: loadResponsavelBox
  })
  
  {% endblock %}
</script>