{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Staff{% endblock %}
{% block model %}Gestão{% endblock %}
{% block model_menu %}{% include "_component/menu/gestao.html" %}{% endblock%}

  
<style media="screen">
{% block style %}
.table tr td:first-child, .table tr th:first-child{
  text-align: left;
}
{% endblock%}
</style>

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item ms-1"><a class="nav-link" data-bs-toggle="modal" data-bs-target="#help_modal" href="#" title="Ajuda"><i class="fas fa-question"></i></a></li>
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'gestao_staff_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'gestao_dashboard' %}"><i class="fas fa-undo"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + D">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=gestao.staff&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Staff</h5>
    <div class="row">
      <div class="col-lg order-2 order-lg-1">
        <div class="tab-pane fade show active" id="base" role="tabpanel">
          <table id="main_table" class="table border table-striped table-hover">
            <caption class="fs-7">
              <small class="badge bg-danger" style="width: 35px;">OFF</small> Inativo <br />
            </caption>
            <thead>
              <tr>
                <th class="d-none d-sm-table-cell">#</th>
                <th>Username</th>
                <th>Perfil</th>
                <th>&nbsp;</th>
              </tr>
            </thead>
            <tbody>
              {% for staff in staffs %}
              <tr>
                <td class="d-none d-sm-table-cell">{{staff.id|safe}}</td>
                <td>{{staff.usuario.username|title}}{% if not staff.usuario.is_active %} <sup class="badge bg-danger fs-9">OFF</sup>{% endif %}</td>
                <td>{{staff.get_role_display}}</td>
                <td class="text-end fit py-1">
                  {% if staff.usuario.is_active %}
                  <a class="btn btn-sm btn-dark" href="{% url 'gestao_staff_id' staff.id|safe %}" title="Editar"><i class="fas fa-pen"></i></a>
                  {% endif %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-auto ps-auto ps-lg-0 order-1 order-lg-2">
        <div class="filter-container">
          <h6 class="text-muted d-flex justify-content-between">Filtros:<a class="text-muted text-decoration-none fs-8" id="clear" href="{% url 'gestao_staffs' %}">Limpar</a></h6>
          <ul class="list-unstyled">
            <li><a id="id_estrat" onclick="urlFilter('role','E')">Estratégico</a></li>
            <li><a id="id_gerenc" onclick="urlFilter('role','G')">Gerencial</a></li>
            <li><a id="id_operacional" onclick="urlFilter('role','O')">Operacional</a></li>
            <li><a id="id_manager" onclick="urlFilter('role','M')">Manager</a></li>
            <hr class="my-1" />
            <li><a id="id_ativos" onclick="urlFilter('usuario__is_active','True')">Ativos</a></li>
            <li><a id="id_inativos" onclick="urlFilter('usuario__is_active','False')">Inativos</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="help_modal" tabindex="-1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-tags text-muted me-2"></i> Gestão - Roles</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <p><b class="text-purple">Atenção!</b> Apenas usuários marcados com a flag <b>membro de equipe</b> (no cadastro de usuário) poderão fazer parte do staff.</p>
        <div class="row">
          <div class="col-12 mb-1">
            <div class="border rounded bg-light p-2 d-flex justify-content-between fs-7">
              <span><i class="fas fa-user"></i> Operacional</span>
              <span><i class="fas fa-user-tag"></i> Gerencial</span>
              <span><i class="fas fa-user-tie"></i> Estratégico</span>
              <span><i class="fas fa-user-shield"></i> Manager</span>
            </div>
          </div>
          <div class="col">
            <table class="table table-sm table-bordered text-center fs-7">
              <caption><span class="badge text-dark" style="background-color: #CFE2FF">LEG</span> Somente reponsável definido</caption>
              <thead>
                <tr>
                  <th class="bg-light">Recurso</th>
                  <th><i class="fas fa-user fs-5"></i></th>
                  <th><i class="fas fa-user-tag fs-5"></i></th>
                  <th><i class="fas fa-user-tie fs-5"></i></th>
                  <th><i class="fas fa-user-shield fs-5"></i></th>
                </tr>
              </thead>
              <tbody>
                <tr><td>Dashboard</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Roadmap</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Analytics</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Participar plano</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Visualizar todos os planos</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Criar diretriz</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Criar plano</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Gerir planos</td><td class="table-primary">SIM</td><td class="table-primary">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Associar Flags</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td></tr>
                <tr><td>Enviar p/ Avaliação</td><td class="table-primary">SIM</td><td class="table-primary">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Avaliar Plano</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Concluir Plano</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td></tr>
                <tr><td>Concluir Diretriz</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td></tr>
                <tr><td>Criar Indicadores</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td></tr>
                <tr><td>Ajustar Meta</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Inserir Análise</td><td class="table-danger">NAO</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
                <tr><td>Visualizar Análise</td><td class="table-danger">NAO</td><td class="table-success">SIM</td><td class="table-success">SIM</td><td class="table-success">SIM</td></tr>
              </tbody>              
            </table>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  const table = new jsTable(document.getElementById('main_table'), {
    canFilter: true,
    filterCols: ['Username', 'Perfil'],
    enablePaginate: true
  });

SHORTCUT_MAP['/FTF'] = ':staffSearch';
SHORTCUT_MAP['arrowdownFFF'] = ':nextRow';
SHORTCUT_MAP['arrowupFFF'] = ':previousRow';
SHORTCUT_MAP['enterFFF'] = ':enterRow';

function nextRow(){table.nextRow();}
function previousRow(){table.previousRow();}
function enterRow(){table.enterRow();}
function staffSearch(){table.filterInput.select()}
  
  const staff_filters = {
    'role=E':'id_estrat',
    'role=G':'id_gerenc',
    'role=O':'id_operacional',
    'role=M':'id_manager',
    'usuario__is_active=True':'id_ativos',
    'usuario__is_active=False':'id_inativos'
  }
  urlSetFiltersActive(staff_filters);
  {% endblock %}
</script>