{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
  
  <style media="screen">
    .docs-nav-item{
      min-width: 100px;
      position: relative;
      bottom:-1px;
      margin-right:5px;
      padding-bottom:5px;
    }
    .docs-nav-item.active{
      font-weight: bold;
      border-bottom:2px solid #FD7E14;
    }
    .link_start_page{
      position: fixed;
      bottom: 40px;
      right: 35px;
      opacity:0;
      border: 2px solid #e9ecef;
      border-radius: 30px;
      padding-left: 16px;
      padding-right: 16px;
      padding-top: 8px;
      padding-bottom: 8px;
      transition: opacity 0.5s ease-in-out;
    }
  </style>
  <title>Docs</title>
</head>
<body>
  <div class="docs-header bg-light border-bottom">
    <div class="container-fluid px-3">
      <div class="row pt-2">
        <div class="col">
          <span class="fs-5 text-muted"><i class="fas fa-terminal me-3"></i>
            <a class="text-decoration-none" id="home" href="{% url 'index' %}">docs</a> / <a id="doc_breadcrumb" class="text-decoration-none fw-bold text-lowercase"></a>
          </span>
        </div>
        <div class="col-auto">
          <!-- HEADER DOCS VERSION -->
          <div class="input-group">
            <button type="button" class="btn btn-sm btn-outline-secondary" disabled>Versão 1.0</button>
            <button type="button" class="btn btn-sm btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
              <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu dropdown-menu-end">
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="{% url 'docs' %}?version=1.0">Versão 1.0</a></li>
            </ul>
          </div>
          <!-- END HEADEER DOCS VERSION -->          
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <ul class="nav text-muted text-center fs-7 user-select-none">
            <li class="nav-item docs-nav-item active pointer" onclick="filter('view_type','manual')"><i class="fas fa-book me-1"></i> Manual</li>
            <li class="nav-item docs-nav-item pointer" onclick="filter('view_type','issues')"><i class="fas fa-bug me-1"></i> Issues <sup id="issues_badge" class="badge bg-secondary opacity-75"></sup></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="docs_body" class="container-fluid pt-lg-4">
    <div class="row">
      <!-- INICIO  BODY MAIN-->
      <div id="docs_body_main" class="col-lg-8 mt-4 mt-lg-0 order-2 order-lg-1">
        <h3 class="mb-0" id="doc_titulo"></h3>
        <hr>
        <div id="body_elements_container"></div>
      </div>
      <!-- END  BODY MAIN-->
      
      <!-- INICIO  BODY TAGS-->
      <div class="col-lg order-1 order-lg-2">
        <div class="row">
          <div class="col mt-4">
            <h5 class="fw-bold text-muted">Indice</h5>
            <ul id="nav_container" class="list-unstyled ps-1"></ul>
            <div id="nav_tags" class="mt-4 ps-2"></div>
          </div>
        </div>
      </div>
      <!-- END  BODY TAGS-->
    </div>
    <p onclick="filter('teste','uiii')">FOOOO</p>
    
    <span id="link_start_page" class="link_start_page pointer fs-4 text-muted bg-light shadow-sm" onclick="window.scroll(0,0)"><i class="fas fa-chevron-up"></i></span>
  </div>
  
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/_basicListener.js' %}"></script>
  
  <script>
  {% include '_component/script/update_url.js' %}
    function goTo(id){document.getElementById(id).scrollIntoView();}
    
    function filter(filter, value){
      location.href = updateUrl(window.location.href, filter, value);
      // console.log(window.location.href);
      
      // const page_query = window.location.search;
      // if(page_query != ''){
      //   // location.href = page_query + `&${filter}=${value}`;
      // }
      // else{
      //   location.href = `docs?${filter}=${value}`;        
      // }
      
    }
    
    window.addEventListener('scroll', function() {
      if(window.scrollY > 399) {document.getElementById('link_start_page').style.opacity = '1';}
      else{document.getElementById('link_start_page').style.opacity = '0';}
    });
    
  
  {% include 'core/_docs_model.js' %}
  {% include 'core/_docs_views.js' %}
  </script>
</body>
</html>