{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
  
  <style media="screen">
  .docs-nav-item{
    min-width: 100px;
    position: relative;
    bottom:-1px;
    margin-right:5px;
    padding-bottom:5px;
  }
  .docs-nav-item.active{
    font-weight: bold;
    border-bottom:2px solid #FD7E14;
  }
  .docs-nav-item.home{
    font-weight: bold;
    border-bottom:2px solid #CCC;
  }
  .link_start_page{
    position: fixed;
    bottom: 40px;
    right: 35px;
    opacity:0;
    border: 2px solid #e9ecef;
    border-radius: 30px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    transition: opacity 0.5s ease-in-out;
  }
  .topic_anchor{scroll-margin: 130px;}
  
  @media(min-width: 992px){
    .topic_anchor{scroll-margin: 90px;}
    .fixed-lg{position: fixed;}
  }
  </style>
  <title>Docs</title>
</head>
<body>
  <div class="docs-header bg-light border-bottom sticky-top">
    <div class="container-fluid px-3">
      <div class="row pt-2">
        <div class="col-md">
          <span class="fs-5 text-muted"><i class="fas fa-terminal me-3"></i>
            <span class="text-primary">docs</span> / <a class="text-decoration-none fw-bold">{% block page_title %}index{% endblock %}</a>
          </span>
        </div>
        <div class="col-md-auto mt-2 mt-md-0">
          <!-- HEADER DOCS VERSION -->
            <div class="input-group">
              <input type="search" class="form-control form-control-sm" id="main_search" list="docs_options" name="pesquisa" value="" placeholder="Pesquisa [ / ]">
              <button type="button" class="btn btn-sm btn-primary" name="button" onclick="find();"><i class="fas fa-search"></i></button>
            </div>
            <datalist id="docs_options">
              <option value="Core / Instalação">
            </datalist>
          <!-- END HEADEER DOCS VERSION -->
        </div>
      </div>
      <div class="row mt-3 pr-0">
        <div class="col">
          <ul class="nav text-muted text-center fs-7 user-select-none">
            <li id="man_link_btn" class="nav-item docs-nav-item active"><a class="text-decoration-none text-muted" href="{% url 'docs' %}?page={{page}}"><i class="fas fa-book me-1"></i> Manual</a></li>
            <li id="issues_link_btn" class="nav-item docs-nav-item"><a class="text-decoration-none text-muted" href="{% url 'docs_issues' %}"><i class="fas fa-bug me-1"></i> Issues <sup id="issues_badge" class="badge bg-secondary opacity-75"></sup></a></li>
          </ul>
        </div>
        <div class="col-auto">
          <ul class="nav text-muted text-center fs-7 user-select-none">
            <li class="nav-item docs-nav-item home"><a id="home" class="text-decoration-none text-muted" href="{% url 'index' %}">Voltar</a></li>
          </ul>          
        </div>
      </div>
    </div>
  </div>
  <div id="docs_body" class="container-fluid pt-lg-4">
    <div class="row">
      <!-- INICIO  BODY MAIN-->
      <div id="main_content" class="col-lg mt-4 mt-lg-0 order-2 order-lg-1">
        {% block doc_container %} {% endblock %}
      </div>
      <!-- INICIO  NAVS -->
      <div id="body_nav_container" class="col-lg-4 order-1 order-lg-2">
        <div class="row">
          <div class="col mt-2 fixed-lg">
            <h5 class="fw-bold text-muted">Indice</h5>
            <ul id="nav_container" class="list-unstyled ps-1">
              {% block nav_container %} {% endblock %}
            </ul>
            <div id="nav_tags" class="ps-2">
              {% block badges_container %} {% endblock %}
            </div>
          </div>
        </div>
      </div>
      <!-- END  NAVS -->
    </div>
    <span id="link_start_page" class="link_start_page pointer fs-4 text-muted bg-light shadow-sm" onclick="window.scroll(0,0)"><i class="fas fa-chevron-up"></i></span>
  </div>
  
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/_basicListener.js' %}"></script>
  {% block script_src %}{% endblock %}
  <script>
  {% include '_component/script/update_url.js' %}
  var SHORTCUT_MAP = {
    '/FFF':':search',
  };
  function eventHandler(e){}
  
  function goTo(id){document.getElementById(id).scrollIntoView();}
  function filter(filter, value){location.href = updateUrl(window.location.href, filter, value);}
  function search(){document.getElementById('main_search').select();}
  function find(){
    let target = document.getElementById('main_search').value;
    console.log(target);
  }
  
  window.addEventListener('scroll', function() {
    if(window.scrollY > 399) {document.getElementById('link_start_page').style.opacity = '1';}
    else{document.getElementById('link_start_page').style.opacity = '0';}
  });
  
  {% block script %}{% endblock %}  
  </script>
</body>
</html>