{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="author" content="castelhano.rafael@gmail.com">
  
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
  {% block style_src %}{% endblock %}
  <script>{% block script_preload %}{% endblock %}</script>
  
  <style media="screen">
    @media(min-width: 992px){.navbar-dot{height: 45px;}}
    {% block style %}{% endblock %}
  </style>
  <script src="{% static 'js/listener.js' %}"></script>
  {% if perms.core.debug %}
  <script>window.addEventListener('error', (event) => {document.getElementById('page-error-icon').classList.remove('d-none');});</script>
  <style media="screen">
    .bug_icon{
      display: inline-block;
      position: absolute;
      right: 30px;
      bottom: 30px;
      background-color: #dc3545;
      color: #FFF;
      font-size: 1.5rem;
      padding: 8px 15px;
      border-radius: 50px;
    }
  </style>
  {% endif %}
  <title>{% block title %}SIT{% endblock %}</title>
</head>
<body class="{% block body_classlist %}{% endblock %}" style="{% block body_style %}{% endblock %}">
  <nav class="navbar navbar-expand-lg sticky-top py-1 shadow-sm border-bottom navbar-dot {% block navbar_classlist %}navbar-dark bg-dark bg-gradient{% endblock %}">
    <div class="container-fluid">
      <ul class="navbar-nav"><li class="nav-item"><a class="nav-link ps-0 pe-3" id="home" href="{% url 'index' %}" title="INICIO [ ALT + I ]"><i class="fas fa-th-large fs-5"></i></a></li></ul>
      <a class="navbar-brand user-select-none pt-0">{% block model %} SIT {% endblock%}</a>
      <button class="btn btn-sm navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navControls"><i class="fas fa-bars text-light fs-4"></i></button>
      <div class="collapse navbar-collapse ms-2" id="navControls">
        <ul id="app_nav_controls" class="navbar-nav">
          {% block model_menu %}{% endblock%}
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle pt-1 fw-bold" id="system" href="#" data-bs-toggle="dropdown" title="ALT + S">{{user.username|title}}</a>
            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-end mt-1" id="user_list_options">
              <li><a class="dropdown-item" id="change_password_link" href="{% url 'change_password' %}"><i class="fas fa-fw fa-unlock-alt"></i> Alterar <b>S</b>enha</a></li>
              <li class="d-none d-lg-block"><a class="dropdown-item pointer" id="shortcut_link_list" data-bs-toggle="modal" data-bs-target="#shortcut_modal"><i class="fas fa-fw fa-keyboard"></i> <b>A</b>talhos / Sobre</a></li>
              {% if perms.core.docs %}
              <li><a class="dropdown-item" id="docs_link" href="{% url 'docs' 'core' %}"><i class="fas fa-fw fa-terminal"></i> <b>D</b>ocumentação</a></li>
              {% endif %}
              <li class="d-lg-none"><span class="dropdown-item pointer" onclick="forceReload()"><i class="fas fa-fw fa-sync-alt"></i> Force Reload</span></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-fw fa-sign-out-alt"></i> Sair</a></li>
            </ul>
          </li>
        </ul>          
      </div>
    </div>
  </nav>
  
  <!-- INICIO DO OFFCANVAS -->
  <a  id="messages" data-bs-toggle="offcanvas" href="#offcanvas" role="button"></a>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas">
    <div class="offcanvas-header">
      <h5 id="offcanvas_title">{% block offcanvas_title %}Notificações{% endblock %}</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body pe-0">
      <div class="container-fluid">
        {% block offcanvas_body %}{% endblock %}
        <div class="row pe-3" id="offcanvas_body"></div>
      </div>
    </div>
  </div>
  <!-- FIM DO OFFCANVAS -->
  
  
  <div class="container-fluid">
    {% block content_fluid %}{% endblock %}        
  </div>
  
  {% for message in messages %}
  <div data-type="dotAlert" class="alert alert-{{message.tags}} alert-dismissible fade show mb-1" role="alert">
    {{ message|safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  
  {% if form.errors %}
  {% for field in form %}
  {% if field.errors %}
  {% for error in field.errors %}
  <div data-type="dotAlert" class="alert alert-danger alert-dismissible fade show mb-1" role="alert">
    {{ error|escape }} <span class="fw-bold">[ field: {{ field.name }} ]</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endfor %}
  {% if form.non_field_errors %}
  {% for error in form.non_field_errors %}
  <div class="alert alert-danger alert-dismissible fade show mb-1" role="alert">
    {{ error|safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
  {% endif %}
  {% endif %}
  <div class="modal fade" id="shortcut_modal" tabindex="-1">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content bg-light">
        <div class="row">
          <div class="col"><h5 class="ms-3 mt-3">Atalhos de teclado e informações do sistema</h5></div>
          <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close px-2" data-bs-dismiss="modal" aria-label="Close"></button></div>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg">
              <table class="table table-sm fs-8">
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + I</kbd></td><td>Retorna à tela inicial</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + .</kbd></td><td>Retorna à tela inicial do módulo</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + S</kbd></td><td>Menu de operações do usuário</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + M</kbd></td><td>Painel de notificações</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + N</kbd></td><td>Cria novo registro para janela ativa</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + L</kbd></td><td>Recarrega página ativa (limpa filtros)</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + V</kbd></td><td>Voltar a origem</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>ALT + D</kbd></td><td>Baixa em formato CSV registros da janela ativa (quando disponível)</td></tr>
                <tr><td class="fw-bold" style="min-width:80px;"><kbd>CTRL + /</kbd></td><td>Abre o form de consulta para janela ativa</td></tr>
              </table>
            </div>
            <div class="col-lg-5">
              <div class="callout callout-orange" style="background-color:#FFF;">
                <div class="body">
                  <h5>Sobre o sistema</h5>
                  <table class="fs-7">
                    <tr><td class="pe-3">Versão da Aplicação</td><td class="fw-bold"><span class="badge bg-dark py-1" style="font-size:0.9rem">1.0</span> 30/11/2021</td></tr>
                    <tr><td class="pe-3">Versão Python</td><td class="fw-bold">3.9</td></tr>
                    <tr><td class="pe-3">Versão Django</td><td class="fw-bold">3.2.3</td></tr>
                    <tr><td class="pe-3">Dependências</td><td class=""><span class="badge bg-success" style="font-size:0.8rem">pillow 8.2</span> <span class="badge bg-primary" style="font-size:0.8rem">reportlab 3.5</span></td></tr>
                    <tr><td class="pe-3">Versão Bootstrap</td><td class="fw-bold">5.1</td></tr>
                    <tr><td class="pe-3">Framework JS</td><td class="fw-bold">N/A</td></tr>
                    <tr><td class="pe-3">Desenvolvedor</td><td class="fw-bold">Rafael Gustavo Alves</td></tr>
                    <tr><td class="pe-3">Contato</td><td class="fw-bold">castelhano.rafael@gmail.com</td></tr>
                  </table>
                </div>
              </div>              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  {% if perms.core.debug %}<div id="page-error-icon" class="bug_icon d-none"><i class="fas fa-bug"></i></div>{% endif %}
  
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/dot.js' %}"></script>
  {% block add_script_src %}{% endblock %}
  <script>
    function forceReload(){window.location.href = window.location.href;}
    {% block add_script %}{% endblock %}
  </script>
  <p class="py-5 d-block d-lg-none">&nbsp;</p>
</body>
</html>