<li id="cadastro_list_container" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="menu_cadastro" href="#" data-bs-toggle="dropdown" title="ALT + C"><b>C</b>adastro</a>
  <ul id="cadastro_list_options" class="dropdown-menu dropdown-menu-dark">
    {% if perms.core.view_empresa %}
    <li><a class="dropdown-item" id="cadastro_empresa" href="{% url 'core_empresas' %}"><b>E</b>mpresa</a></li>
    {% endif %}
    {% if perms.auth.view_user %}
    <li><a class="dropdown-item" id="cadastro_usuario" href="{% url 'core_usuarios' %}"><b>U</b>suário</a></li>
    {% endif %}
    {% if perms.auth.view_group %}
    <li><a class="dropdown-item" id="cadastro_grupo" href="{% url 'core_grupos' %}"><b>G</b>rupo</a></li>
    {% endif %}
  </ul>
</li>
<li id="gestao_list_container" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="menu_relatorios" href="#" data-bs-toggle="dropdown" title="ALT + T">G<b>e</b>stão</a>
  <ul id="gestao_list_options" class="dropdown-menu dropdown-menu-dark">
    {% if perms.core.view_alerta %}
    <li><a class="dropdown-item" id="relatorio_alertas" href="{% url 'core_alertas' %}"><b>A</b>lertas</a></li>
    {% endif %}
  </ul>
</li>

<script>
  var SHORTCUT_MAP = {
    'cTFF':'#menu_cadastro',
    'eTFF':'#menu_relatorios',
  };
  if(document.getElementById('cadastro_list_options').childElementCount == 0){document.getElementById('cadastro_list_container').classList.add('d-none');}
  if(document.getElementById('gestao_list_options').childElementCount == 0){document.getElementById('gestao_list_container').classList.add('d-none');}
  function eventHandler(e){
    {% include '_component/script/global_handler.js' %}
    else{
      let cadastro = false;
      let relatorios = false;
      try{cadastro = document.getElementById('menu_cadastro').classList.contains('show') ? true : false;}catch(err){}
      try{relatorios = document.getElementById('menu_relatorios').classList.contains('show') ? true : false;}catch(err){}
      if(cadastro && e.key.toLowerCase() == 'e'){e.preventDefault();document.getElementById('cadastro_empresa').click();}
      else if(cadastro && e.key.toLowerCase() == 'u'){e.preventDefault();document.getElementById('cadastro_usuario').click();}
      else if(cadastro && e.key.toLowerCase() == 'g'){e.preventDefault();document.getElementById('cadastro_grupo').click();}
      else if(relatorios && e.key.toLowerCase() == 'a'){e.preventDefault();document.getElementById('relatorio_alertas').click();}
    }
  }
</script>