{% include "_component/layout/submenulist.html" %}
<li id="cadastro_list_container" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="menu_cadastro" href="#" data-bs-toggle="dropdown" title="ALT + C"><b>C</b>adastro</a>
  <ul id="cadastro_list_options" class="dropdown-menu dropdown-menu-dark">
    <li class="">
      <a class="dropdown-item d-flex justify-content-between align-items-center pointer" id="app_root">Frota<i class="fas fa-chevron-right fs-8"></i></a>
      <ul class="submenu dropdown-menu dropdown-menu-dark">
        <li><a class="dropdown-item" href="#">Foo</a></li>
      </ul>
    </li>
    {% if perms.oficina.view_frota %}<li><a class="dropdown-item"  href="{% url 'oficina_frotas' %}"><b>F</b>rota</a></li>{% endif %}
    {% if perms.oficina.view_marca %}<li><a class="dropdown-item" id="cadastro_marca" href="{% url 'oficina_marcas' %}"><b>M</b>arca</a></li>{% endif %}
    {% if perms.oficina.view_modelo %}<li><a class="dropdown-item" id="cadastro_modelo" href="{% url 'oficina_modelos' %}">M<b>o</b>delo</a></li>{% endif %}
    {% if perms.oficina.view_classificacao %}<li><a class="dropdown-item" id="cadastro_classificacao" href="{% url 'oficina_classificacoes' %}"><b>C</b>lassificação</a></li>{% endif %}
    {% if perms.oficina.view_categoria %}<li><a class="dropdown-item" id="cadastro_categoria" href="{% url 'oficina_categorias' %}">Ca<b>t</b>egoria</a></li>{% endif %}
    {% if perms.oficina.view_carroceria %}<li><a class="dropdown-item" id="cadastro_carroceria" href="{% url 'oficina_carrocerias' %}">Ca<b>r</b>roceria</a></li>{% endif %}
    {% if perms.oficina.view_componente %}<li><a class="dropdown-item" id="cadastro_componente" href="{% url 'oficina_componentes' %}">Com<b>p</b>onente</a></li>{% endif %}
  </ul>
</li>
<script>
  var SHORTCUT_MAP = {
    'cTFF':'#menu_cadastro',
  };
  if(document.getElementById('cadastro_list_options').childElementCount == 0){document.getElementById('cadastro_list_container').classList.add('d-none');}
  function eventHandler(e){
    {% include '_component/script/global_handler.js' %}
    else{
      let cadastro = false;
      try{cadastro = document.getElementById('menu_cadastro').classList.contains('show') ? true : false;}catch(err){}
      // if(cadastro && e.key.toLowerCase() == 'f'){e.preventDefault();document.getElementById('app_root').click();}
      if(cadastro && e.key.toLowerCase() == 'f'){
        e.preventDefault();
        const mouseoverEvent = new Event('mouseover');
        document.getElementById('app_root').dispatchEvent(mouseoverEvent);
      }
      else if(cadastro && e.key.toLowerCase() == 'm'){e.preventDefault();document.getElementById('cadastro_marca').click();}
      else if(cadastro && e.key.toLowerCase() == 'o'){e.preventDefault();document.getElementById('cadastro_modelo').click();}
      else if(cadastro && e.key.toLowerCase() == 'c'){e.preventDefault();document.getElementById('cadastro_classificacao').click();}
      else if(cadastro && e.key.toLowerCase() == 't'){e.preventDefault();document.getElementById('cadastro_categoria').click();}
      else if(cadastro && e.key.toLowerCase() == 'r'){e.preventDefault();document.getElementById('cadastro_carroceria').click();}
      else if(cadastro && e.key.toLowerCase() == 'p'){e.preventDefault();document.getElementById('cadastro_componente').click();}
    }
  }
</script>