<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="menu_cadastro" href="#" data-bs-toggle="dropdown" title="ALT + C"><b>C</b>adastro</a>
  <ul class="dropdown-menu dropdown-menu-dark">
    {% if perms.pessoal.view_funcionario %}
    <li><a class="dropdown-item" id="cadastro_funcionario" href="{% url 'pessoal_funcionarios' %}"><b>F</b>uncionário</a></li>
    {% endif %}
    {% if perms.pessoal.view_setor %}
    <li><a class="dropdown-item" id="cadastro_setor" href="{% url 'pessoal_setores' %}"><b>S</b>etor</a></li>
    {% endif %}
    {% if perms.pessoal.view_cargo %}
    <li><a class="dropdown-item" id="cadastro_cargo" href="{% url 'pessoal_cargos' %}"><b>C</b>argo</a></li>
    {% endif %}
    {% if perms.pessoal.view_funcaofixa %}
    <li><a class="dropdown-item" id="cadastro_funcaofixa" href="{% url 'pessoal_funcoes_fixas' %}">Função Fi<b>x</b>a</a></li>
    {% endif %}
    
  </ul>
</li>

<script>
  var SHORTCUT_MAP = {
    'cTFF':'#menu_cadastro',
  };
  
  function eventHandler(e){
    {% include '_component/script/global_handler.js' %}
    else{
      let cadastro = false;
      try{cadastro = document.getElementById('menu_cadastro').classList.contains('show') ? true : false;}catch(err){}
      if(cadastro && e.key.toLowerCase() == 'f'){e.preventDefault();document.getElementById('cadastro_funcionario').click();}
      else if(cadastro && e.key.toLowerCase() == 's'){e.preventDefault();document.getElementById('cadastro_setor').click();}
      else if(cadastro && e.key.toLowerCase() == 'c'){e.preventDefault();document.getElementById('cadastro_cargo').click();}
      else if(cadastro && e.key.toLowerCase() == 'x'){e.preventDefault();document.getElementById('cadastro_funcaofixa').click();}
    }
  }
</script>