{% include "_component/layout/submenulist.html" %}
<li id="cadastro_list_container" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="menu_cadastro" href="#" data-bs-toggle="dropdown" title="ALT + C"><b>C</b>adastro</a>
  <ul id="cadastro_list_options" class="dropdown-menu">
    <li id="cadastro_sinistro_list_container">
      <a id="submenu_sinistro_link" class="dropdown-item d-flex justify-content-between align-items-center pointer" data-bs-toggle="dropdown"><span><b>S</b>inistro</span><i class="fas fa-chevron-right fs-8"></i></a>
      <ul id="cadastro_sinistro_list_options" class="submenu dropdown-menu">
        {% if perms.sinistro.view_acidente %}<li><a class="dropdown-item" id="app_root" href="{% url 'sinistro_acidentes' %}"><b>A</b>cidente</a></li>{% endif %}
        {% if perms.sinistro.view_classificacao %}<li><a class="dropdown-item" id="cadastro_classificacao" href="{% url 'sinistro_classificacoes' %}"><b>C</b>lassificação</a></li>{% endif %}
        {% if perms.sinistro.view_tipodespesa %}<li><a class="dropdown-item" id="cadastro_tipodespesa" href="{% url 'sinistro_tipos_despesa' %}"><b>T</b>ipos Despesa</a></li>{% endif %}
        {% if perms.sinistro.view_forma %}<li><a class="dropdown-item" id="cadastro_forma" href="{% url 'sinistro_formas' %}"><b>F</b>ormas de Pgto</a></li>{% endif %}
        {% if perms.sinistro.view_oficina %}<li><a class="dropdown-item" id="cadastro_oficina" href="{% url 'sinistro_oficinas' %}"><b>O</b>ficina</a></li>{% endif %}
      </ul>
    </li>
    <li id="cadastro_docs_list_container">
      <a id="submenu_docs_link" class="dropdown-item d-flex justify-content-between align-items-center pointer" data-bs-toggle="dropdown"><span><b>D</b>ocs</span><i class="fas fa-chevron-right fs-8"></i></a>
      <ul id="cadastro_docs_list_options" class="submenu dropdown-menu">
        {% if perms.sinistro.view_termo %}<li><a class="dropdown-item" id="cadastro_termo" href="{% url 'sinistro_termos' %}"><b>T</b>ermos</a></li>{% endif %}
      </ul>
    </li>
  </ul>
</li>
<script>
  
  SHORTCUT_MAP['cTFF'] = () => {document.getElementById('menu_cadastro').click()}
  SHORTCUT_MAP['dFFF'] = () => {if(exibindoCadastro()){try{submenuToggle(document.getElementById('submenu_docs_link'));}catch(e){}}}
  
  if(document.getElementById('cadastro_sinistro_list_options').childElementCount == 0){document.getElementById('cadastro_sinistro_list_container').classList.add('d-none');}
  else{
    SHORTCUT_MAP['sFFF'] = () => {if(exibindoCadastro()){try{submenuToggle(document.getElementById('submenu_sinistro_link'));}catch(e){}}}
    SHORTCUT_MAP['aFFF'] = () => {if(exibindoCadastroSinistro()){try{document.getElementById('app_root').click();}catch (e){}}}
    SHORTCUT_MAP['cFFF'] = () => {if(exibindoCadastroSinistro()){try{document.getElementById('cadastro_classificacao').click();}catch (e){}}}
    SHORTCUT_MAP['fFFF'] = () => {if(exibindoCadastroSinistro()){try{document.getElementById('cadastro_forma').click();}catch (e){}}}
    SHORTCUT_MAP['oFFF'] = () => {if(exibindoCadastroSinistro()){try{document.getElementById('cadastro_oficina').click();}catch (e){}}}
    
  }
  if(document.getElementById('cadastro_docs_list_options').childElementCount == 0){document.getElementById('cadastro_docs_list_container').classList.add('d-none');}
  SHORTCUT_MAP['tFFF'] = () => {
    if(exibindoCadastroSinistro()){try{document.getElementById('cadastro_tipodespesa').click();}catch (e){}}
    else if(exibindoCadastroDocs()){try{document.getElementById('cadastro_termo').click();}catch (e){}}
  }
  
  function exibindoCadastro(){return document.getElementById('menu_cadastro').classList.contains('show') ? true : false;}
  function exibindoCadastroSinistro(){return document.getElementById('cadastro_sinistro_list_options').style.display == 'block' ? true : false;}
  function exibindoCadastroDocs(){return document.getElementById('cadastro_docs_list_options').style.display == 'block' ? true : false;}

</script>