<li id="cadastro_list_container" class="nav-item dropdown">
  <a class="nav-link dropdown-toggle" id="menu_cadastro" href="#" data-bs-toggle="dropdown" title="ALT + C"><b>C</b>adastro</a>
  <ul id="cadastro_list_options" class="dropdown-menu dropdown-menu-dark">
    {% if perms.trafego.view_linha %}<li><a class="dropdown-item" id="app_root" href="{% url 'trafego_linhas' %}"><b>L</b>inha</a></li>{% endif %}
    {% if perms.trafego.view_localidade %}<li><a class="dropdown-item" id="cadastro_localidade" href="{% url 'trafego_localidades' %}">L<b>o</b>calidade</a></li>{% endif %}
    {% if perms.trafego.view_evento %}<li><a class="dropdown-item" id="cadastro_evento" href="{% url 'trafego_eventos' %}"><b>E</b>vento</a></li>{% endif %}
    {% if perms.trafego.view_providencia %}<li><a class="dropdown-item" id="cadastro_providencia" href="{% url 'trafego_providencias' %}"><b>P</b>rovidência</a></li>{% endif %}
  </ul>
</li>
{% if perms.trafego.view_planejamento %}
<li class="nav-item">
  <a class="nav-link" id="menu_planejamento" href="{% url 'trafego_planejamentos' %}" title="ALT + P"><i class="fas fa-route me-1"></i> <b>P</b>lanejamento</a>
</li>
{% endif %}
{% if perms.trafego.view_ocorrencia %}
<li class="nav-item">
  <a class="nav-link" id="menu_ocorrencias" href="{% url 'trafego_ocorrencias' %}" title="ALT + O"><i class="fas fa-check-square me-1"></i> <b>O</b>corrências</a>
</li>
{% endif %}
<script>
  SHORTCUT_MAP['cTFF'] = '#menu_cadastro';
  SHORTCUT_MAP['oTFF'] = '#menu_ocorrencias';
  SHORTCUT_MAP['pTFF'] = '#menu_planejamento';
  
  if(document.getElementById('cadastro_list_options').childElementCount == 0){document.getElementById('cadastro_list_container').classList.add('d-none');}
  function eventHandler(e){
    {% include '_component/menu/global_handler.js' %}
    else{
      let cadastro = false;
      try{cadastro = document.getElementById('menu_cadastro').classList.contains('show') ? true : false;}catch(err){}
      if(cadastro && e.key.toLowerCase() == 'l'){e.preventDefault();document.getElementById('app_root').click();}
      else if(cadastro && e.key.toLowerCase() == 'o'){e.preventDefault();document.getElementById('cadastro_localidade').click();}
      else if(cadastro && e.key.toLowerCase() == 'e'){e.preventDefault();document.getElementById('cadastro_evento').click();}
      else if(cadastro && e.key.toLowerCase() == 'p'){e.preventDefault();document.getElementById('cadastro_providencia').click();}
    }
  }
</script>