<div class="card-body tab-content">
    <h5 class="card-title mb-0">Cadastro de Ativo</h5>
    <h6 class="mb-0{% if ativo.status != 'A' %} text-orange{% endif %}">{{ativo.get_status_display|upper}}</h6>
    <div class="mb-2 fs-7">Descarte em: <b>{{ativo.vencimento|date:'d/m/Y'|default:'--'}}</b></div>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
            <div class="col-lg">
                <div class="row g-1">
                    {% include "_component/field/empresa.html" with empresa_atual=ativo.empresa.id|safe attrs='autofocus' container_classlist='form-floating mb-lg-1 col-lg' %}
                    <div class="form-floating mb-1 col-lg">
                        {{ form.setor }}
                        <label for="id_setor">Setor</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-lg-1 col-lg-3">
                        {{ form.entrada }}
                        <label for="id_entrada">Entrada</label>
                    </div>
                    <div class="form-floating mb-lg-1 col-lg-4">
                        {{ form.grupo }}
                        <label for="id_grupo">Grupo</label>
                    </div>
                    <div class="form-floating mb-lg-1 col-lg-5">
                        {{ form.responsavel }}
                        <label for="id_responsavel">Responsável</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="form-floating mb-1 col-12">
                        {{ form.chaves }}
                        <label for="id_chaves">Palavras chave</label>
                    </div>
                </div>
                <div class="row g-1">
                    <div class="col-12"><input class="form-control" type="file" id="id_files" name="files" multiple{% if ativo.fisico %} disabled{% endif %} ></div>
                </div>
                <div class="form-check form-switch mt-2">
                    {{ form.fisico }}
                    <label class="form-check-label" for="id_fisico">Arquivo Físico</label>
                </div>
                <div id="hide_container" class="row g-1 mt-2{{ativo.fisico|yesno:', d-none'}}">
                    <div class="form-floating mb-1 col-lg-2">
                        {{ form.container }}
                        <label for="id_container">Container</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row g-2">
                    {% for file in ativo.files %}
                    <div class="col-6">
                        <div class="card pointer">
                            <div class="card-body bg-light">
                                <div class="float-end"><i class="fas fa-download widget-icon"></i></div>
                                <h1 class="text-uppercase">{{file.extensao}}</h1>
                                <a class="stretched-link" href="{% url 'arquivo_file_download' file.id|safe %}">{{file.filename}}</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% if ativo.files %}
                <div class="text-end mb-1"><a href="#" onclick="dotNotify('warning', 'Em desenvolvimento....')"><i class="fas fa-download fa-fw"></i> Baixar todos</a></div>
                {% endif %}
            </div>
        </div>
        
    </div>
    <!-- CONTROLES DO FORM -->
    <div class="row mt-3">
        <div class="col">
            <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
        </div>
    </div>
</div>