{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Ativo{% endblock %}
{% block model %}Arquivo{% endblock %}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/vendor/tagin.css' %}" type="text/css"/>
{% endblock %}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'arquivo_ativo_add' %}"></a>
<a class="d-none" id="app_root" href="{% url 'arquivo_ativos' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'arquivo_ativos' %}"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <form id="arquivo_form" action="{% url 'arquivo_ativo_add' %}" method="POST" autocomplete="off" enctype="multipart/form-data" onsubmit="return submitForm()">
    {% csrf_token %}
        {% include 'arquivo/_form_ativo.html' %}
    </form>
</div>

{% include "_component/modal/loading.html" with message='Processando requisição....' background='' spinner_classlist='' message_classlist='' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/tagin.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
var TAB_ON_ENTER = true;
const keys = new Tagin(document.getElementById('id_chaves'), {
    separator:';',
    tagColor: 'purple',
    placeholder: 'Separar por ;'
});

document.getElementById('id_fisico').onclick = (e) => {
    if(e.target.checked){
        document.getElementById('hide_container').classList.remove('d-none');
        document.getElementById('id_container').focus();
        document.getElementById('id_files').disabled = true;
    }
    else{
        document.getElementById('hide_container').classList.add('d-none');
        document.getElementById('id_container').value = '';
        document.getElementById('id_files').disabled = false;
    }
};

var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
function submitForm(){
    if(keys.getValue() == ''){
        dotAlert('danger', 'Informe <b>pelo menos uma chave</b> para consulta do ativo');
        keys.input.focus();
        return false;
    }
    modal_loading.show();
    return true;
}

{% endblock %}
</script>