{% extends "layout/dot.html" %}
{% load static %}
{% load tag_extra %}
{% block title %}Arquivo{% endblock %}
{% block model %}Arquivo{% endblock %}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/chart.css' %}">
{% endblock %}

<style>
{% block style %}
.card-limite:hover{
    background-color: var(--bs-secondary-bg);
}
{% endblock %}
</style>

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'arquivo_ativos' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            {% if perms.arquivo.add_ativo %}
            <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'arquivo_ativo_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
            {% endif %}
            <li class="nav-item"><a class="nav-link pointer" id="search" href="{% url 'arquivo_ativos' %}?search=true" title="CTRL + /"><i class="fas fa-search"></i></a></li>
            <li id="modelos_auxiliares_container" class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-dark" id="arquivo_extra" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul id="modelos_auxiliares_list" class="dropdown-menu">
                    {% if perms.arquivo.view_container %}<li><a class="dropdown-item" href="{% url 'arquivo_containers' %}"><i class="fas fa-fw fa-boxes"></i> Containers</a></li>{% endif %}
                    {% if perms.arquivo.view_grupo %}<li><a class="dropdown-item" href="{% url 'arquivo_grupos' %}"><i class="fas fa-fw fa-layer-group"></i> Grupos</a></li>{% endif %}
                    {% if perms.arquivo.view_limite %}<li><a class="dropdown-item" href="{% url 'arquivo_limites' %}" onclick="modal_loading.show()"><i class="fas fa-fw fa-battery-half"></i> Limites</a></li>{% endif %}
                    {% if perms.arquivo.descartar_ativo %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a id="ativos_gestao_link" class="dropdown-item" href="{% url 'arquivo_ativo_gestao' %}" title="Ctrl + G"><i class="fas fa-fw fa-history"></i> Vencidos</a></li>
                    {% endif %}
                    {% if perms.core.view_log %}<li><a class="dropdown-item" href="{% url 'logs' %}?target_model=arquivo.ativo&mensagem=DELETE" target="_blank"><i class="fas fa-clipboard-list fa-fw"></i> Log de Exclusões</a></li> {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="row">
            <div class="col-lg"><h5 class="card-title mb-1 mb-lg-3">Arquivo Inativo</h5></div>
            <div class="col-lg-auto mb-3 mb-lg-1">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" role="switch" name="hd_usage" id="id_hd_usage"{% if request.GET.hd_usage == 'true' %} checked{% endif %}>
                    <label class="form-check-label" for="id_hd_usage">Calcular uso de disco</label>
                </div>
            </div>
        </div>
        <div class="row gy-2">
            <div class="col-lg-3 order-2 order-lg-1">
                <div class="card mb-2">
                    <div class="card-body">
                        <div class="float-end"><i class="fas fa-layer-group widget-icon"></i></div>
                        <h5 class="fw-normal">Ocupação</h5>
                        <div class="row mt-4 gy-1" id="containers_list"></div>
                    </div>
                </div>
            </div>
            <div class="col-lg order-1 order-1 order-lg-2">
                <div class="row gx-3 gy-2">
                    {% for limite in limites %}
                    <div class="col-lg-6">
                        <div class="card card-limite mb-2">
                            <div class="card-body pb-2 text-body-secondary">
                                {% if perms.arquivo.change_limite %}
                                <a href="{% url 'arquivo_limite_id' limite.id|safe %}" class="stretched-link"><h4 class="text-center">{{limite.empresa.nome}}</h4></a>
                                {% else %}
                                <h4 class="text-center">{{limite.empresa.nome}}</h4>
                                {% endif %}
                                <div class="row g-0">
                                    {% with limite.ocupacao as ocupacao %}
                                    <div class="col-auto p-0"><div class="semipie animate mb-1" style="--v:{{ocupacao|minimo:100|floatformat:0}};--w:150px;--b:30px;--c:var({% if ocupacao >= 90 %}--bs-danger{% elif ocupacao >= 80 %}--bs-warning{% else %}--bs-success{% endif %});">{{ocupacao|floatformat:0}}%</div><br><small>Limite: {{limite.quantidade}} un</small></div>
                                    {% endwith %}
                                    <div class="col text-end">
                                        <h3>{{limite.ativos}} <span class="fs-6">un</span></h3>
                                        {% if request.GET.hd_usage == 'true' %}
                                        <h3>{{limite.hd_usage.0|filesizeformat}}</h3>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="col-lg-2 order-3">
                <div class="card mb-2 mb-lg-3">
                    <div class="card-body bg-light text-body-secondary">
                        <div class="float-end"><i class="fas fa-box widget-icon"></i></div>
                        <h5 class="fw-normal">FÍSICOS</h5>
                        <h1>{{fisicos}}<span class="fs-6"> un</span></h1>
                        {% if fisicos_vencidos > 0 and perms.arquivo.descartar_ativo %}
                        <h6><a href="{% url 'arquivo_ativo_gestao' %}" title="Listar ativos vencidos"><i class="fas fa-history me-1"></i> {{fisicos_vencidos}} vencido{{fisicos_vencidos|pluralize}}</a></h6>
                        {% endif %}
                    </div>
                </div>
                <div class="card">
                    <div class="card-body bg-light text-body-secondary">
                        <div class="float-end"><i class="fas fa-folder-open widget-icon"></i></div>
                        <h5 class="fw-normal">DIGITAIS</h5>
                        <h1>{{digitais}}<span class="fs-6"> un</span></h1>
                        {% if digitais_vencidos > 0 and perms.arquivo.descartar_ativo %}
                        <h6><a href="{% url 'arquivo_ativo_gestao' %}" title="Listar ativos vencidos"><i class="fas fa-history me-1"></i> {{digitais_vencidos}} vencido{{digitais_vencidos|pluralize}}</a></h6>
                        {% endif %}
                        {% if request.GET.hd_usage == 'true' %}
                        <h6 class="mb-0">{{hd_usage|filesizeformat}}</h6>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include "_component/modal/loading.html" with message='Processando requisição....' background='' spinner_classlist='' message_classlist='' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}

    if(document.getElementById('modelos_auxiliares_list').childElementCount == 0){document.getElementById('modelos_auxiliares_container').classList.add('d-none');}

    SHORTCUT_MAP[';FTF'] = () => {
        document.getElementById('arquivo_extra').click();
    }
    {% if perms.arquivo.descartar_ativo %}
    SHORTCUT_MAP['gFTF'] = () => {document.getElementById('ativos_gestao_link').click();}
    {% endif %}
    
    function ocupacaoContainers() {
        var xhttp = new XMLHttpRequest();
        let list = document.getElementById('containers_list');
        xhttp.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200){
                if(this.responseText == ''){
                    list.innerHTML = 'Nenhum container cadastrado';
                }
                else{
                    let obj = JSON.parse(this.responseText);
                    for(item in obj){
                        let c1 = document.createElement('div');c1.classList = 'col-4';
                        c1.innerHTML = obj[item].nome;
                        let c2 = document.createElement('div');c2.classList = 'col-8';
                        c2.innerHTML = `<div class="progress" role="progressbar" style="height: 22px;"><div class="progress-bar" style="width: ${parseInt(obj[item].ocupacao)}%">${parseInt(obj[item].ocupacao)}%</div></div>`;
                        list.appendChild(c1);
                        list.appendChild(c2);
                    }
                }
            }
        };
        xhttp.open("GET", "{% url 'arquivo_get_containers' %}", true);
        xhttp.send();
    }
    ocupacaoContainers();

    var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
    document.getElementById('id_hd_usage').onclick = (ev) => {
        modal_loading.show();
        if(ev.target.checked){urlFilter('hd_usage', 'true')}
        else{urlClean(['hd_usage'])}
    };
    
    {% endblock %}
</script>