{% extends "layout/dot.html" %}
{% load static %}
{% block title %}{% endblock %}
{% block model %}{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'arquivo_ativo_gestao' %}"></a>
<a class="d-none" id="app_root" href="{% url 'arquivo_ativos' %}"></a>

<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'arquivo_ativos' %}"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title">Arquivo: <b class="text-orange">Gestor</b></h5>
        <div class="dropdown">
            <button class="btn btn-sm btn-secondary dropdown-toggle" id="selecionados_button" type="button" data-bs-toggle="dropdown" disabled><i class="fas fa-check-square me-2"></i></button>
            <ul class="dropdown-menu fs-7">
                <li><a class="dropdown-item dropdown-item-danger" href="#" data-bs-toggle="modal" data-bs-target="#descartar_modal" onclick="descartarModal()"><i class="fas fa-trash fa-fw"></i> Descartar</a></li>
            </ul>
        </div>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <div class="row g-3">
                <div class="col-lg">
                    <table id="main_table" class="table border table-striped table-hover">
                        <caption><h6>Ativos Físicos</h6></caption>
                        <thead>
                            <tr>
                                <th class="fit" data-sort_role="none"><input type="checkbox" class="form-check-input" id="ativos_vencidos_checkAll"></th>
                                <th>#</th>
                                <th>Container</th>
                                <th class="d-none d-lg-table-cell">Empresa</th>
                                <th class="d-none d-lg-table-cell">Setor</th>
                                <th class="d-none d-lg-table-cell">Grupo</th>
                                <th class="d-none d-md-table-cell">Vencimento</th>
                                {% if perms.arquivo.change_ativo %}
                                <th data-sort_role="none">&nbsp;</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for ativo in fisicos_vencidos %}
                            <tr>
                                <td><input type="checkbox" class="form-check-input" data-ativo_ref="{{ativo.id|safe}}"></td>
                                <td>{{ativo.id|safe}}</td>
                                <td>{{ativo.container.nome}}</td>
                                <td class="d-none d-lg-table-cell">{{ativo.empresa.nome}}</td>
                                <td class="d-none d-lg-table-cell">{{ativo.setor.nome}}</td>
                                <td class="d-none d-lg-table-cell">{{ativo.grupo.nome}}</td>
                                <td class="d-none d-md-table-cell">{{ativo.vencimento|date:'d/m/Y'}}</td>
                                {% if perms.arquivo.change_ativo %}
                                <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'arquivo_ativo_id' ativo.id|safe %}"><i class="fas fa-pen"></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-4">
                    <div class="card">
                        <div class="card-body bg-light text-body-secondary">
                            <div class="row">
                                <div class="col-md">
                                    <h5>Digitais Vencidos</h5>
                                    <h2><span id="digitais_vencidos_count">{{digitais_vencidos.count}}</span> <span class="fs-6">un</span></h2>
                                    <h4>{{digitais_vencidos_size|filesizeformat}}</h4>
                                </div>
                                <div class="col-md-auto mt-2 mt-md-0">
                                    <div class="d-grid gap-2">
                                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#descartar_modal" onclick="descartarModal('D')" type="button"{% if digitais_vencidos.count == 0 %} disabled{% endif %}>Excluir Todos</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="tab-pane fade" id="param" role="tabpanel">param</div>
    </div>
</div>

<div class="modal fade" id="descartar_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3 text-danger"><i class="fas fa-exclamation-circle fa-fw"></i> Descarte de ativos</h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal"></button></div>
            </div>
            <div class="modal-body text-justify">
                <p><b>ATENÇÃO</b>: Ao confirmar todos os <span class="text-danger fw-bold" id="selecionados_counter_label"></span> ativos selecionados serão descartados, e todos os anexos excluidos permanentemente.</p>
                <p><b>Este processo não pode ser desfeito.</b> Confirma operação</p>
                <form id="fisicos_form" action="{% url 'arquivo_ativo_descartar_em_lote' %}" method="POST" autocomplete="off" onsubmit="return submitForm();">
                    {% csrf_token %}
                    <input type="hidden" id="id_selecionados" name="selecionados" value="">
                    <div class="float-end mt-2">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Cancelar</button>
                        <button class="btn btn-danger" id="descartar_submit" type="submit" disabled>Descartar todos <span id="descartar_contador"></span></button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% include "_component/modal/loading.html" with message='Limpando ativos....' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}

var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
function submitForm(){
    try {
        modal_loading.show();
        return true;
    } catch(e){return false}
}

let digitais_vencidos_id = '';
{% for ativo in digitais_vencidos %}
digitais_vencidos_id += '{{ativo.id|safe}};';
{% endfor %}

const checkAll = document.getElementById('ativos_vencidos_checkAll');
const itens = document.querySelectorAll('[data-ativo_ref]');


itens.forEach((el) =>{ // Adiciona listener para evento click nos ativos, altera status no checkbox principal para indeterminate
    el.onclick = () => {checkAll.indeterminate = true;checkSelected()}
})

checkAll.onclick = () => {
    itens.forEach((el) => {el.checked = checkAll.checked})
    checkSelected();    
}

function checkSelected(){ // Exibe ou oculta dropdown comopcao para itens selecionados
    let anySelected = document.querySelector('[data-ativo_ref]:checked');
    if(anySelected){document.getElementById('selecionados_button').disabled = false;}
    else{document.getElementById('selecionados_button').disabled = true;}
}


function descartarModal(target='F'){
    document.getElementById('descartar_submit').disabled = true;
    document.getElementById('descartar_contador').innerHTML = 10;
    let input = document.getElementById('id_selecionados');
    let count = 0;
    let ids_list = '';
    if(target == 'D'){
        count = document.getElementById('digitais_vencidos_count').innerText;
        ids_list = digitais_vencidos_id;
    }
    else{
        let selecionados = document.querySelectorAll('[data-ativo_ref]:checked');
        count = selecionados.length;
        for(i=0; i < count; i++){ ids_list += `${selecionados[i].dataset.ativo_ref};`; }

    }
    input.value = ids_list.substring(0, ids_list.length - 1);
    document.getElementById('selecionados_counter_label').innerHTML = count;
    let minterv = setInterval(()=>{document.getElementById('descartar_contador').innerText -= 1; }, 1000);
    setTimeout(()=>{
        document.getElementById('descartar_submit').disabled = false;
        clearInterval(minterv);
        document.getElementById('descartar_contador').innerHTML = '';
    }, 10000);
}




const table = new jsTable(document.getElementById('main_table'), {
    canFilter: true,
    filterCols: ['Container']
});

SHORTCUT_MAP['fFTF'] = () => {table.filterInput.select()};
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow()}
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow()}
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow()}
SHORTCUT_MAP[' FTF'] = () => {itens[table.activeRow].click()}
SHORTCUT_MAP['tTFF'] = () => {checkAll.click()}
SHORTCUT_MAP['enterFTF'] = () => {document.getElementById('selecionados_button').click()}

{% endblock %}
</script>