{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Escalas - Globus{% endblock %}
{% block model %}Escala - Globus{% endblock %}
{% block navbar_classlist %}navbar-dark bg-orange bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/visitor.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'globus_escala_importar' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'globus_escalas' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'globus_escala_importar' %}" method="POST" autocomplete="off" enctype="multipart/form-data" onsubmit="return submitForm()">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-3">Importar Escala Globus</h5>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
          <div class="col-lg-5">
            {% include "_component/field/empresa.html" with empresa_atual=empresa|safe attrs='onchange="cleanForm()" autofocus' %}
            <div class="row g-1">
              <div class="mb-1 col-12">
                <input type="file" class="form-control" name="arquivo" id="id_arquivo" accept=".txt , .csv" onchange="cleanForm()">
              </div>
            </div>
            <input type="hidden" name="validado" id="id_validado" value="{{validado}}">
            <input type="hidden" name="simular" id="id_simular" value="True">
            <input type="hidden" name="dados_validados" id="id_dados_validados" value="{{dados_validados}}">
            <div class="row mt-3">
              <div class="col">
                <button type="submit" id="validar" class="btn btn-secondary">Validar Arquivo</button>
                <button type="submit" id="importar" class="btn btn-primary"{% if not validado %} disabled{% endif %} onclick="document.getElementById('id_simular').value = 'False'">Importar</button>
              </div>
            </div>
          </div>
          <div class="col-lg">
            {% if erros %}
            <table id="messages_table" class="table table-sm border caption-top table-striped table-hover">
              <caption class="text-end"><span id="download" class="text-purple pointer" onclick="download_table_as_csv('messages_table',';')" title="ALT + D">Resumo</span> | <span class="text-purple pointer" onclick="download_table_as_csv('rows_table',';')">Detalhe</span></caption>
              <thead>
                <tr>
                  <th>#</th>
                  <th>Mensagem de erro</th>
                </tr>
              </thead>
              <tbody>
                {% for erro in erros %}
                <tr class="table-danger">
                  <td>{{forloop.counter}}</td>
                  <td>{{erro}}</td>
                </tr>
                {% endfor %}
              </tbody>                  
            </table>
            <table class="d-none" id="rows_table">
              {% for row in row_erros %}
              <tr>
                <td>{{row}}</td>
              </tr>
              {% endfor %}
            </table>
            {% endif %}
            {% if alertas %}
            <table class="table table-sm border caption-top table-striped table-hover">
              <thead>
                <tr>
                  <th>Alertas</th>
                </tr>
              </thead>
              <tbody>
                {% for alerta in alertas %}
                <tr class="table-warning">
                  <td>{{alerta}}</td>
                </tr>
                {% endfor %}
              </tbody>                  
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
</div>

{% include "_component/modal/loading.html" with message='Este processo pode demorar vários minutos....' spinner_classlist='text-danger' %} 
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_extra.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
  function submitForm(){modal_loading.show();return true;}
  
  function cleanForm(){
    document.getElementById('id_validado').value = 'False';
    document.getElementById('id_simular').value = 'True';
    document.getElementById('importar').disabled = 'True';
    document.getElementById('id_dados_validados').value = '';    
  }
  
  {% endblock %}
</script>