{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block model %}Escala - Globus{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-orange bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/visitor.html" %}{% endblock%}
{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'globus_settings' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'globus_escalas' %}"><i class="fas fa-undo"></i></a></li>
      {% if settings %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#history_modal">Historico</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  {% if settings %}
  <form id="app_form" action="{% url 'globus_settings_update' settings.id|safe %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-4">Settings: <b class="text-orange">Escala Globus</b></h5>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-1">
          {% include "_component/field/empresa.html" with empresa_atual=settings.empresa.id|safe container_classlist='form-floating col-lg-6 mb-1' attrs='onchange="urlFilter(\'empresa\', this.value)" autofocus' %}
        </div>
        <div class="row g-1">
        	<div class="form-floating mb-lg-1 col-lg-3">
        		{{ form.consulta_escala_inicio }}
        		<label for="id_consulta_escala_inicio">Inicio consulta</label>
        	</div>
          <div class="form-floating mb-1 col-lg-3">
        		{{ form.consulta_escala_fim }}
        		<label for="id_consulta_escala_fim">Termino consulta</label>
        	</div>
        </div>
      </div>
      <!-- CONTROLES DO FORM -->
      <div class="row mt-3">
        <div class="col">
          <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"{% if not perms.globus.change_settings %} disabled{% endif %}><b>G</b>ravar</button>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="card-body tab-content">
    <h5 class="card-title mb-4">Settings: <b class="text-orange">Escala Globus</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <div class="row g-1">
        {% include "_component/field/empresa.html" with blank_row='true' blank_row_message='Escolha uma empresa' container_classlist='form-floating col-lg-6 mb-1' attrs='onchange="urlFilter(\'empresa\', this.value)" autofocus' %}
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% if settings %}
<div class="modal fade" id="history_modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Histórico <sup>(last 15)</sup></h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <table class="table table-sm">
          <thead>
            <tr>
              <th>Data</th>
              <th>Operação</th>
              <th>Usuário</th>
            </tr>
          </thead>
          <tbody class="fs-7">
            {% for i in settings.ultimas_alteracoes %}
            <tr>
              <td>{{i.data|date:'d/m/Y H:i:s'}}</td>
              <td>{{i.mensagem}}</td>
              <td>{{i.usuario.username|upper|default:'None'}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/url.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
dateInputExtra_start();
var TAB_ON_ENTER = true;
{% endblock %}
</script>