{% extends "layout/dot.html" %}
{% load static %}
{% load tag_extra %}
{% block title %}Escalas - Globus{% endblock %}
{% block model %}Escala - Globus{% endblock %}
{% block navbar_classlist %}navbar-dark bg-orange bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/visitor.html" %}{% endblock%}

  
<style media="screen">
{% block style %}
h6{margin: 0px;}
h7{display: block;}
{% endblock%}
</style>

{% block content_fluid %}
<a class="d-none" id="clear" href="{{ request.get_full_path }}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.globus.add_viagem %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'globus_viagem_add' escala.id|safe %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if request|url_get:'from' == 'consultar_escala' %}
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'globus_consultar_escala' %}?data={{escala.data|date:'Y-m-d'}}"><i class="fas fa-undo"></i></a></li>
      {% elif request|url_get:'from' == 'localizar_escala' %}
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'globus_localizar_escala' %}"><i class="fas fa-undo"></i></a></li>
      {% else %}
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'globus_escalas' %}?data={{escala.data|date:'Y-m-d'}}"><i class="fas fa-undo"></i></a></li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-0">Viagens</h5>
    <span class="fs-7 fw-bold text-muted">{{escala.linha.codigo}} - {{escala.linha.nome}} [ {{escala.tabela|default:'---'}} ]<br />{{escala.data|date:'d/m/Y'}}</span>
    <div class="tab-pane fade show active mt-2" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover fs-7">
        <caption>
          <span class="px-2 border rounded fs-7" style="background-color: rgb(255, 243, 205);">Leg</span> Improdutiva
        </caption>
        <thead>
          <tr>
            <th class="d-none d-lg-table-cell">Seq</th>
            <th>Linha</th>
            <th>Sentido</th>
            <th>Inicio</th>
            <th>Fim</th>
            <th class="d-none d-lg-table-cell">Extra</th>
            {% if perms.globus.change_viagem %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for viagem in viagens %}
          <tr class="{% if not viagem.produtiva %}table-warning{% endif %}">
            <td class="d-none d-lg-table-cell">{{forloop.counter}}</td>
            <td><h6>{{viagem.escala.linha.codigo}}</h6><span>{{viagem.get_sentido_display|default:'--'}}</span></td>
            <td><h7>{{viagem.origem|default:'--'}}</h7><span>{{viagem.destino|default:'--'}}</span></td>
            <td>{{viagem.inicio}}</td>
            <td>{{viagem.termino}}</td>
            <td class="d-none d-lg-table-cell">{{viagem.extra|yesno:"<b class='text-purple'>Extra</b>,"|safe}}</td>
            {% if perms.globus.change_viagem %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'globus_viagem_id' viagem.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="7">Nenhum registro a exibir</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="param" role="tabpanel">param</div>
  </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="globus_form" action="url" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control" name="pesquisa" value="" id="id_pesquisa" placeholder="">
              <label for="id_pesquisa">Termo pesquisa</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<SCRipt>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {
  canSort: false,
  canExportJson: true
});

{% endblock %}
</SCRipt>