{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Portaria{% endblock %}
{% block model %}Portaria{% endblock %}
<style>
    {% block style %}
    .area{
        display: flex;
        gap: 12px;
        margin-bottom: 20px;
    }
    .vaga{
        position: relative;
        text-align: center;
        font-size: 18px;
        cursor: pointer;
        user-select: none;
        border-bottom: 4px solid var(--bs-border-color)!important;
    }
    .vaga-inativa{background-color: var(--bs-danger-bg-subtle)!important;}
    .vaga-ocupada{background-color: var(--bs-warning-bg-subtle)!important;}
    .vaga-icon{
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 0.8rem;
        color: lightslategray;
    }
    .vaga:hover{border-color: #888!important;}
    
    {% endblock %}
</style>

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li id="modelos_auxiliares_container" class="nav-item dropdown ms-1">
                <a class="nav-link dropdown-toggle text-dark" id="portaria_extra" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul id="modelos_auxiliares_list" class="dropdown-menu fs-7">
                    {% if perms.portaria.view_veiculo %}<li><a class="dropdown-item" href="{% url 'portaria_veiculos' %}"><i class="fas fa-fw fa-car"></i> Funcionários</a></li>{% endif %}
                    {% if perms.portaria.view_visitante %}<li><a class="dropdown-item" href="{% url 'portaria_visitantes' %}"><i class="fas fa-fw fa-users"></i> Visitantes</a></li>{% endif %}
                    {% if perms.portaria.view_vaga %}<li><a class="dropdown-item" href="{% url 'portaria_vagas' %}"><i class="fas fa-fw fa-th"></i> Vagas</a></li>{% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <div class="row">
            <div class="col">
                <h5 class="card-title mb-3">Controle de Portaria</h5>
            </div>
            <div class="col-auto">
                <a id="clear" href="{% url 'portaria_movimentacao' %}">Atualizar</a>
            </div>
        </div>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <div class="row">
                {% for area in areas %}
                <div class="{{area.css_breakpoint}}">
                    <span class="d-inline-block fs-5 fw-bold mb-2">{{area.nome}}</span>
                    <div class="area">
                        {% for vaga in area.vagas_ativas %}
                        <h6 data-id="{{vaga.id|safe}}" data-status="{{vaga.ocupada|yesno:'ocupada,livre'}}" class="vaga border rounded p-4 {{vaga.inativa|yesno:'vaga-inativa ,'}}vaga-{{vaga.ocupada|yesno:'ocupada,livre'}} bg-body-secondary" title="{{vaga.detalhe}}" onclick="vagaOnclick(event)">
                            {% if vaga.fixa %}<i class="vaga-icon fas fa-thumbtack"></i>{% endif %}
                            {{vaga.codigo}}
                        </h6>
                        {% empty %}
                        <small>Nenhuma vaga</small>
                        {% endfor %}
                    </div>
                </div>
                {% empty %}
                <p class="mt-2">Crie uma <b>área</b> para começar</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% if perms.portaria.add_registro %}
<div class="modal fade" id="vaga_alocar" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="vaga_alocar_form" action="{% url 'portaria_registro_add' %}" method="POST" autocomplete="off">
                {% csrf_token %}
                <div class="row">
                    <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-sign-in-alt text-secondary me-2"></i> Registro de Portaria</h5></div>
                    <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
                <div class="modal-body">
                    <h5>Vaga: <span id="modal_codigo"></span> - <span class="text-purple" id="modal_operacao"></span></h5>
                    <div id="controls_container">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="tipo" id="optFuncionario" value="funcionario" onclick="switchTipo('f')" checked>
                            <label class="form-check-label" for="optFuncionario">Funcionário</label>
                        </div>
                        <div class="form-check form-check-inline mt-2">
                            <input class="form-check-input" type="radio" name="tipo" id="optVisitante" value="visitante" onclick="switchTipo('v')">
                            <label class="form-check-label" for="optVisitante">Visitante</label>
                        </div>
                    </div>
                    <!-- **** -->
                    <div id="funcionario_container">
                        <div class="row g-1 mt-2 mb-1">
                            <div class="form-floating col-auto" style="max-width: 130px;">
                                <input type="text" class="form-control text-uppercase" name="placa_consulta" id="id_placa_consulta" value="" placeholder="" onfocusout="getVeiculo();">
                                <label for="id_placa_consulta">Placa</label>
                            </div>
                            <div class="form-floating col">
                                <input type="text" class="form-control" name="veiculo_detalhe" id="id_veiculo_detalhe" value="" disabled>
                                <label for="id_veiculo_detalhe">Detalhes</label>
                            </div>
                            <input type="hidden" name="veiculo" id="id_veiculo" value="">
                        </div>
                        <div class="row g-1 mb-1">
                            <div class="form-floating col-12">
                                <input type="text" class="form-control" name="nome_funcionario" id="id_nome_funcionario" value="" placeholder=" " disabled>
                                <label for="id_nome_funcionario">Funcionário</label>
                            </div>
                        </div>
                    </div>
                    <div id="visitante_container" class="d-none mb-1">
                        <div class="row g-1 mt-2 mb-1">
                            <div class="form-floating col-auto" style="max-width: 150px;">
                                <input type="text" class="form-control" name="cpf" id="id_cpf" value="" placeholder="" onfocusout="getVisitante();">
                                <label for="id_cpf">CPF</label>
                            </div>
                            <div class="form-floating col">
                                <input type="text" class="form-control" name="visitante_detalhe" id="id_visitante_detalhe" value="" disabled>
                                <label for="id_visitante_detalhe">Nome</label>
                            </div>
                            <input type="hidden" name="visitante" id="id_visitante" value="">
                        </div>
                        <div class="row g-1">
                            <div class="form-floating col-4">
                                <input type="text" class="form-control" name="modelo" id="id_modelo" value="" placeholder=" ">
                                <label for="id_modelo">Veiculo</label>
                            </div>
                            <div class="form-floating col-4">
                                <input type="text" class="form-control" name="cor" id="id_cor" value="" placeholder=" ">
                                <label for="id_cor">Cor</label>
                            </div>
                            <div class="form-floating col-4">
                                <input type="text" class="form-control text-uppercase" name="placa" id="id_placa" value="" placeholder=" ">
                                <label for="id_placa">Placa</label>
                            </div>
                        </div>
                    </div>
                    <!-- *** -->
                    <div class="row g-1 mb-1" id="entrada_container">
                        <div class="form-floating col-6">
                            <input type="date" class="form-control" id="id_data_entrada" name="data_entrada" value="">
                            <label for="id_data_entrada">Entrada</label>
                        </div>
                        <div class="form-floating col-6">
                            <input type="time" class="form-control" id="id_hora_entrada" name="hora_entrada" value="">
                            <label for="id_hora_entrada">Hora</label>
                        </div>
                        <div class="form-floating col-12">
                            <input type="number" class="form-control" id="id_km_entrada" name="km_entrada" value="" placeholder=" ">
                            <label for="id_km_entrada">Km Entrada</label>
                        </div>
                    </div>
                    <div class="row g-1 d-none mt-2 mb-1" id="saida_container">
                        <div class="form-floating col-6">
                            <input type="date" class="form-control" id="id_data_saida" name="data_saida" value="">
                            <label for="id_data_saida">Saida</label>
                        </div>
                        <div class="form-floating col-6">
                            <input type="time" class="form-control" id="id_hora_saida" name="hora_saida" value="">
                            <label for="id_hora_saida">Hora</label>
                        </div>
                        <div class="form-floating col-12">
                            <input type="number" class="form-control" id="id_km_saida" name="km_saida" value="" placeholder=" ">
                            <label for="id_km_saida">Km Saida</label>
                        </div>
                    </div>
                    <div class="row" id="detalhe_container">
                        <div class="mb-1 col-12">
                            <textarea class="form-control" name="detalhe" id="id_detalhe" placeholder="Detalhe"></textarea>
                        </div>
                    </div>
                    
                    <div class="row mt-2">
                        <div class="col text-end">
                            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                            <button type="submit" class="btn btn-primary px-3">Gravar</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endif %}

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/mask.js' %}"></script>
{% endblock %}

<script>
    {% block add_script %}
    var TAB_ON_ENTER = true;
    SHORTCUT_MAP['2FTF'] = () => {document.getElementById('portaria_extra').click()}
    
    VMasker(document.getElementById("id_placa_consulta")).maskPattern('AAA-9S99');
    VMasker(document.getElementById("id_placa")).maskPattern('AAA-9S99');
    VMasker(document.getElementById("id_cpf")).maskPattern('999.999.999-99');

    const canAdd = {{perms.portaria.add_registro|yesno:'true,false'}};
    const canChange = {{perms.portaria.change_registro|yesno:'true,false'}};
    
    const vaga_alocar = new bootstrap.Modal(document.getElementById('vaga_alocar'), {keyboard: true});
    
    const funcionario_container = document.getElementById('funcionario_container');
    const visitante_container = document.getElementById('visitante_container');
    const entrada_container = document.getElementById('entrada_container');
    const saida_container = document.getElementById('saida_container');
    const controls_container = document.getElementById('controls_container');
    const detalhe_container = document.getElementById('detalhe_container');
    
    const optFuncionario = document.getElementById('optFuncionario');
    const optVisitante = document.getElementById('optVisitante');

    const placa = document.getElementById('id_placa_consulta');
    const veiculo_detalhe = document.getElementById("id_veiculo_detalhe");
    const nome_funcionario = document.getElementById("id_nome_funcionario");
    const veiculo = document.getElementById("id_veiculo");
    
    dateToday({ // Inicia o modal de alocacao com a data atual no campo data_entrada
        target: document.getElementById('id_data_entrada'),
        native: true
    })
    document.getElementById('id_data_saida').value = document.getElementById('id_data_entrada').value;
    
    function vagaOnclick(ev){
        let id = ev.target.dataset.id;
        let status = ev.target.dataset.status;
        if(status == 'livre' && canAdd || status == 'ocupada' && canChange){
            document.getElementById('modal_codigo').innerHTML = ev.target.innerText;
            document.getElementById('modal_operacao').innerHTML = status == 'livre' ? 'ENTRADA' : 'SAIDA';
            
            timeNow({target: document.getElementById('id_hora_entrada')}) // Atualiza o modal de alocacao com a hora atual no campo hora_entrada
            
            if(status == 'livre'){ // Exibe campos de entrada
                entrada_container.classList.remove('d-none');
                controls_container.classList.remove('d-none');
                saida_container.classList.add('d-none');
                if(document.getElementById('optFuncionario').checked){
                    funcionario_container.classList.remove('d-none');
                    setTimeout(()=>{document.getElementById('id_placa_consulta').focus()}, 500);
                }
                else{
                    visitante_container.classList.remove('d-none');
                    setTimeout(()=>{document.getElementById('id_cpf').focus()}, 500);
                }
                detalhe_container.classList.remove('d-none');
            }
            else{
                funcionario_container.classList.add('d-none')
                visitante_container.classList.add('d-none')
                entrada_container.classList.add('d-none');
                controls_container.classList.add('d-none');
                saida_container.classList.remove('d-none');
                detalhe_container.classList.add('d-none');
                
                timeNow({target: document.getElementById('id_hora_saida')}) // Atualiza o modal de alocacao com a hora atual no campo hora_saida
                setTimeout(()=>{document.getElementById('id_km_saida').focus()}, 500);
            }
            vaga_alocar.show();
        }
    }
    
    function getVeiculo(){
        if(placa.value.length == 0){return false;}
        if(placa.value.length < 8){
            veiculo_detalhe.value = 'PLACA INVALIDA';
            placa.classList.add('is-invalid');
            placa.focus();
            return false;
        }
        let xhttp_veiculo = new XMLHttpRequest();
        xhttp_veiculo.onreadystatechange = function() {
            if(this.readyState == 4 && this.status == 200){
                if(this.responseText == ''){
                    placa.classList.add('is-invalid');
                    veiculo_detalhe.value = 'Veiculo não cadastrado';  
                    nome_funcionario.value = '';  
                    veiculo.value = '';
                }
                else{
                    placa.classList.remove('is-invalid');
                    let dados = JSON.parse(this.responseText);
                    veiculo_detalhe.value = `${dados.modelo} [ ${dados.status.toUpperCase()} ]`;
                    nome_funcionario.value = dados.funcionario
                    return false; // PAREI AQUIII **********************************
                    veiculo.value = this.responseText.split(';')[0];
                    id.value = this.responseText.split(';')[0];
                    if(this.responseText.split(';')[3] == 'True'){
                        status.classList.remove('is-invalid');
                        status.value = 'Ativo';
                    }
                    else{
                        status.classList.add('is-invalid');
                        status.value = 'Vencido';
                    }
                }
            }
        };
        xhttp_veiculo.open("GET", "{% url 'portaria_get_veiculo' %}?placa=" + placa.value.toUpperCase().trim(), true);
        xhttp_veiculo.send();  
    }
    function getVisitante(){}
    

    
    function switchTipo(opt){
        if(opt == 'v'){
            funcionario_container.classList.add('d-none');
            visitante_container.classList.remove('d-none');
        }
        else{
            funcionario_container.classList.remove('d-none');
            visitante_container.classList.add('d-none');
        }
    }
    
    
    
    {% endblock %}
</script>