{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Portaria - Registros{% endblock %}
{% block model %}Portaria{% endblock %}
{% block model_menu %}{% include "_component/menu/portaria.html" %}{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    {% if perms.core.view_log %}
                    <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=portaria.registro&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title">Portaria: <b class="text-purple">Registros</b></h5>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <div class="row">
                <div class="col-lg order-2 order-lg-1">
                    <table id="main_table" class="table border table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Vaga</th>
                                <th>Tipo</th>
                                <th>Veiculo</th>
                                <th class="d-none d-md-table-cell">Cor</th>
                                <th class="d-none d-md-table-cell">Placa</th>
                                <th class="d-none d-lg-table-cell">Empresa</th>
                                <th class="d-none d-lg-table-cell">Nome</th>
                                <th class="d-none d-lg-table-cell">Entrada</th>
                                <th class="d-none d-lg-table-cell">Saida</th>
                                {% if perms.portaria.change_registro %}
                                <th>&nbsp;</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for registro in registrosFuncionario %}
                            <tr>
                                <td>{{registro.vaga.codigo}}</td>
                                <td><span class="text-orange">F<span class="d-none d-lg-inline">UNCIONARIO</span></span></td>
                                <td>{{registro.veiculo.modelo}}</td>
                                <td class="d-none d-md-table-cell">{{registro.veiculo.cor}}</td>
                                <td class="d-none d-md-table-cell">{{registro.veiculo.placa}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.veiculo.funcionario.empresa.nome}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.veiculo.funcionario.nome}} [{{registro.veiculo.funcionario.matricula}}]</td>
                                <td class="d-none d-lg-table-cell">{{registro.data_entrada|date:'d/m/y'}} {{registro.hora_entrada}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.data_saida|date:'d/m/y'|default:'--'}} {{registro.hora_saida|default:'--'}}</td>
                                {% if perms.portaria.change_registro %}
                                <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="url"><i class="fas fa-pen"></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                            {% for registro in registrosVisitante %}
                            <tr>
                                <td>{{registro.vaga.codigo}}</td>
                                <td><span class="text-purple">V<span class="d-none d-lg-inline">ISITANTE</span></span></td>
                                <td>{{registro.modelo}}</td>
                                <td class="d-none d-md-table-cell">{{registro.cor}}</td>
                                <td class="d-none d-md-table-cell">{{registro.placa}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.visitante.empresa}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.visitante.nome}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.data_entrada|date:'d/m/y'}} {{registro.hora_entrada}}</td>
                                <td class="d-none d-lg-table-cell">{{registro.data_saida|date:'d/m/y'|default:'--'}} {{registro.hora_saida|default:'--'}}</td>
                                {% if perms.portaria.change_registro %}
                                <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="url"><i class="fas fa-pen"></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-auto ps-auto ps-lg-0 order-1 order-lg-2">
                    <div class="filter-container">
                        <h6 class="text-body-secondary d-flex justify-content-between">Arquivo:<a class="text-body-secondary text-decoration-none fs-8" id="clear" href="{% url 'portaria_registros' %}">Limpar</a></h6>
                        <ul class="list-unstyled">
                            <li><a href="#" onclick="showSearchModal('vaga')"><i class="fas fa-map-marked-alt fa-fw me-2"></i>Vaga</a></li>
                            <li><a href="#" onclick="showSearchModal('funcionario')"><i class="fas fa-user fa-fw me-2"></i>Funcionário</a></li>
                            <li><a href="#" onclick="showSearchModal('visitante')"><i class="fas fa-user-tag fa-fw me-2"></i>Visitante</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <form id="portaria_form" action="url" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div data-container class="d-none" id="vaga-container">
                        <div class="row g-1">
                            <div class="form-floating mb-lg-1 col-lg-auto" style="width: 150px;">
                                <select class="form-select" id="id_vaga" name="vaga"></select>
                                <label for="id_vaga">Vaga</label>
                            </div>
                            <div class="form-floating mb-1 col d-none d-lg-block">
                                <input type="text" class="form-control" disabled>
                            </div>
                        </div>
                    </div>
                    <div data-container class="" id="funcionario-container">
                        {% include "_component/field/funcionario.html" with required=False incluir_inativos=False mostrar_cargo=False %}
                    </div>
                    <div class="row mt-2">
                        <div class="col text-end"><button type="submit" class="btn btn-warning">Pesquisar</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'),{
    canFilter: true,
    filterCols: ['Vaga','Tipo','Veiculo','Placa','Empresa','Nome'],
    enablePaginate: true,
});

SHORTCUT_MAP['fFTF'] = () => {table.filterInput.select()};
SHORTCUT_MAP['arrowrightFTF'] = () => {table.nextPage()}
SHORTCUT_MAP['arrowleftFTF'] = () => {table.previousPage()}
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow()}
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow()}
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow()}

const search_modal = new bootstrap.Modal(document.getElementById('search_modal'), {keyboard: true});

function showSearchModal(tipo){
    search_modal.show();
}


function getVagas() {
    let vagas = document.getElementById("id_vaga");
    vagas.innerHTML = '';
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){
            if(this.responseText == '' || true){vagas.innerHTML = '<option value="">--</option>';}
            else{
                let obj = JSON.parse(this.responseText);
                for(key in obj){vagas.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
            }
        }
    };
    xhttp.open("GET", "{% url 'portaria_get_vagas' %}", true);
    xhttp.send();
}
getVagas();

{% endblock %}
</script>