{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr" data-bs-theme="dark">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>500 Error</title>
	<link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
	<link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
	
	<style media="screen">
		h3{font-size: 1.5rem;}
		@media(min-width: 768px){
			.texto{max-width: 370px;}
		}
	</style>
</head>
<body class="bg-body-tertiary">
	<div class="container-fluid">
		<div class="row pt-2">
			<div class="col"><h3 class="text-body-secondary">403 Error Page</h3></div>
			<div class="col-auto mb-3 mb-md-5"><a class="text-decoration-none" href="{% url 'index' %}">Root</a>&nbsp;&nbsp;/&nbsp;&nbsp;403 Error Page</div>
		</div>
		<div class="row mt-3 mt-md-5">
			<div class="col-md-5 text-center text-md-end text-danger pe-md-3" style="font-size:5.5rem;">403</div>
			<div class="col-md-7 px-4 px-md-1 pt-1 pt-md-4 text-start">
				<div class="col-md-12 text-center text-md-start text-body-secondary fs-5"><i class="fas fa-user-lock text-danger me-1"></i> Acesso <b>negado</b>.</div>
				<div class="col-md texto pt-3">Você tentou acessar um recurso não habilitado para seu usuário, dúvidas ou se não concorda com o bloqueio procure o adminstrador do sistema.<br><a id="home" href="{% url 'index' %}">Página inicial</a>.</div>
			</div>
		</div>
	</div>
	<script src="{% static 'js/listener.js' %}"></script>
	<script>
		if(localStorage.theme){
			document.documentElement.dataset.bsTheme = localStorage.theme;
		}
		else if(window.matchMedia){
			let theme = window.matchMedia("(prefers-color-scheme: dark)").matches ? 'dark' : 'light';
			document.documentElement.dataset.bsTheme = theme;
		}
	</script>
</body>
</html>