{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>900 Test Page</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/tagin.css' %}" type="text/css">
  
</head>
<body>
  <a id="home" href="{% url 'index' %}"></a>
  <a id="clear" href="{% url 'handler' '999' %}"></a>
  
  <div class="container-fluid">
    <label class="fs-1">Handler 999</label>
    
    <div class="row g-1">
    	<div class="form-floating mb-1 col-lg-12">
        <input type="text" class="form-control tagin" data-tagin-enter data-tagin-placeholder="Enter ou virgula" name="" value="id_tagin">
    		<label for="id_tagin">Tags</label>
    	</div>
    </div>
    
  </div>
  
  <script src="{% static 'js/listener.js' %}"></script>
  <script src="{% static 'js/dot.js' %}"></script>
  <script src="{% static 'js/dot.js' %}"></script>
  <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
  <script src="{% static 'js/vendor/tagin.js' %}"></script>
  <script>
  var TAB_ON_ENTER = true;
  
	new Tagin(document.querySelector('.tagin'))
</script>
</body>
</html>