{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>999 Test Page</title>
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/timeline.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
  
  <style>
    /* body{ background-color: #1F2428; } */
    
  </style>
  <script>window.addEventListener('error', (ev) => {document.getElementById('page-error-icon').classList.remove('d-none');});</script>
</head>
<body style="margin: 10px;">

  <div class="container-fluid">
    <h1>999 PAGE</h1>
    <a class="d-none" id="home" href="{% url 'index' %}"></a>
    <a class="d-none" id="clear" href="{% url 'handler' '999' %}"></a>
    <hr>

<details class="mt-5">
  <summary>
    <span><i class="fas fa-tshirt"></i></span>
    <h5>
      <strong>CART</strong>
      <small class="text-muted">Foo bar non</small>
    </h5>
    <span>R$ 39,35</span>
  </summary>
  <dl>
    <div><dt>UNIT</dt><dd>4,50</dd></div>
    <div><dt>Cartão Usado</dt><dd>**** 6820</dd></div>
    <div><dt>TOTAL</dt><dd>55</dd></div>
  </dl>
</details>
<details open>
  <summary>
    <span><i class="fas fa-car"></i></span>
    <h5>
      <strong>SONAR</strong>
      <small class="text-muted">Actur sna ballur</small>
    </h5>
    <span>R$ 1.539,22</span>
  </summary>
  <dl>
    <div><dt>UNIT</dt><dd>4,50</dd></div>
    <div><dt>Cartão Usado</dt><dd>**** 6820</dd></div>
    <div><dt>TOTAL</dt><dd>55</dd></div>
  </dl>
</details>


  
  
  <div id="page-error-icon" class="bug_icon d-none"><i class="fas fa-bug"></i></div>
  <script src="{% static 'js/listener.js' %}"></script>
  <script src="{% static 'js/dot.js' %}"></script>
  <script src="{% static 'js/table.js' %}"></script>
  <script src="/static/js/vendor/bootstrap.bundle.min.js"></script>
  <script>
    
    var TAB_ON_ENTER = true;


  </script>
</body>
</html>