{% extends "layout/dot.html" %}
{% load static %}

{% block model %}999 <b class="ms-2">Test Page</b>{% endblock %}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/timeline.css' %}">
{% endblock%}
<style>
  {% block style %}
  {% endblock%}
</style>

{% block content_fluid %}
<a class="d-none" href="{% url 'handler' '999' %}" id="clear"></a>
  <ol class="breadcrumb mt-3">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active">Data</li>
  </ol>

  <ul class="timeline timeline-sm">
    <li class="event" data-date="20/05/22 - 14h05">Evento simples <div class="event-controls"><a class="btn btn-sm btn-light" href="">FOO</a></div></li>
    <li class="event event-danger" data-date="Mai 22">Evento danger</li>
    <li class="event event-success" data-date="20/05/22 - 14h05"><h5>Titulo evento</h5><p>Texto do evento</p></li>
  </ul>




{% endblock%}


{% block add_script_src %}
<!-- <script src="{% static 'js/table.js' %}"></script> -->
{% endblock %}


<script>
{% block add_script %}
{% endblock %}
</script>