<div class="row g-1" id="funcionario_container"{% if hide %} style="display:none"{% endif %}>
  <div class="form-floating mb-1 col" style="max-width: 130px;">
    <input type="text" class="form-control" name="matricula" maxlength="6" id="id_matricula_funcionario" value="{{matricula}}" placeholder="" onfocusout="getFuncionario()"{% if autofocus %} autofocus{% endif %}{% if required %} REQUIRED{% endif %}>
    <label for="id_matricula_funcionario">Matricula</label>
  </div>
  <div class="form-floating mb-1 col">
    <input type="text" class="form-control" name="nome_funcionario" id="id_nome_funcionario" value="{{nome}}" disabled>
    <label for="id_nome_funcionario">Nome Funcionario</label>
  </div>
  <div class="form-floating mb-1 col-4 d-none d-lg-block">
    <input type="text" class="form-control" name="cargo_funcionario" id="id_cargo_funcionario" value="{{cargo}}" disabled>
    <label for="id_cargo_funcionario">Cargo</label>
  </div>
  <input type="hidden" name="funcionario" id="id_funcionario" value="{{id}}">
</div>
<script>
        
  function cleanFuncionario(){
    document.getElementById('id_matricula_funcionario').value = '';
    if(document.getElementById('id_matricula_funcionario').classList.contains('is-invalid')){
      document.getElementById('id_matricula_funcionario').classList.remove('is-invalid');      
    }
    document.getElementById('id_nome_funcionario').value = '';
    document.getElementById('id_cargo_funcionario').value = '';
  };
  
  
  function getFuncionario() {
    empresa = document.getElementById('id_empresa');
    matricula = document.getElementById('id_matricula_funcionario');
    nome = document.getElementById("id_nome_funcionario");
    cargo = document.getElementById("id_cargo_funcionario");
    funcionario = document.getElementById("id_funcionario");
    if(matricula.value != ''){
      var xhttp_funcionario = new XMLHttpRequest();
    	xhttp_funcionario.onreadystatechange = function() {
    		if(this.readyState == 4 && this.status == 200){
    			if(this.responseText == ''){
            document.getElementById("id_matricula_funcionario").classList.add('is-invalid');
            nome.value = 'Funcionário não cadastrado / habilitado';  
            cargo.value = '';  
            funcionario.value = '';
          }
    			else{
            matricula.classList.remove('is-invalid');
            nome.value = this.responseText.split(';')[1];
            funcionario.value = this.responseText.split(';')[0];
            cargo.value = this.responseText.split(';')[2];
          }
    		}
    	};
    	xhttp_funcionario.open("GET", "{% url 'pessoal_get_funcionario' %}?empresa=" + empresa.value + "&matricula=" + matricula.value + "&incluir_inativos={{incluir_inativos}}", true);
    	xhttp_funcionario.send();  
    }
    else{cleanFuncionario();}
  }  
</script>