{% if status == 'CREATED' %}
<div class="col-md-12 text-center">
  <p class="display-2">Cadastro realizado com <b class="text-success">sucesso</b></p>
</div>
{% elif status == 'ERROR' %}
<div class="col-md-12 text-center">
  <p class="display-6"><b class="text-danger">Erro:</b> o cadastro não concluido. Verifique os campos digitados.</p>
</div>
{% else %}
<div class="row">
  <div class="col-md-4 order-md-2 mb-4">
    <h4 class="d-flex justify-content-between align-items-center mb-3">
      <span>Vagas Disponíveis</span>
    </h4>
    <ul class="list-group mb-3">
      {% for vaga in vagas %}
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">{{ vaga.cargo.nome }}</h6>
          <small class="text-muted">{{ vaga.descricao|default:' ' }}</small>
        </div>
        <span class="text-muted">{{ vaga.quantidade }}</span>
      </li>
      {% empty %}
      <li class="list-group-item d-flex justify-content-between lh-condensed">
        <div>
          <h6 class="my-0">Indisponível</h6>
          <small class="text-muted">Não temos vagas em aberto no momento</small>
        </div>
        <span class="text-muted">0</span>
      </li>
      {% endfor %}
    </ul>
  </div>
  <div class="col-md-8 order-md-1">
    <h4 class="mb-3">Dados pessoais</h4>
    <form role="form" action="{% url 'recrutamento_cadastro_site' %}" method="POST" enctype="multipart/form-data" autocomplete="off" onsubmit="return submitForm();">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="id_nome">Nome</label>
          <input type="text" class="form-control" name="nome" id="id_nome" placeholder="Nome completo" autofocus>
        </div>
      </div>
      <div class="row">
        <div class="mb-3 col-md-4">
          <label for="id_cpf">CPF</label>
          <div class="input-group">
            <input type="text" class="form-control" name="cpf" id="id_cpf" placeholder="000.000.000-00">
          </div>
        </div>
        <div class="mb-3 col-md-4">
          <label for="username">Nascimento</label>
          <div class="input-group">
            {{ form.data_nascimento }}
          </div>
        </div>
        <div class="mb-3 col-md-4">
          <label for="username">Sexo</label>
          <div class="input-group">
            <select class="form-select" name="sexo">
              <option value="M">Masculino</option>
              <option value="F">Feminino</option>
              <option value="N">Não Informar</option>
            </select>
          </div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="address">Endereço</label>
        {{ form.endereco }}
      </div>
      <div class="row">
        <div class="mb-3 col-md-2">
          <label for="id_cpf">UF</label>
          <div class="input-group">
            {{form.uf}}
          </div>
        </div>
        <div class="mb-3 col-md">
          <label for="username">Cidade</label>
          <div class="input-group">
            {{ form.cidade }}
          </div>
        </div>
        <div class="mb-3 col-md">
          <label for="username">Bairro</label>
          <div class="input-group">
            {{form.bairro}}
          </div>
        </div>
      </div>
      
      <div class="mb-3">
        <label for="email">Email <span class="text-muted">(opcional)</span></label>
        {{ form.email }}
      </div>
      
      <div class="row">
        <div class="mb-3 col-md-4">
          <label>Contatos</label>
          <div class="input-group">
            <input type="text" class="form-control" name="fone1" id="id_fone1" placeholder="Fone 01" required>
          </div>
        </div>
        <div class="mb-3 col-md-4">
          <label>&nbsp;</label>
          <div class="input-group">
            <input type="text" class="form-control" name="fone1" id="id_fone2" placeholder="Fone 02">
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="id_indicacao">Quem te indicou nossa empresa</label>
          {{ form.indicacao }}
        </div>
      </div>
      <hr class="mb-3">
      <div class="form-check form-switch">
        {{form.pne}}
        <label class="form-check-label" for="id_pne">PNE Pessoa com necessidades especiais (PCD)</label>
      </div>
      <hr class="mb-4">
      <h4 class="mb-3">Vagas</h4>
      
      <div class="row g-1  mb-3">
        <div class="col-md">
          <select class="form-control" id="vagas_disponiveis" style="min-height:180px;" multiple>
            {% for vaga in vagas %}
            <option value="{{vaga.id}}">{{vaga.cargo.nome}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="col-lg-auto">
          <div class="d-flex justify-content-center d-lg-grid gap-1">
            <a class="btn btn-sm btn-secondary pointer" id="select_multiple_add" onclick="addSelected();" style="padding-left: 11px;padding-right: 11px;"><i class="fas fa-angle-right rotate-lg-90"></i></a>
            <a class="btn btn-sm btn-secondary pointer" id="select_multiple_add_all" onclick="addAll();"><i class="fas fa-angle-double-right rotate-lg-90"></i></a>
            <a class="btn btn-sm btn-secondary pointer" id="select_multiple_remove" onclick="removeSelected();" style="padding-left: 11px;padding-right: 11px;"><i class="fas fa-angle-left rotate-lg-90"></i></a>
            <a class="btn btn-sm btn-secondary pointer" id="select_multiple_remove_all" onclick="removeAll();"><i class="fas fa-angle-double-left rotate-lg-90"></i></a>
          </div>
        </div>
        <div class="col-md">
          <select class="form-control" name="vagas" id="id_vagas" style="min-height:180px;" multiple></select>
        </div>
      </div>
      
      <div class="mb-4 col-md-12 fs-7">
        <label for="username">Curriculo <small class="text-muted fw-bold">( extensões aceitas: <span class="text-primary">PDF, DOC, DOCX, ODT</span> )</small></label>
        <div class="input-group">
          {{ form.curriculo }}
        </div>
      </div>
      
      <h4 class="mb-2">Apresentação</h4>
      <div class="row">
        <div class="col-md-12 mb-3">
          <label for="id_apresentacao">Descreva suas experiências profissionais (opcional)</label>
          {{ form.apresentacao }}
        </div>
      </div>
      
      <hr class="mb-4">
      <div class="row">
        <div class="col"><button class="btn btn-primary" type="submit">Cadastrar</button></div>
      </div>
    </form>
  </div>
</div>
{% endif %}