{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Candidatos{% endblock %}
{% block model %}Recrutamento{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/recrutamento.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'recrutamento_candidatos' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="candidato_tab_link" class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a id="search" class="nav-link" data-bs-toggle="tab" data-bs-target="#filter" href="#" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},220);"><i class="fas fa-filter"></i></a></li>
      {% if perms.recrutamento.add_candidato %}
      <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'recrutamento_candidato_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link border ms-1" href="{% url 'recrutamento_candidato_dashboard' %}" title="Dashboard Banco Candidatos"><i class="fas fa-chart-bar text-purple"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + &darr;">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=recrutamento.candidato&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Candidatos <small class="badge bg-primary ms-1">{{candidatos.count}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      {% include 'recrutamento/_extract_candidatos.html' %}
    </div>
    <div class="tab-pane fade" id="filter" role="tabpanel">
      <form id="filter_form" action="{% url 'recrutamento_candidatos' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <input type="text" class="form-control bg-light fw-bold" id="id_pesquisa" name="pesquisa">
            <label for="id_pesquisa">CPF ou Nome</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <select class="form-select" id="id_cargo" name="cargo" onchange="vagaChange();">
              <option value="" selected>---------</option>
            </select>
            <label for="id_cargo">Vaga</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-2">
            <select class="form-select" id="id_status" name="status">
              <option value="" selected>---------</option>
              <option value="B">No Banco</option>
              <option value="S">Em Seleção</option>
              <option value="C">Contratado</option>
              <option value="D">Descartado</option>
            </select>
            <label for="id_status">Status</label>
          </div>
          <div class="form-floating mb-1 col-lg-2">
            <select class="form-select" id="id_origem" name="origem">
              <option value="" selected>---------</option>
              <option value="C">Cadastro</option>
              <option value="S">Site</option>
            </select>
            <label for="id_origem">Origem</label>
          </div>
        </div>
        <div class="form-check form-switch mt-1">
        	<input class="form-check-input" type="checkbox" role="switch" name="pne" id="id_pne">
        	<label class="form-check-label" for="id_pne">Filtrar somente PNE</label>
        </div>
        <div class="form-check form-switch mt-1">
        	<input class="form-check-input" type="checkbox" role="switch" name="bloqueados" id="id_bloqueados" checked>
        	<label class="form-check-label" for="id_bloqueados">Incluir Bloqueados</label>
        </div>
        <div class="form-check form-switch mt-1">
        	<input class="form-check-input" type="checkbox" role="switch" name="global" id="id_global">
        	<label class="form-check-label" for="id_global">Expandir busca **</label>
        </div>
        <p class="fs-7 ps-4">** Retorna registros mesmo se não informado vaga e/ou nome</p>
        <div class="row">
          <div class="col mt-2"><button type="submit" id="submit" class="btn btn-sm btn-warning">Pesquisar</button></div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_to_csv.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  
  SHORTCUT_MAP['1FTF'] = '#candidato_tab_link';
  
  function carregaVagas() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200){
        if(this.responseText == ''){}
        else{
          let obj = JSON.parse(this.responseText);
          vagas = document.getElementById("id_cargo")
          for(key in obj){vagas.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
        }
      }
    };
    xhttp.open("GET", "{% url 'recrutamento_get_cargos_banco' %}?ocultos=True", true);
    xhttp.send();
  }
  carregaVagas();
  
  function vagaChange(){
    if(document.getElementById('id_cargo').value != ''){document.getElementById('id_status').value = 'B';}
    else{document.getElementById('id_status').value = '';}}
  
  {% endblock %}
</script>