<div class="row">
  <div class="col-lg-6">
    <div class="card-body tab-content">
      <div class="row g-1">
        <div class="col-lg-12 d-flex justify-content-between mb-3">
          <h5 class="card-title mb-0">Cadastro de frota</h5>
          {% if 'frota_add' in request.get_full_path %}
          <button class="btn btn-sm btn-secondary" type="button" disabled>Status: <b class="ms-2">Novo</b></button>
          {% else %}
          <div class="dropdown">
            <button class="btn btn-sm {% if frota.status == 'V' %}btn-danger{% elif frota.status != 'A' %}btn-warning{% else %}btn-success{% endif %} dropdown-toggle" type="button" data-bs-toggle="dropdown" data-bs-offset="3,8"{% if not perms.oficina.change_frota %} disabled{% endif %}>Status: <b class="ms-2">{{frota.get_status_display}}</b></button>
            <ul class="dropdown-menu dropdown-menu-end fs-7" id="movimentar_frota_list">
              {% if frota.status != 'V' %}
              <li><a class="dropdown-item text-success" href="{% url 'oficina_frota_movimentar' frota.id %}?operacao=A" onclick="showModalLoading()"><i class="fas fa-check me-2"></i>Ativo</a></li>
              <li><a class="dropdown-item" href="{% url 'oficina_frota_movimentar' frota.id %}?operacao=M" onclick="showModalLoading()"><i class="fas fa-tools text-muted me-2"></i>Em Manutenção</a></li>
              <li><a class="dropdown-item" href="{% url 'oficina_frota_movimentar' frota.id %}?operacao=F" onclick="showModalLoading()"><i class="fas fa-history text-muted me-2"></i>Fora de Operação</a></li>
              <li><a class="dropdown-item dropdown-item-danger" href="{% url 'oficina_frota_movimentar' frota.id %}?operacao=I" onclick="showModalLoading()"><i class="fas fa-stop me-2"></i>Inativo</a></li>
              {% endif %}
              {% if perms.oficina.vender_frota %}
              {% if frota.status != 'V' %}
              <li><a class="dropdown-item dropdown-item-danger" href="#"  data-bs-toggle="modal" data-bs-target="#venda_frota_modal"><i class="fas fa-dollar-sign fs-6 me-2" style="padding-left: 2px;"></i>Vendido</a></li>
              {% else %}
              <li><a class="dropdown-item dropdown-item-danger" href="#"  data-bs-toggle="modal" data-bs-target="#cancelar_venda_modal"><i class="fas fa-exclamation-triangle fs-6 me-2"></i>Cancelar Venda</a></li>
              {% endif %}
              {% endif %}
            </ul>
          </div>
          {% endif %}    
        </div>
      </div>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-12">
            <select class="form-select" id="id_empresa" name="empresa" autofocus></select>
            <label for="id_empresa">Empresa</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.prefixo }}
            <label for="id_prefixo">Prefixo</label>
          </div>
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.placa }}
            <label for="id_placa">Placa</label>
          </div>
          <div class="form-floating mb-1 col-lg-4">
            {{ form.categoria }}
            <label for="id_categoria">Categoria</label>
          </div>      
        </div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-4 order-2 order-lg-1">
            <select class="form-select" id="id_marca" name="marca" onchange="carregaModelos()">
              <option value="">------</option>
            </select>
            <label for="id_marca">Marca</label>
          </div>
          <div class="form-floating mb-1 col-lg-4 order-3 order-lg-2">
            <select class="form-select" id="id_modelo" name="modelo">
              <option value="">------</option>
            </select>
            <label for="id_modelo">Modelo</label>
          </div>
          <div class="form-floating mb-lg-1 col-lg-4 order-1 order-lg-3">
            {{ form.classificacao }}
            <label for="id_classificacao">Classificação</label>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="metrics" role="tabpanel">
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-6">
            {{ form.renavan }}
            <label for="id_renavan">Renavan</label>
          </div>
          <div class="form-floating mb-1 col-lg-6">
            {{ form.chassi }}
            <label for="id_chassi">Chassi</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.carroceria }}
            <label for="id_carroceria">Carroceria</label>
          </div>
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.ano_fabricacao }}
            <label for="id_ano_fabricacao">Ano Fabricação</label>
          </div>
          <div class="form-floating mb-1 col-lg-4">
            {{ form.ano_modelo }}
            <label for="id_ano_modelo">Ano Modelo</label>
          </div>
        </div>  
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.capacidade_tanque }}
            <label for="id_capacidade_tanque">Capacid Tanque</label>
          </div>
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.media_ideal }}
            <label for="id_media_ideal">Média Ideal</label>
          </div>
          <div class="form-floating mb-1 col-lg-4">
            {{ form.km_inicial }}
            <label for="id_km_inicial">Km inicial</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.catraca_inicial }}
            <label for="id_catraca_inicial">Catraca inicial</label>
          </div>
          <div class="form-floating mb-lg-1 col-lg-4">
            {{ form.inicio_operacao }}
            <label for="id_inicio_operacao">Inicio operação</label>
          </div>
          <div class="form-floating mb-1 col-lg-4">
            {{ form.aniversario }}
            <label for="id_aniversario">Aniversário</label>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="comp" role="tabpanel">
        <div class="row g-1">
          <div class="col-lg">
            <select class="form-control" id="componentes_disponiveis" style="min-height:180px;" multiple>
              {% for componente in frota.componentes_disponiveis %}
              <option value="{{componente.id}}">{{componente.nome}}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-lg-auto">
            <div class="d-flex justify-content-center d-lg-grid gap-1">
              <a class="btn btn-sm btn-secondary pointer" id="select_multiple_add" onclick="addSelected();" style="padding-left: 11px;padding-right: 11px;"><i class="fas fa-angle-right rotate-lg-90"></i></a>
              <a class="btn btn-sm btn-secondary pointer" id="select_multiple_add_all" onclick="addAll();"><i class="fas fa-angle-double-right rotate-lg-90"></i></a>
              <a class="btn btn-sm btn-secondary pointer" id="select_multiple_remove" onclick="removeSelected();" style="padding-left: 11px;padding-right: 11px;"><i class="fas fa-angle-left rotate-lg-90"></i></a>
              <a class="btn btn-sm btn-secondary pointer" id="select_multiple_remove_all" onclick="removeAll();"><i class="fas fa-angle-double-left rotate-lg-90"></i></a>
            </div>
          </div>
          <div class="col-lg">
            <select class="form-control" name="componentes" id="id_componentes" style="min-height:180px;" multiple>
              {% for componente in frota.componentes.all %}
              <option value="{{componente.id}}">{{componente.nome}}</option>
              {% endfor %}           
            </select>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show" id="detalhe" role="tabpanel">
        <div class="row g-1">
          <div class="col-lg-12">
            {{ form.detalhe }}
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col">
          <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"{% if not perms.oficina.change_frota %} disabled{% endif %}><b>G</b>ravar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg pt-3 ps-4 ps-lg-0 pb-5 pb-lg-0">
    <div class="row">
      <div class="col">
        <div class="row fs-7">
          <div class="col-auto">
            <ul class="list-unstyled">
              <li>Cadastro:</li>
              {% if frota.status == 'V' %}
              <li>Data Venda:</li>
              <li>Comprador:</li>
              {% if perms.oficina.vender_frota %}<li>Valor Venda:</li>{% endif %}
              {% endif %}
            </ul>
          </div>
          <div class="col fw-bold">
            <ul class="list-unstyled">
              <li>{{frota.create_at|date:'d/m/Y H:i'}}</li>
              {% if frota.status == 'V' %}
              <li>{{frota.data_venda|date:'d/m/Y'}}</li>
              <li>{{frota.comprador}}</li>
              {% if perms.oficina.vender_frota %}<li>{{frota.valor_venda}}</li>{% endif %}
              {% endif %}
            </ul>
          </div>
        </div>
      </div>
    </div>    
  </div>
</div>
<script>
  var TAB_ON_ENTER = true;
  {% if 'frota_id' in request.get_full_path %}
  if(document.getElementById('movimentar_frota_list').childElementCount == 0){document.getElementById('movimentar_frota_list').classList.add('d-none');}
  {% endif %}
  function carregaEmpresas() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200){
        if(this.responseText == ''){}
        else{
          let obj = JSON.parse(this.responseText);
          empresas = document.getElementById("id_empresa");
          empresa_atual = '{{frota.empresa.id}}';
          for(key in obj){
            selected = empresa_atual == obj[key] ? ' selected' : '';
            empresas.innerHTML += `<option value="${obj[key]}"${selected}>${key}</option>`;
          }
        }
      }
    };
    xhttp.open("GET", "{% url 'core_get_empresas' %}", true);
    xhttp.send();
  }
  carregaEmpresas();
  
  function carregaMarcas(loading_page=false) {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200){
        if(this.responseText == ''){}
        else{
          let obj = JSON.parse(this.responseText);
          marcas = document.getElementById("id_marca");
          marca_atual = '{{frota.modelo.marca.id}}';
          for(key in obj){
            selected = marca_atual == obj[key] ? ' selected' : '';
            marcas.innerHTML += `<option value="${obj[key]}"${selected}>${key}</option>`;}
            if(loading_page){carregaModelos();}
          }
        }
      };
      xhttp.open("GET", "{% url 'oficina_get_marcas' %}", true);
      xhttp.send();
    }
    carregaMarcas(true);
    
    function carregaModelos() {
      let marca = document.getElementById('id_marca').value;
      document.getElementById('id_modelo').innerHTML = '<option value="">------</option>';
      if(marca == ''){}
      else{
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function() {
          if(this.readyState == 4 && this.status == 200){
            if(this.responseText == ''){}
            else{
              let obj = JSON.parse(this.responseText);
              modelos = document.getElementById("id_modelo");
              modelo_atual = '{{frota.modelo.id}}';
              for(key in obj){
                selected = marca_atual == obj[key] ? ' selected' : '';
                modelos.innerHTML += `<option value="${obj[key]}"${selected}>${key}</option>`;
              }
            }
          }
        };
        xhttp.open("GET", "{% url 'oficina_get_modelos' %}?marca=" + marca, true);
        xhttp.send();
      }
    }
    
    disponiveis = document.getElementById("componentes_disponiveis");
    selecionados = document.getElementById("id_componentes");
    
    function addAll(){selecionados.innerHTML += disponiveis.innerHTML;disponiveis.innerHTML = '';}
    function removeAll(){disponiveis.innerHTML += selecionados.innerHTML;selecionados.innerHTML = '';}
    function addSelected(){residual = document.createElement("select");for(var i=0; i < disponiveis.length; i++){if(disponiveis[i].selected){let newOption = new Option(disponiveis[i].text,disponiveis[i].value);selecionados.add(newOption);}else{let newOption = new Option(disponiveis[i].text,disponiveis[i].value);residual.add(newOption);}}disponiveis.innerHTML = residual.innerHTML;}
    function removeSelected(){residual = document.createElement("select");for(var i=0; i < selecionados.length; i++){if(selecionados[i].selected){let newOption = new Option(selecionados[i].text,selecionados[i].value);disponiveis.add(newOption);}else{let newOption = new Option(selecionados[i].text,selecionados[i].value);residual.add(newOption);}}selecionados.innerHTML = residual.innerHTML;}
    
    SHORTCUT_MAP['1FTF'] = '#tab_link_base';
    SHORTCUT_MAP['2FTF'] = '#tab_link_metrics';
    SHORTCUT_MAP['3FTF'] = '#tab_link_comp';
    SHORTCUT_MAP['4FTF'] = '#tab_link_detalhe';
    
    {% if 'frota_add' in request.get_full_path %}
    function carregaComponentes() {
      var xhttp = new XMLHttpRequest();
      xhttp.onreadystatechange = function() {
        if(this.readyState == 4 && this.status == 200){
          if(this.responseText == ''){}
          else{
            let obj = JSON.parse(this.responseText);
            componentes = document.getElementById("componentes_disponiveis");
            for(key in obj){componentes.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
          }
        }
      };
      xhttp.open("GET", "{% url 'oficina_get_componentes' %}", true);
      xhttp.send();
    }
    carregaComponentes();
    {% endif %}
    
  </script>