{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Frota{% endblock %}
{% block model %}Oficina{% endblock %}
{% block navbar_classlist %}navbar-dark bg-success bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/oficina.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'oficina_frota_add' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="tab_link_base" class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#" title="Basico [ Ctrl + 1 ]"><i class="fas fa-bus"></i></a></li>
      <li class="nav-item"><a id="tab_link_metrics" class="nav-link" data-bs-toggle="tab" data-bs-target="#metrics" href="#" title="Métricas [ Ctrl + 2 ]"><i class="fas fa-tools"></i></a></li>
      <li class="nav-item"><a id="tab_link_comp" class="nav-link" data-bs-toggle="tab" data-bs-target="#comp" href="#" title="Componentes [ Ctrl + 3 ]"><i class="fas fa-microchip"></i></a></li>
      <li class="nav-item"><a id="tab_link_detalhe" class="nav-link" data-bs-toggle="tab" data-bs-target="#detalhe" href="#" title="Detalhe [ Ctrl + 4 ]"><i class="fas fa-scroll"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'oficina_frotas' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'oficina_frota_add' %}" method="POST" autocomplete="off" onsubmit="return submitForm();">
    {% csrf_token %}
    {% include 'oficina/_form_frota.html' %}
  </form>
</div>

{% include "_component/modal/loading.html" with message='Configurando Frota....' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/mask.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  VMasker(document.getElementById("id_renavan")).maskNumber();
  VMasker(document.getElementById("id_placa")).maskPattern('AAA-9S99');
  
  var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
  function showModalLoading(){modal_loading.show();}
  function submitForm(){options = selecionados.options;for(i=0; i < options.length; i++){options[i].selected = "true";}showModalLoading();return true;}
  {% endblock %}
</script>