<div class="tab-pane fade show active" id="base" role="tabpanel">
    <div class="row g-3">
        <div class="col-lg-9">
            <div class="row g-1">
                <div class="form-floating mb-lg-1 col-lg-3">
                    {{ form.tipo }}
                    <label for="id_tipo">Tipo</label>
                </div>
                <div class="form-floating mb-lg-1 col-lg">
                    {{ form.assunto }}
                    <label for="id_assunto">Assunto</label>
                </div>
            </div>
            <div class="row g-1">
                <div class="mb-1 col-12">
                    <textarea name="nova_interacao" id="id_nova_interacao" class="form-control" style="min-height: 150px;" placeholder=""></textarea>
                </div>
                <div class="mb-1 col pe-2">
                    <input type="file" class="form-control" name="files" id="id_files" multiple accept=".png,.jpg">
                </div>
                <div class="mb-1 col-auto">
                    <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
                </div>
            </div>
            {% if 'issue_id' in request.get_full_path %}
            <ul class="timeline timeline-sm mt-2" id="historico_list"></ul>
            {% endif %}
        </div>
        <div class="col-lg">
            <div class="row g-1">
                <div class="form-floating mb-1 col-12">
                    {{ form.status }}
                    <label for="id_status">Status</label>
                </div>
                <div class="form-floating mb-1 col-12">
                    {{ form.classificacao }}
                    <label for="id_classificacao">Classificação</label>
                </div>
                <div class="col-12">
                    {{ form.followers }}
                </div>
            </div>
            {% if 'issue_id' in request.get_full_path %}
            <div class="form-check form-switch mt-3">
                <input class="form-check-input" type="checkbox" role="switch" name="concluir_issue" tabindex="-1" id="id_concluir_issue"{% if issue.status == 'F' %}checked{% endif %}>
                <label class="form-check-label" for="id_concluir_issue">Finalizar issue</label>
            </div>
            <div id="finalizar_issue" class="py-3 d-none">
                <div class="col"><i id="star_1" class="fas fa-star text-body-secondary" onclick="setStars(1)"></i> <i id="star_2" class="fas fa-star text-body-secondary" onclick="setStars(2)"></i> <i id="star_3" class="fas fa-star text-body-secondary" onclick="setStars(3)"></i> <i id="star_4" class="fas fa-star text-body-secondary" onclick="setStars(4)"></i> <i id="star_5" class="fas fa-star text-body-secondary" onclick="setStars(5)"></i></div>
                Por favor avalie como foi nosso atendimento.<br ><i class="fas fa-info-circle text-orange me-2"></i>Ao gravar este issue será finalizado.
            </div>
            {% endif %}
        </div>
    </div>
    <input type="hidden" name="historico" value="{{issue.historico}}">
    <input type="hidden" name="avaliacao" id="id_avaliacao" value="{{issue.avaliacao}}">
</div>