{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Agenda{% endblock %}
{% block model %}Core{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

<style>
{% block style %} {% endblock %}
</style>

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'core_agendas' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li id="modelos_auxiliares_container" class="nav-item dropdown ms-1">
                <a class="nav-link dropdown-toggle text-dark" id="sac_extra" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul id="modelos_auxiliares_list" class="dropdown-menu fs-7">
                    {% if perms.core.view_feriado %}<li><a class="dropdown-item" href="{% url 'core_feriados' %}"><i class="fas fa-fw fa-calendar-plus text-orange"></i> Feriados</a></li>{% endif %}
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'index' %}"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <div class="card-body tab-content">
        <h5 class="card-title mb-3">Agenda</h5>
        <div class="tab-pane fade show active" id="base" role="tabpanel">
            <div class="row g-2">
                <div class="col col-lg-4 col-xl-3 col-xxl-2">
                    <div id="calendar_widget"></div>
                </div>
                <div class="col-lg mt-3 mt-lg-2">
                    <div class="row">
                        <div class="col"><h5 class="text-muted" id="title_selected_day"></h5></div>
                        {% if perms.core.add_agenda %}<div class="col-auto pe-4"><a id="add" class="btn btn-sm btn-success" href="{% url 'core_agenda_add' %}"><i class="fas fa-plus"></i></a></div>{% endif %}
                    </div>
                    <div class="table-responsive">
                        <table class="table table-sm table-hover fs-7 user-select-none">
                            <thead>
                                <tr>
                                    <th>Periodo</th>
                                    <th>Titulo</th>
                                    <th>Tags</th>
                                    {% if perms.core.change_agenda %}<th>&nbsp;</th>{% endif %}
                                </tr>
                            </thead>
                            <tbody id="day_timeline"></tbody>
                        </table>
                    </div>
                </div>
                <div class="col-lg-3 mt-3 mt-lg-2" id="event_detail"></div>
            </div>                
        </div>
    </div>
</div>  
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/calendar.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
if(document.getElementById('modelos_auxiliares_list').childElementCount == 0){document.getElementById('modelos_auxiliares_container').classList.add('d-none');}

let originalDate = urlGetParam('data', dotToday(0,0,0,true));
let today = dotToday(0,0,0,true);
let year = parseInt(originalDate.split('-')[0]);
let month = parseInt(originalDate.split('-')[1]);
let usuarios = {};

let agendaMes = {};
let title = document.getElementById('title_selected_day');
let tbody = document.getElementById('day_timeline');
let detail = document.getElementById('event_detail');
let translateWeekDay = {0:'DOM', 1:'SEG',2:'TER',3:'QUA',4:'QUI',5:'SEX',6:'SAB'};

const calendar = new jsCalendar({
    container: document.getElementById('calendar_widget'),
    year: year,
    month: month,
    canChangeView: false,
    canSelectDay: true,
    showSummary: true,
    selectedDays: [originalDate],
    wait: true,
    onclick: (data) => {showDayTimeline(data)},
    onchange: (origin) => { // Carrega agendaMes e se alterado ano carregaFeriados
        if(calendar.year != year){ // Se alterou ano, busca feriados do ano correspondente e atualiza agenda do mes
            if(origin == 'currentMonth'){
                get_feriados({ano:calendar.year}).then(() => {getAgenda({ano:calendar.year,mes:calendar.month}).then(() => {calendar.calendarRebuild();showDayTimeline(today);})})
            }
            else{
                get_feriados({ano:calendar.year}).then(() => {getAgenda({ano:calendar.year,mes:calendar.month}).then(() => {calendar.calendarRebuild()})})
            }
            year = calendar.year;
            month = calendar.month;
        }
        else if(calendar.month != month){ // Caso nao, apenas atualiza agenda do mes (caso alterado mes)
            if(origin == 'currentMonth'){
                getAgenda({ano:calendar.year,mes:calendar.month}).then(() => {calendar.calendarRebuild();showDayTimeline(today);});
            }
            else{
                getAgenda({ano:calendar.year,mes:calendar.month}).then(() => {calendar.calendarRebuild()});
            }
            month = calendar.month;
        }
        else if(origin == 'currentMonth'){showDayTimeline(today)}
    },
    calendarControlsCurrentClasslist: 'btn btn-sm btn-purple-light fs-8 me-1 py-1 py-lg-0',
    calendarControlsSelectDayClasslist: 'btn btn-sm btn-purple-light fs-9'
});

{% include 'core/_script_agenda.js' %}

get_usuarios();
get_feriados({ano:year}).then(() => {getAgenda({ano:year,mes:month}).then(() => {calendar.calendarRebuild(true);showDayTimeline(originalDate);})});


{% endblock %}
</script>