{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Agenda{% endblock %}
{% block model %}Core{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/vendor/tagin.css' %}">
{% endblock %}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'core_agenda_add' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="url"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'core_agenda_add' %}" method="POST" autocomplete="off">
    {% csrf_token %}
        <div class="card-body tab-content">
            <h5 class="card-title mb-3">Agenda: <b class="text-purple">Novo evento</b></h5>
            <div class="tab-pane fade show active" id="base" role="tabpanel">
                <div class="row g-2">
                    <div class="col-lg">
                        <div class="row g-1">
                            <div class="form-floating mb-1 col-lg-12">
                                {{ form.titulo }}
                                <label for="id_titulo">Titulo</label>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="form-floating mb-lg-1 col-lg-3">
                                {{ form.data }}
                                <label for="id_data">Data</label>
                            </div>
                            <div class="form-floating mb-lg-1 col-lg-2">
                                {{ form.inicio }}
                                <label for="id_inicio">Inicio</label>
                            </div>
                            <div class="form-floating mb-lg-1 col-lg-2">
                                {{ form.termino }}
                                <label for="id_termino">Termino</label>
                            </div>
                            <div class="form-floating mb-1 col-lg-5">
                                {{ form.local }}
                                <label for="id_local">Local</label>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="form-floating mb-1 col-lg-7">
                                {{ form.participantes }}
                                <label for="id_participantes">Participantes</label>
                            </div>
                            <div class="form-floating mb-1 col-lg-5">
                                {{ form.tags }}
                                <label for="id_tags">Tags</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        {{form.detalhe}}
                    </div>
                </div>
            </div>
            <!-- CONTROLES DO FORM -->
            <div class="row mt-3">
                <div class="col">
                    <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/tagin.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
const participantes = new Tagin(document.getElementById('id_participantes'), {
    separator:';',
    enter: true,
    transform: 'input => input.toUpperCase()',
    placeholder: 'Enter ou ;',
    duplicate: false
});

const tags = new Tagin(document.getElementById('id_tags'), {
    separator:';',
    tagColor: 'purple',
    enter: true,
    transform: 'input => input.toUpperCase()',
    placeholder: 'Enter ou ;',
    duplicate: false
});
{% endblock %}
</script>