{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Agenda{% endblock %}
{% block model %}Core{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/vendor/tagin.css' %}">
{% endblock %}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'core_agenda_add' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'core_agendas' %}"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'core_agenda_add' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'core/_form_agenda.html' %}
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/tagin.js' %}"></script>
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}

const tags = new Tagin(document.getElementById('id_tags'), {
    separator:';',
    tagColor: 'purple',
    enter: true,
    transform: 'input => input.toUpperCase()',
    placeholder: 'Enter ou ;',
    duplicate: false
});

const participantes = new jsSelectm(document.getElementById('id_participantes'),{});
{% endblock %}
</script>