{% extends "layout/dot.html" %}
{% block titulo %}Password{% endblock %}
{% block model_menu %}
{% include "_component/menu/visitor.html" %}
{% endblock%}

{% block content_fluid %}

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" id="menu_pass_basico" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="menu_pass_help" data-bs-toggle="tab" data-bs-target="#help" href="#"><i class="fas fa-question"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'index' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'change_password' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-3">Alterar Senha</h5>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-5">
            <input type="password" class="form-control" name="password_current" id="id_password_current" value="" autofocus placeholder="">
            <label for="id_password_current">Senha atual</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-5">
            <input type="password" class="form-control" name="password" id="id_password" value="" placeholder="" onkeyup="medirSenha()" required>
            <label for="id_password">Nova senha</label>
          </div>
        </div>
        <div class="progress mb-1" style="max-width: 300px;"><div class="progress-bar bg-secondary" role="progressbar" id="senha_progress" style=""></div></div>
        <div class="row g-1">
          <div class="form-floating mb-lg-1 col-lg-5">
            <input type="password" class="form-control" name="password_confirm" id="id_password_confirm" value="" placeholder="" required>
            <label for="id_password_confirm">Confirmar senha</label>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="help" role="tabpanel">
        <div class="row">
          <div class="col">
            <ul>
              <li>Minimo de 08 caracteres</li>
              <li>Deve conter número e letras</li>
            </ul>
          </div>
        </div>
      </div>
      
      <!-- CONTROLES DO FORM -->
      <div class="row mt-3">
        <div class="col">
          <button type="submit" id="main_submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
          <a class="btn btn-secondary" id="clear" href="{% url 'change_password' %}" title="ALT + L"><b>L</b>impar</a>
        </div>
      </div>
    </div>
  </form>
</div>

<script type="text/javascript">
  var TAB_ON_ENTER = true;
  SHORTCUT_MAP['1FTF'] = '#menu_pass_basico';
  SHORTCUT_MAP['2FTF'] = '#menu_pass_help';
  
  password = document.getElementById('id_password');
  password_current = document.getElementById('id_password_current');
  password_confirm = document.getElementById('id_password_confirm');
  senha_progress = document.getElementById('senha_progress');

  function medirSenha(){
  let tamanho = password.value.length;
  let peso = 0;
  let senha_valida = true;
  if(tamanho == 0 ){
    peso = 0;
    senha_progress.classList = 'progress-bar bg-secondary';
    senha_progress.style.width = '0%';
  }
  else{
    // AVALIA TAMANHO DA SENHA
    if(tamanho < 8){peso += 1;senha_valida = false;}
    else if(tamanho > 10){peso += 3;}
    else{peso += 2;}


    if(password.value.match('[a-zA-z]')){peso +=1;}else{senha_valida = false;}     // AVALIA EXISTENCIA DE ALPHA
    if(password.value.match('[a-z]') && password.value.match('[A-Z]')){peso +=2;}; // AVALIA EXISTENCIA DE LETRAS MAIUSCULAS + MINUSCULAS
    if(password.value.match('[0-9]')){peso +=1;}else{senha_valida = false;}        // AVALIA EXISTENCIA DE NUMEROS
    if(password.value.match('[!@#$%&*-+;.]')){peso +=3;};                          // AVALIA EXISTENCIA DE CARACTERES ESPECIAIS

    if(senha_valida){
      senha_progress.style.width = (peso * 10) + '%';
      senha_progress.classList = 'progress-bar bg-success';
      return true;
    }
    else{
      senha_progress.style.width = (peso * 8) + '%';
      senha_progress.classList = 'progress-bar bg-secondary';
      return false;
    }
  }
};
</script>
{% endblock%}