{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Console{% endblock %}
{% block model %}Console{% endblock %}
{% block model_menu %}{% include "_component/menu/visitor.html" %}{% endblock%}


<style media="screen">
  {% block style %}
  .badge{margin-right:3px; margin-bottom:3px;}
  {% endblock%}
</style>

{% block content_fluid %}
<a id="clear" href="{% url 'console' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-code"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'index' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="console_form" action="console" method="POST" autocomplete="off">
    {% csrf_token %}
    <input type="hidden" name="script" id="id_script" value="">
    <div class="card-body tab-content">
      <h5 class="card-title mb-3">Admin Console</h5>
      <div class="row mb-3">
        <div class="col">
          <button type="button" class="btn btn-sm btn-warning" title="Limpar" onclick="console_clean()"><i class="fas fa-backspace"></i></button>
          <button type="button" class="btn btn-sm btn-success" onclick="console_submit()"><i class="fas fa-code"></i> Executar</button>
          <button type="button" id="add_param_btn" class="btn btn-sm btn-success px-3 d-none" onclick="console_addParam()"><i class="fas fa-plus"></i></button>
          <div class="btn-group" role="group">
            <button id="id_sys" type="button" class="btn btn-sm btn-dark dropdown-toggle" data-bs-toggle="dropdown" title="Core"><i class="fas fa-terminal"></i></button>
            <ul class="dropdown-menu fs-7">
              <li><a class="dropdown-item d-flex justify-content-between align-items-center pointer" data-bs-toggle="dropdown"><span>Alerta</span><i class="fas fa-chevron-right fs-8"></i></a>
                <ul class="submenu submenu-alt dropdown-menu fs-7">
                  <li><span class="dropdown-item pointer" onclick="console_model('alerta')">Simples</span></li>                  
                  <li><span class="dropdown-item pointer" onclick="console_model('alerta_link')">Com Link</span></li>                  
                  <li><span class="dropdown-item pointer" onclick="console_model('alerta_style')">Estilizado</span></li>
                </ul>
              </li>
              <li><span class="dropdown-item pointer" onclick="console_model('dotCleaner')">Cleaner</span></li>
              <li><hr class="dropdown-divider"></li>
              <li><span class="dropdown-item pointer dropdown-item-danger" onclick="console_model('user_force_change_password')">Global Change Password</span></li>
              <li><span class="dropdown-item pointer" onclick="console_model('runscript')">Runscript</span></li>
            </ul>
          </div>
          <div class="btn-group" role="group">
            <button id="id_pessoal" type="button" class="btn btn-sm btn-purple dropdown-toggle" data-bs-toggle="dropdown" title="Pessoal"><i class="fas fa-users"></i> </button>
            <ul class="dropdown-menu fs-7">
              <li><a class="dropdown-item d-flex justify-content-between align-items-center pointer" data-bs-toggle="dropdown"><span>Globus</span><i class="fas fa-chevron-right fs-8"></i></a>
                <ul class="submenu submenu-alt dropdown-menu fs-7">
                  <li><span class="dropdown-item pointer" onclick="console_model('escala_clean')">Limpar Escalas</span></li>                  
                </ul>
              </li>
              <li><span class="dropdown-item pointer" onclick="console_model('pessoal_cancelar_desligamento')">Cancelar Desligam</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade show active" id="base" role="tabpanel">
        <div class="row">
          <div class="col-12">
            <div class="border rounded py-2 px-3 bg-light" id="console"><small class="text-body-secondary">Console V1.0</small></div>
          </div>
          <small id="id_console_help" class="mt-2"></small>
        </div>
      </div>
    </div>
  </form>
</div>

{% include "_component/modal/loading.html" with spinner_classlist='text-success' message='Processando requisição...' %}
{% endblock%}

{% block add_script_src %}{% endblock %}

<script>
  {% block add_script %}
  var models = {
    'alerta':'<span class="badge bg-orange text-uppercase">@alert</span>\n<span class="badge bg-success">operation=new</span>\n<span class="badge bg-success" contenteditable="true">username=username</span>\n<span class="badge bg-primary" contenteditable="true">critico=False</span>\n<span class="badge bg-secondary" contenteditable="true">titulo=informe um titulo</span>\n<span class="badge bg-secondary" contenteditable="true">mensagem=escreva a mensagem do alerta aqui..</span>',
    'alerta_link':'<span class="badge bg-orange text-uppercase">@alert</span>\n<span class="badge bg-success">operation=new</span>\n<span class="badge bg-success" contenteditable="true">username=username</span>\n<span class="badge bg-primary" contenteditable="true">critico=False</span>\n<span class="badge bg-primary" contenteditable="true">link=url_pagina</span>\n<span class="badge bg-secondary" contenteditable="true">titulo=informe um titulo</span>\n<span class="badge bg-secondary" contenteditable="true">mensagem=escreva a mensagem do alerta aqui..</span>',
    'alerta_style':'<span class="badge bg-orange text-uppercase">@alert</span>\n<span class="badge bg-success">operation=new</span>\n<span class="badge bg-success" contenteditable="true">username=username</span>\n<span class="badge bg-primary" contenteditable="true">critico=False</span>\n<span class="badge bg-primary" contenteditable="true">alert_class_list=alert alert-dark alert-dismissible mb-1 pb-2</span>\n<span class="badge bg-primary" contenteditable="true">action_class_list=fs-7</span>\n<span class="badge bg-secondary" contenteditable="true">titulo=informe um titulo</span>\n<span class="badge bg-secondary" contenteditable="true">mensagem=escreva a mensagem do alerta aqui..</span>',
    'runscript':'<span class="badge bg-orange text-uppercase">@runscript</span>\n<span class="badge bg-success" contenteditable="true">code=000000</span>\n',
    'dotCleaner':'<span class="badge bg-orange text-uppercase">@dotCleaner</span>\n<span class="badge bg-success" contenteditable="true">until=aaaa-mm-dd</span>\n<span class="badge bg-primary" contenteditable="true">cleanlogs=False</span>\n<span class="badge bg-primary" contenteditable="true">cleanalertas=True</span>\n<span class="badge bg-primary" contenteditable="true">cleanescalas=True</span>\n<span class="badge bg-success" contenteditable="true">force=False</span>',
    'user_force_change_password':'<span class="badge bg-orange text-uppercase">@user</span>\n<span class="badge bg-success">operation=global_change_pw</span>\n',
    'pessoal_cancelar_desligamento':'<span class="badge bg-orange text-uppercase">@pessoal</span>\n<span class="badge bg-success">operation=reengage</span>\n<span class="badge bg-primary" contenteditable="true">matricula=00000</span>\n',
    'escala_clean':'<span class="badge bg-orange text-uppercase">@globus</span>\n<span class="badge bg-success">operation=clean</span>\n<span class="badge bg-success" contenteditable="true">until=aaaa-mm-dd</span>',
  };
  var dotConsole = document.getElementById('console'); 
  var help_label = document.getElementById('id_console_help'); 
  var addParam = document.getElementById('add_param_btn'); 
  var form_script = document.getElementById('id_script'); 
  function console_model(key){
    dotConsole.innerHTML = models[key];addParam.classList.remove('d-none');
    if(key.includes('alerta')){help_label.innerHTML = '<i class="fas fa-info-circle text-body-secondary"></i> <b>Dica:</b> <span class="badge bg-success">username=all</span> cria alerta para <b>todos</b> os <b>usuarios ativos</b>.';}
    else if(key.includes('user')){help_label.innerHTML = '<i class="fas fa-info text-danger me-1"></i> <b>Atenção:</b> Ao confirmar, todos os usuários (exceto superusers) deverão trocar a senha no próximo login';}
    else if(key.includes('escala_clean')){help_label.innerHTML = '<i class="fas fa-info text-danger"></i> <b>Atenção:</b> Este processo pode demorar vários minutos dependendo do período informado.';}
    else if(key.includes('dotCleaner')){help_label.innerHTML = '<i class="fas fa-info text-body-secondary"></i> <b>Atenção:</b> Após executar, a página será redirecionada para o relatório de coclusão da rotina</b>.<br/><span class="badge bg-success">force=True</span>irá remover inclusive alertas criticos';}
    else{help_label.innerHTML = '';}
  }
  function console_clean(){dotConsole.innerHTML = '<small class="text-body-secondary">Console V1.0</small>';addParam.classList.add('d-none');help_label.innerHTML = '';}
  function console_addParam(){dotConsole.innerHTML += '\n<span class="badge bg-primary" contenteditable="true">param=value</span>';}
  
  let modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
  function console_submit(){
    let list = dotConsole.textContent.split('\n');
    let operation = String(list[0]);
    let raw_params = list.slice(1, list.length);
    let parameters = {};
    for(i=0;i < raw_params.length; i++){
      let [action, ...attrs] = raw_params[i].split('=');
      parameters[action] = attrs.join('=');
    }
    
    let formated_script = {};
    formated_script[operation] = parameters;
    form_script.value = JSON.stringify(formated_script);
    modal_loading.show();
    document.getElementById('console_form').submit();
  }
  {% endblock %}
</script>