{% extends "layout/editor.html" %}
{% load static %}

{% block model_menu %}
<li class="nav-item ms-4">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-sm btn-outline-light border-0"><i class="fas fa-plus"></i></button>
    <button type="button" class="btn btn-sm btn-outline-light border-0"><i class="fas fa-clone"></i></button>
  </div>
</li>
<li class="nav-item" style="margin-left:145px;">
  <form id="script_form" action="{% url 'console' %}" method="POST" autocomplete="off" onsubmit="return submitForm();">
    {% csrf_token %}
    <button type="submit" class="btn btn-sm btn-success border-0" title="Rodar Script"><i class="fas fa-eraser me-2"></i> Run</button>
    <input type="hidden" id="id_script" name="script" value="">
  </form>
</li>
<li class="nav-item">
  <div class="btn-group ms-3" role="group">
    <button type="button" class="btn btn-sm btn-outline-light border-0" disabled><i class="fas fa-spell-check"></i></button>
    <a href="{% url 'console' %}" id="clear" class="btn btn-sm btn-outline-light border-0" title="Reiniciar Console"><i class="fas fa-eraser"></i></a>
    <a href="{% url 'index' %}" id="home" class="btn btn-sm btn-outline-warning px-3 border-0 fw-bold" title="Salvar e Fechar">Sair</a>
  </div>
</li>
{% endblock%}

{% block editor %}
<div id="editor"></div>
{% endblock%}

{% block nav_editor %}
<div class="btn-group">
  <a class="ps-2 list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center pointer" style="border-bottom-width: 0;" onclick="editorSet(COMPONENTS['alert'])">Alerta<span><i class="fas fa-chevron-right"></i></span></a>
  <button type="button" class="btn btn-light border border-bottom-0 pe-3 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu fs-7">
    <li><a class="dropdown-item d-flex justify-content-between align-items-center pointer" onclick="editorSet(COMPONENTS['alert_link'])">Com link<i class="fas fa-chevron-right text-muted"></i></a></li>
    <li><a class="dropdown-item d-flex justify-content-between align-items-center pointer" onclick="editorSet(COMPONENTS['alert_class'])">Estilizado<i class="fas fa-chevron-right text-muted"></i></a></li>
    <li><a class="dropdown-item dropdown-item-danger d-flex justify-content-between align-items-center pointer" onclick="editorSet(COMPONENTS['alert_all'])">Geral<i class="fas fa-chevron-right"></i></a></li>
  </ul>
</div>
<div class="btn-group">
  <a class="ps-2 list-group-item list-group-item-action list-group-item-light d-flex justify-content-between align-items-center pointer" onclick="editorSet(COMPONENTS['clean_logs'])">Limpar Logs<span><i class="fas fa-chevron-right"></i></span></a>
  <button type="button" class="btn btn-light border pe-3 dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown">
    <span class="visually-hidden">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu fs-7">
    <li><a class="dropdown-item d-flex justify-content-between align-items-center pointer" onclick="editorSet(COMPONENTS['clean_logs_model'])">Filtrar modelo<i class="fas fa-chevron-right text-muted"></i></a></li>
  </ul>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/ace/ace.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  var SHORTCUT_MAP = {};
  function eventHandler(e){
    {% include '_component/script/global_handler.js' %}
    else{}}
    
    function submitForm(){
      document.getElementById('id_script').value = editor.getValue();
      document.getElementById('console_display').innerHTML += '<p class="fw-bold">Aguarde, processando requisição</p>';
      return true;
    }
    // --------------------------------------------------------------------
    // incluido no layout metodos editorSet(code)
    const COMPONENTS = {
      'alert':'@alert { #username :titulo=Titulo_do_Alert msg:Mensagem do Alerta; }',
      'alert_link':'@alert { #username :titulo=Titulo_do_Alert !link=view_name msg:Mensagem do Alerta; }',
      'alert_class':'@alert { #username :titulo=Titulo_do_Alert :alert_class_list=bg-orange;text-light :action_class_list=btn;btn-sm;btn-info msg:Mensagem do Alerta; }',
      'alert_all':'@alert { #all :titulo=Titulo_do_Alert msg:Mensagem do Alerta; }',
      'clean_logs':'@logs { #clean :until=aaaa-mm-dd }',
      'clean_logs_model':'@logs { #clean :until=aaaa-mm-dd :model=core.empresa }',
    }
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/ambiance");
    editor.session.setMode("ace/mode/text");
    editor.renderer.setScrollMargin(14)
    editor.setShowPrintMargin(false);
    document.getElementById('editor').style.fontSize='0.9rem';
    
    
    var rules = editor.session.$mode.$highlightRules.getRules();
    for (var stateName in rules) {
      if (Object.prototype.hasOwnProperty.call(rules, stateName)) {
        rules[stateName].unshift(
        {token: 'keyword',regex: '@[a-zA-Z][a-zA-Z0-9]+'}, // Funcoes do sistema, @alert @modal @schedule etc...
        {token: 'variable',regex: ':[A-z-0-9áàâãéèêíóôõúçÁÀÂÃÉÈÍÓÔÕÚÇ,-;=]+'}, // Usado para parametros do componente, converte altera ; e _ por espaço
        {token: 'constant',regex: '!link=[a-zA-Z0-9-_/]+'}, // Usado para informar operacoes e/ou atributos especiais  
        {token: 'string',regex: '#[A-z-0-9]+'}, // Usado para identificar um compoente, fazendo referencia ao usuario (por exemplo)
        {token: 'invalid',regex: 'danger_syntax'},
        {token: 'comment',regex: 'msg:([a-zA-Z0-9áàâãéèêíóôõúçÁÀÂÃÉÈÍÓÔÕÚÇ .<>/=\'!@#$%&])+;'}, // Mensagem generica, aceita espaços, simbolos e caracteres acentuados
        {token: 'custom',regex: 'foo'},
        );
      }
    }
    
    editor.session.$mode.$tokenizer = null;
    editor.session.bgTokenizer.setTokenizer(editor.session.$mode.getTokenizer());
    editor.session.bgTokenizer.start(0);
    
    {% endblock %}
  </script>