{% load static %}
<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  
  <link rel="shortcut icon" href="{% static 'img/favicon.ico'%}">
  <link rel="stylesheet" href="{% static 'css/vendor/all.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/fontawesome.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/vendor/bootstrap.min.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/dot.css' %}" type="text/css">
    
  <title>Response</title>
</head>
<body>
  <div class="container-fluid">
  </div>
  
  
  
  
  <script src="{% static 'js/vendor/bootstrap.bundle.min.js' %}"></script>
</body>
</html>