{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Grupos{% endblock %}
{% block model_menu %}
{% include "_component/menu/core.html" %}
{% endblock%}
  
{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <!-- <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" data-bs-target="#param" href="#"><i class="fas fa-filter"></i></a></li> -->
      <li class="nav-item"><a class="nav-link pointer" id="search" data-bs-toggle="modal" data-bs-target="#search_modal" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},480);" title="CTRL + /"><i class="fas fa-search"></i></a></li>
      {% if perms.auth.add_group %}
      <li class="nav-item"><a class="nav-link border" id="add" href="{% url 'core_grupo_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=auth.group&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title">Grupos</h5>
    <div class="row">
      <div class="col-lg order-2 order-lg-1">
        <div class="tab-pane fade show active" id="base" role="tabpanel">
          <table id="main_table" class="table border table-striped table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Nome</th>
                {% if perms.auth.change_group %}
                <th>&nbsp;</th>
                {% endif %}
              </tr>
            </thead>
            <tbody>
              {% for grupo in grupos %}
              <tr>
                <td>{{grupo.id|safe}}</td>
                <td>{{grupo.name}}</td>
                <td class="text-end fit py-1">
                  {% if perms.auth.change_group %}
                  <a class="btn btn-sm btn-dark" href="{% url 'core_grupo_id' grupo.id|safe %}"><i class="fas fa-pen"></i></a>
                  {% endif %}
                  <a class="btn btn-sm btn-warning" href="{% url 'core_usuarios_grupo' grupo.id|safe %}" title="Usuarios do grupo"><i class="fas fa-users"></i></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-auto ps-auto ps-lg-0 order-1 order-lg-2">
        <div class="filter-container">
          <h6 class="text-body-secondary d-flex justify-content-between">Filtros:<a class="text-body-secondary text-decoration-none fs-8" id="clear" href="{% url 'core_grupos' %}">Limpar</a></h6>
          <ul class="list-unstyled">
            <li><a id="id_sem_associacoes" onclick="urlFilter('_associacoes','False')">Sem associações</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="auth_form" action="{% url 'core_grupos' %}" method="GET" autocomplete="off">
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control" name="pesquisa" value="" id="id_pesquisa" placeholder="">
              <label for="id_pesquisa">Termo pesquisa</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
{% endblock %}

  
<script>
{% block add_script %}
const grupo_filters = {'_associacoes=False':'id_sem_associacoes'}
urlSetFiltersActive(grupo_filters);

const table = new jsTable(document.getElementById('main_table'), {});
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow();};
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow();};
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow();};

{% endblock %}
</script>