{% extends "layout/dot.html" %}
{% load static %}
{% block title %}SIT{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}


<style>
{% block style %}
.loadingWidget{position: absolute;width: 100%;height: 100%;text-align: center;background-color: #FFF;opacity: 0.8;padding-top: 40px;}
.loadingWidget span{display: block;color: #333;}
/* @media(max-width: 768px){ } */
{% endblock%}
</style>

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'index' %}"></a>
<div id="dotWidgetsContainer" class="row px-1 pt-lg-2">
  <div id="messages_widget" class="card-widget col-6 col-lg-4 col-xl-2 btn-secondary d-none"><i class="fas fa-inbox lead-image"> <sup id="alertas_badge" style="font-family: var(--bs-body-font-family); font-size:2rem;">0</sup></i><a class="widget-label stretched-link" data-bs-toggle="offcanvas" href="#offcanvas" role="button" title="ALT + M">Notificações</a></div>
  {% if perms.core.console %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-dark" title="Ctrl + C"><i class="fas fa-window-restore lead-image"></i><a id="console_link" class="widget-label stretched-link" href="{% url 'console' %}">Admin Console</a></div>{% endif %}
  {% if perms.gestao.dashboard %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-dark" title="Ctrl + C"><i class="fas fa-chart-pie lead-image"></i><a id="widget_action_gestao" class="widget-label stretched-link" href="{% url 'gestao_dashboard' %}">Gerencial</a></div>{% endif %}
  {% if perms.core.view_agenda %}<div class="card-widget card-widget-fixed col-12 col-lg-4 col-xl-2 p-0 bg-purple"><div id="loadingScreenAgenda" class="loadingWidget"><div class="spinner-border text-success"></div><span>Carregando Agenda...</span></div><div id="widget_core_agenda" class="h-100 container-fluid px-1"></div><a href="{% url 'core_agendas' %}" class="d-none stretched-link"></a></div>{% endif %}
  {% if perms.arquivo.view_ativo %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-dark"><i class="fas fa-box lead-image"></i><a id="widget_action_arquivo" class="widget-label stretched-link" href="{% url 'arquivo_ativos' %}">Arquivo</a></div>{% endif %}
  {% if perms.pessoal.view_funcionario %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-purple"><i class="fas fa-user-tie lead-image"></i><a id="widget_action_pessoal" class="widget-label stretched-link" href="{% url 'pessoal_funcionarios' %}">Pessoal</a></div>{% endif %}
  {% if perms.recrutamento.view_selecao %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-purple"><i class="fas fa-users lead-image"></i><a id="widget_action_recrutamento" class="widget-label stretched-link" href="{% url 'recrutamento_selecoes' %}">Recrutamento</a></div>{% endif %}
  {% if perms.sac.view_reclamacao %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-purple"><i class="fas fa-headset lead-image"></i><a id="widget_action_sac" class="widget-label stretched-link" href="{% url 'sac_reclamacoes' %}">SAC</a></div>{% endif %}
  {% if perms.oficina.view_frota %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-success"><i class="fas fa-bus lead-image"></i><a id="widget_action_oficina" class="widget-label stretched-link" href="{% url 'oficina_frotas' %}">Oficina</a></div>{% endif %}
  {% if perms.trafego.view_linha %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-primary"><i class="fas fa-route lead-image"></i><a id="widget_action_linha" class="widget-label stretched-link" href="{% url 'trafego_linhas' %}">Linhas</a></div>{% endif %}
  {% if perms.trafego.view_planejamento %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-primary"><i class="fas fa-random lead-image"></i><a id="widget_action_planejamento" class="widget-label stretched-link" href="{% url 'trafego_planejamentos' %}">Planejamento</a></div>{% endif %}
  {% if perms.trafego.view_notificacao %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-primary"><i class="fas fa-file-signature lead-image"></i><a id="widget_action_notificacao" class="widget-label stretched-link" href="{% url 'trafego_notificacoes' %}">Notificações</a></div>{% endif %}
  {% if perms.trafego.view_ocorrencia %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-primary"><i class="fas fa-road lead-image"></i><a id="widget_action_ocorrencia" class="widget-label stretched-link" href="{% url 'trafego_ocorrencias' %}">Ocorrências</a></div>{% endif %}
  {% if perms.sinistro.view_acidente %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-primary"><i class="fas fa-car-crash lead-image"></i><a id="widget_action_acidente" class="widget-label stretched-link" href="{% url 'sinistro_acidentes' %}">Sinistro</a></div>{% endif %}
  {% if perms.globus.view_escala %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-orange"><i class="fas fa-file-import lead-image"></i><a id="widget_action_globus" class="widget-label stretched-link" href="{% url 'globus_escalas' %}">Escalas (Globus)</a></div>{% endif %}
  {% if perms.globus.consultar_escala %}<div class="card-widget col-6 col-lg-4 col-xl-2 btn-orange"><i class="fas fa-user-clock lead-image"></i><a id="widget_action_consultar_escala" class="widget-label stretched-link" href="{% url 'globus_consultar_escala' %}">Consultar Escala</a></div>{% endif %}
  {% if perms.globus.localizar_escala %}
  <div class="card-widget col-6 col-lg-4 col-xl-2 btn-orange"><i class="fas fa-search lead-image"></i><a id="widget_action_localizar_escala" class="widget-label stretched-link" href="{% url 'globus_localizar_escala' %}">Pesquisa Escala</a></div>
  <div class="card-widget col-6 col-lg-4 col-xl-2 btn-orange"><i class="fas fa-clipboard-list lead-image"></i><a id="widget_action_planejamento_linha" class="widget-label stretched-link" href="{% url 'globus_planejamento_linha' %}">Horários Linha</a></div>
  {% endif %}
</div>
<small class="d-none d-lg-block text-dark pt-3"><b class="me-1">Ctrl</b> <i class="fas fa-arrow-up text-secondary"></i> <i class="fas fa-arrow-right text-secondary"></i> <i class="fas fa-arrow-down text-secondary"></i> <i class="fas fa-arrow-left text-secondary me-1"></i> navega entre apps</small>
<small class="d-none d-lg-block text-dark"><b class="me-1">Ctrl</b> <b class="text-secondary">Enter</b>  acessa app</small>
{% endblock%}

{% block offcanvas_body %}
<h6 data-type="dotOffcanvasAncor" class="text-body-secondary mt-3">Configurações:</h6>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" name="addOn_agenda" id="id_addOnAgenda" data-model="addOnAgenda" onclick="addOnSettingsChange(this)">
  <label class="form-check-label" for="id_addOnAgenda">Addon: <b class="text-purple">Agenda</b></label>
</div>
<div class="form-check form-switch">
  <input class="form-check-input" type="checkbox" role="switch" name="addOn_tarefas" id="id_addOnTarefas" data-model="addOnTarefas" onclick="addOnSettingsChange(this)">
  <label class="form-check-label" for="id_addOnTarefas">Addon: <b class="text-purple">Tarefas</b></label>
</div>
<h6 class="text-body-secondary mt-3 mb-2">Outros:</h6>
{% if perms.core.view_issue %}<a class="btn btn-sm btn-danger" href="{% url 'core_issues' %}"><i class="fas fa-bug me-2"></i>Suporte</a>{% endif %}
<a class="btn btn-sm btn-purple" href="{% url 'handler' '998' %}"><i class="fas fa-spell-check me-2"></i>MD Editor</a>
{% endblock %}

  
{% block add_script_src %}
<script src="{% static 'js/date.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
{% if perms.core.view_agenda %}<script src="{% static 'js/calendar.js' %}"></script>{% endif %}
{% endblock %}
<script>
{% block add_script %}

if(__sw >= 992){ // Implementa navegacao nos apps para viewport LG+
  SHORTCUT_MAP['arrowrightFTF'] = nextApp;
  SHORTCUT_MAP['arrowleftFTF'] = previousApp;
  SHORTCUT_MAP['arrowdownFTF'] = appOnBottom;
  SHORTCUT_MAP['arrowupFTF'] = appOnTop;
  SHORTCUT_MAP['enterFTF'] = appClick;
  
  var apps,appSelectedIndex, x, y, maxCols, rows, appsMap;
  function buildAppMap(){
    apps = document.querySelectorAll('div:not(.d-none).card-widget');
    appSelectedIndex = apps ? 0 : null;
    x = apps ? 0 : null;
    y = apps ? 0 : null;
    maxCols = __ss == 'lg' ? 3 : 6;
    rows = apps ? Math.ceil(apps.length / maxCols) : 0;
    appsMap = [];

    for(i = 0; i < rows; i++){
    let row = [];
    for(j = 0; j < maxCols; j++){
      if(apps[i * maxCols + j]){
        row.push(apps[i * maxCols + j])
      }
    }
    appsMap.push(row);
  }
  if(apps.length > 0){ // Se pelo menos um app habilitado, adiciona classe de selecao no primeiro app
    document.querySelectorAll('.card-selected').forEach((e)=>{e.classList.remove('card-selected')})
    apps[0].classList.add('card-selected');
  }
  }
  buildAppMap();
  

  
  
  function appClick(){
    try{appsMap[y][x].querySelector('a.stretched-link').click();}catch(e){}
  }

  function nextApp(){
    if(apps.length == 0){return false}
    if(appsMap[y][x + 1]){
      appsMap[y][x].classList.remove('card-selected');
      x++;
      appsMap[y][x].classList.add('card-selected');
    }
    else{
      appsMap[y][x].classList.remove('card-selected');
      x = 0
      appsMap[y][x].classList.add('card-selected');
    }
  }
  function previousApp(){
    if(apps.length == 0){return false}
    appsMap[y][x].classList.remove('card-selected');
    if(appsMap[y][x - 1]){
      x--;
      appsMap[y][x].classList.add('card-selected');
    }
    else{
      x = appsMap[y].length - 1;
      appsMap[y][x].classList.add('card-selected');
    }
  }

  function appOnTop(){
    if(apps.length == 0){return false}
    appsMap[y][x].classList.remove('card-selected');
    if(appsMap[y - 1] && appsMap[y - 1][x]){
      y--;
      appsMap[y][x].classList.add('card-selected');
    }
    else if(appsMap[y - 1]){
      y--;
      x = appsMap[y].length - 1;
      appsMap[y][x].classList.add('card-selected');
    }
    else if(appsMap[rows - 1][x]){ // Nao tem linha anterior, aponta para ultima linha e mesma coluna (se existir)
      y = rows - 1;
      appsMap[y][x].classList.add('card-selected');
    }
    else{ // Nao tem linha anterior e nao existe mesma coluna na ultima linha, aponta para ultimo item da ultima linha
      y = rows - 1;
      x = appsMap[y].length - 1;
      appsMap[y][x].classList.add('card-selected');
    }
  }
  function appOnBottom(){
    if(apps.length == 0){return false}
    appsMap[y][x].classList.remove('card-selected');
    if(appsMap[y + 1] && appsMap[y + 1][x]){
      y++;
      appsMap[y][x].classList.add('card-selected');
    }
    else if(appsMap[y + 1]){
      y++;
      x = appsMap[y].length - 1;
      appsMap[y][x].classList.add('card-selected');
    }
    else if(appsMap[0][x]){ // Nao tem proxima linha, aponta para primeira linha e mesma coluna (se existir)
      y = 0;
      appsMap[y][x].classList.add('card-selected');
    }
  }
}


{% if perms.core.view_agenda %}

let today = new Date();
let year = today.getFullYear();
let month = today.getMonth() + 1;
let events = {};
let holidays = {};
function getAgenda() {
    return new Promise(function(resolve, reject) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
            let obj = JSON.parse(this.responseText);
            for(item in obj){events[obj[item].fields.data] = 'Eventos: Click para visualizar';}
            resolve(events);
        };
        xhr.onerror = reject;
        xhr.open("GET", `{% url 'core_get_agenda' %}?ano=${year}&mes=${month}`, true);
        xhr.send();
    });
}

function getFeriados() {
    return new Promise(function(resolve, reject) {
        var xhr = new XMLHttpRequest();
        xhr.onload = function() {
            holidays = JSON.parse(this.responseText);
            resolve(holidays);
        };
        xhr.onerror = reject;
        xhr.open("GET", `{% url 'core_get_feriados' %}?ano=${year}`, true);
        xhr.send();
    });
}
getAgenda().then(() => {getFeriados().then(() => {
  const agenda = new jsCalendar({
  container: document.getElementById('widget_core_agenda'),
  holidays: holidays,
  events: events,
  canChangeView: false,
  selectedDays: [dateToday({native:true})],
  onclick: (day) => {window.location.href = `{% url 'core_agendas' %}?data=${day}`;},
  calendarClasslist: 'table table-sm border caption-top text-center mb-0 user-select-none fs-9',
  captionClasslist: 'py-1',
  headerClasslist: 'border border-light-subtle py-0 bg-light text-body-secondary fs-9',
  customDayClasslist: 'border border-light-subtle py-0 bg-light fs-7',
  holidayClasslist: 'border border-light-subtle py-0 bg-danger-subtle fs-7',
  busyDayClasslist: 'border border-light-subtle py-0 bg-purple-light fs-7',
  selectDayClasslist: 'border border-light-subtle py-0 bg-body-secondary fw-bold fs-7',
  emptyDayClasslist: 'border border-light-subtle bg-dark-subtle bg-opacity-50 py-0',
  monthNameClassList: 'mt-0 ps-1 pointer text-light fs-6',
  monthPickerClassList: 'form-select form-select-sm me-1 py-1 fs-9',
  yearPickerClassList: 'form-control form-control-sm me-1 py-0 fs-9',
  calendarControlsChangeViewClasslist: 'btn btn-sm btn-light fs-9 py-1 py-lg-0 me-1',
  calendarControlsNavegateClasslist: 'btn btn-sm btn-light py-1 py-lg-0 fs-9 ms-1',
  calendarControlsCancelClasslist: 'btn btn-sm btn-light text-body-secondary py-1 me-1 fs-9',
  calendarControlsSelectDayClasslist: 'btn btn-sm btn-light text-success py-1 me-1 fs-9',
});
document.getElementById('loadingScreenAgenda').remove();
})})

{% endif %}



{% include 'core/_addOn.js' %}
{% include '_component/script/update_alertas.js' %}
{% endblock %}
</script>