{% extends "layout/dot.html" %}
{% load static %}
{% load tag_extra %}
{% block title %}Issue{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block style_src %}<link rel="stylesheet" href="{% static 'css/timeline.css' %}">{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'core_issue_id' issue.id|safe %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'core_issues' %}"><i class="fas fa-undo"></i></a></li>
            <li class="nav-item dropdown ms-auto">
                <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item pointer" data-bs-toggle="modal" data-bs-target="#history_modal">Historico</a></li>
                    {% if perms.core.delete_issue %}
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item dropdown-item-danger pointer" data-bs-toggle="modal" data-bs-target="#delete_modal">Excluir Issue</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </div>
    <form id="core_form" action="{% url 'core_issue_update' issue.id|safe %}" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="card-body tab-content">
            <h5 class="card-title mb-3">Suporte: <b class="text-orange">Issue {{issue.id|zfill:5}}</b></h5>
            {% include 'core/_form_issue.html' %}
        </div>
    </form>
</div>

{% if perms.core.delete_issue %}
<div class="modal fade" id="delete_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-exclamation-triangle text-danger me-2"></i> Excluir Registro</h5></div>
                <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
            </div>
            <div class="modal-body">
                <p><b class="text-danger">Atenção!!</b> Esta operação não pode ser desfeita, confirma a exclusão do registro?</p>
                <div class="row mt-2">
                    <div class="col text-end">
                        <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
                        <a class="btn btn-danger px-3" href="{% url 'core_issue_delete' issue.id|safe %}">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="modal fade" id="history_modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="row">
                <div class="col"><h5 class="ms-3 mt-3">Histórico <sup>(last 15)</sup></h5></div>
                    <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
                </div>
                <div class="modal-body">
                    <table class="table table-sm">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Operação</th>
                                <th>Usuário</th>
                            </tr>
                        </thead>
                    <tbody class="fs-7">
                    {% for i in issue.ultimas_alteracoes %}
                        <tr>
                            <td>{{i.data|date:'d/m/Y H:i:s'}}</td>
                            <td>{{i.mensagem}}</td>
                            <td>{{i.usuario.username|upper}}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}

var TAB_ON_ENTER = true;
let textarea_placeholder = `Nova mensagem...`
document.getElementById('id_nova_interacao').setAttribute('placeholder', textarea_placeholder);

let readonly = false;
{% if not perms.core.eh_suporte %}
// Caso usuario logado nao seja suporte, bloqueia edicao de campos de cadastro
document.getElementById('id_tipo').classList.add('readonly');
document.getElementById('id_assunto').setAttribute('readonly','');
document.getElementById('id_nova_interacao').focus();
document.getElementById('id_concluir_issue').disabled = {% if issue.status == 'F' %}true{% else %}false{% endif %};
readonly = true;
{% else %}
document.getElementById('id_status').classList.remove('readonly');
document.getElementById('id_classificacao').classList.remove('readonly');
// Cria controles do analista
let msg_init = `Olá <b>{{issue.usuario.username|title}}</b>,
Darei andamento a este atendimento contigo.
Farei algumas análises iniciais e em breve darei um retorno a respeito.

Se precisar de algum apoio neste meio tempo, pode me informar aqui no ticket ;)`
let controls = [
    {id:'issueBTN_0', innerHTML: 'INIT', classList:'btn btn-sm btn-warning', onclick: () => {document.getElementById('id_status').value = 'A';document.getElementById('id_nova_interacao').value = msg_init;}}
]
for(item in controls){
    let btn = document.createElement('button');btn.type = 'button';btn.id = controls[item].id;btn.classList = controls[item].classList;btn.innerHTML = controls[item].innerHTML;
    btn.onclick = controls[item].onclick;
    document.getElementById('analist_controls').appendChild(btn);
}

SHORTCUT_MAP['0FTF'] = () => {document.getElementById('issueBTN_0').click()}

{% endif %}


// Monta Historico (timeline) do issue
const list = document.getElementById('historico_list');
let historico = {{issue.historico|safe}};

for(item in historico){
    let li = document.createElement('li');li.classList = 'event';
    let anexos = '';
    for(i in historico[item].files){
        anexos += historico[item].files[i];
    }
    li.innerHTML = `
        <div class="d-flex justify-content-between">
            <span><i class="fas fa-${historico[item].origem == 0 ? 'tools' : 'user'}  fa-fw"></i><b class="text-orange">${historico[item].usuario.toUpperCase()}</b></span>
            <span class="fs-8 ps-4"><i class="fas fa-clock me-2"></i>${historico[item].data} ${historico[item].hora}</span>
        </div>
        <div class="my-1">${historico[item].mensagem.replace(/\n/g, "<br />")}</div>
        <span class="fs-7">${anexos}</span>`;
    list.appendChild(li)
    console.log(historico[item].mensagem.split('\r'));
}

// Aplica jsSelectm para followers
const followers = new jsSelectm(document.getElementById('id_followers'), {
    title: 'Acompanhamento:',
    checkAll: false,
    disabled: readonly
})

// Trata componetes para finalizar issue (switch e stars)
document.getElementById('id_concluir_issue').onchange = (ev) => {
    if(ev.target.checked){
        document.getElementById('id_status').value = 'F';
        document.getElementById('finalizar_issue').classList.remove('d-none');
    }
}
function setStars(int){ // Funcao que trata eventos click nas stars
    document.querySelectorAll('[data-star]').forEach((el) => {
        if(el.dataset.star > int){el.classList.replace('text-success', 'text-body-secondary')}
        else{el.classList.replace('text-body-secondary', 'text-success')}
    })
    document.getElementById('id_avaliacao').value = int;
}
setStars({{issue.avaliacao|default:0}}) // Chama funcao para printar ao carregar a pagina

{% if issue.status != 'F' %}
// Caso issue nao esteja fechado, adicona listeners para evento click das stars
document.querySelectorAll('[data-star]').forEach((el) => {
    el.onclick = () => {setStars(parseInt(el.dataset.star))}
})
{% endif%}

{% endblock %}
</script>