{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Issue{% endblock %}
{% block model %}core / Issue{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block style_src %}
<link rel="stylesheet" href="{% static 'css/timeline.css' %}">
{% endblock%}


<style>
{% block style %}
{% endblock%}
</style>

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'core_issue_add' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'core_issues' %}"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'core_issue_add' %}" method="POST" autocomplete="off">
    {% csrf_token %}
        <div class="card-body tab-content">
            <h5 class="card-title mb-3">Suporte: <b class="text-orange">Novo Issue</b></h5>
            <div class="tab-pane fade show active" id="base" role="tabpanel">
                <div class="row g-3">
                    <div class="col-lg-9">
                        <div class="row g-1">
                            <div class="form-floating mb-lg-1 col-lg-3">
                                {{ form.tipo }}
                                <label for="id_tipo">Tipo</label>
                            </div>
                            <div class="form-floating mb-lg-1 col-lg">
                                {{ form.assunto }}
                                <label for="id_assunto">Assunto</label>
                            </div>
                        </div>
                        <div class="row g-1">
                            <div class="mb-1 col-12">
                                <textarea name="nova_interacao" id="id_nova_interacao" class="form-control" style="min-height: 150px;" placeholder=""></textarea>
                            </div>
                            <div class="mb-1 col pe-2">
                                <input type="file" class="form-control" name="files" id="id_files">
                            </div>
                            <div class="mb-1 col-auto">
                                <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
                            </div>
                        </div>
                        <ul class="timeline timeline-sm mt-2">
                            <li class="event position-relative" data-date="">
                                <div>{% lorem %}</div>
                                <div class="text-end fs-7"><b class="text-orange me-2">Rafael</b> 22/04 14h22</div>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg">
                        <div class="row g-1">
                            <div class="form-floating mb-1 col-12">
                                {{ form.status }}
                                <label for="id_status">Status</label>
                            </div>
                            <div class="form-floating mb-1 col-12">
                                {{ form.classificacao }}
                                <label for="id_classificacao">Classificação</label>
                            </div>
                            <div class="col-12">
                                {{ form.followers }}
                            </div>
                        </div>
                        <div class="form-check form-switch mt-3">
                            <input class="form-check-input" type="checkbox" role="switch" name="concluir_issue" tabindex="-1" id="id_concluir_issue">
                            <label class="form-check-label" for="id_concluir_issue">Finalizar issue</label>
                        </div>
                        <h6 class="text-secondary mt-3">Anexos</h6>
                        {% for file in issue.files %}
                        <a href="{{file.url}}" target="_blank"><i class="fas fa-camera fa-fw"></i>erro.png</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
var TAB_ON_ENTER = true;
let textarea_placeholder = `Descreva sua solicitação com o máximo de detalhes possível, eles nos ajudarão a tornar seu atendimento mais ágil e assertivo.
Informações como :
* Caminho da tela em que a situação ocorre
* Detalhamento da situação onde o erro acontece
* Imagens do erro apresentado, etc...`
document.getElementById('id_nova_interacao').setAttribute('placeholder', textarea_placeholder);

const followers = new jsSelectm(document.getElementById('id_followers'), {
    title: 'Seguindo:',
    checkAll: false,
    optionsSelected: ['{{user.id|safe}}']
})

{% endblock %}
</script>