{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Issue{% endblock %}
{% block model %}core / Issue{% endblock %}
{% block model_menu %}{% include "_component/menu/core.html" %}{% endblock%}

{% block style_src %}<link rel="stylesheet" href="{% static 'css/timeline.css' %}">{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'core_issue_add' %}"></a>
<div class="card mt-2">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
            <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'core_issues' %}"><i class="fas fa-undo"></i></a></li>
        </ul>
    </div>
    <form id="app_form" action="{% url 'core_issue_add' %}" method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
        <div class="card-body tab-content">
            <h5 class="card-title mb-3">Suporte: <b class="text-orange">Novo Issue</b></h5>
            {% include 'core/_form_issue.html' %}
        </div>
    </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/selectm.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
var TAB_ON_ENTER = true;
let textarea_placeholder = `Descreva sua solicitação com o máximo de detalhes possível, eles nos ajudarão a tornar seu atendimento mais ágil e assertivo.
Informações como :
* Caminho da tela em que a situação ocorre
* Detalhamento da situação onde o erro acontece
* Imagens do erro apresentado, etc...`
document.getElementById('id_nova_interacao').setAttribute('placeholder', textarea_placeholder);

const followers = new jsSelectm(document.getElementById('id_followers'), {
    title: 'Seguindo:',
    checkAll: false,
    optionsSelected: ['{{user.id|safe}}']
})

{% endblock %}
</script>