{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Logs{% endblock %}
{% block model_menu %}
{% include "_component/menu/visitor.html" %}
{% endblock%}

{% block content_fluid %}
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link pointer" id="back" title="ALT + V" onclick="window.close();"><i class="fas fa-undo"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + D">Exportar CSV</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Logs <small class="badge bg-primary ms-1">{{logs.count}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover table-sortable">
        <thead>
          <tr>
            <th class="d-none d-sm-table-cell">Data</th>
            <th class="d-none d-lg-table-cell">Modelo</th>
            <th>Objeto</th>
            <th class="d-none d-lg-table-cell">Operação</th>
            <th>Usuario</th>
          </tr>
        </thead>
        <tbody>
          {% for log in logs %}
            <tr>
              <td class="d-none d-sm-table-cell">{{log.data|date:'d/m/Y H:i:s'}}</td>
              <td class="d-none d-lg-table-cell">{{log.modelo}}</td>
              <td>{{log.objeto_str}}</td>
              <td class="d-none d-lg-table-cell">{{log.mensagem}}</td>
              <td>{{log.usuario.username|upper}}</td>
            </tr>
            {% empty %}
            <tr>
              <td colspan="5">Nenhum registro a exibir</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="param" role="tabpanel">param</div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}