<div class="card-body tab-content">
  <h5 class="card-title">Cadastro de Terceiro</h5>
  <h6 class="mb-3">Pasta <b class="text-primary">{{acidente.pasta}}{{terceiro.acidente.pasta}}</b></h6>
  <div class="tab-pane fade show active" id="tab_base" role="tabpanel">
    <div class="row g-1">
      <div class="form-floating mb-1 col-lg-12">
        {{ form.nome }}
        <label for="id_nome">Nome Terceiro</label>
      </div>
    </div>
    <div class="row g-1">
      <div class="form-floating mb-lg-1 col-lg-4">
        {{ form.classificacao }}
        <label for="id_classificacao">Classificação</label>
      </div>
      <div class="form-floating mb-lg-1 col-lg-4">
        {{ form.rg }}
        <label for="id_rg">RG</label>
      </div>
      <div class="form-floating mb-1 col-lg-4">
        {{ form.cpf }}
        <label for="id_cpf">CPF</label>
      </div>
    </div>
    <div class="row g-1">
      <div class="form-floating mb-1 col-lg-3">
        {{ form.fone1 }}
        <label for="id_fone1">Fone 1</label>
      </div>
      <div class="form-floating mb-1 col-lg-3">
        {{ form.fone2 }}
        <label for="id_fone2">Fone 2</label>
      </div>
      <div class="form-floating mb-1 col-lg-6">
        {{ form.email }}
        <label for="id_email">Email</label>
      </div>
    </div>
    <div class="row g-1">
      <div class="form-floating mb-1 col-lg-12">
        {{ form.endereco }}
        <label for="id_endereco">Endereço</label>
      </div>
    </div>
    <div class="row g-1">
      <div class="form-floating mb-1 col-lg" style="max-width:100px;">
        {{ form.uf }}
        <label for="id_uf">UF</label>
      </div>
      <div class="form-floating mb-1 col">
        {{ form.cidade }}
        <label for="id_cidade">Cidade</label>
      </div>
      <div class="form-floating mb-1 col-lg">
        {{ form.bairro }}
        <label for="id_bairro">Bairro</label>
      </div>
    </div>
    <div class="form-check form-switch mt-2">
      {{form.concluido}}
      <label class="form-check-label" for="id_concluido">Concluido tratativas</label>
    </div>
  </div>
  <div class="tab-pane fade" id="tab_veiculo" role="tabpanel">
    <div class="row g-1">
      <div class="form-floating mb-lg-1 col-lg-3">
        {{ form.veiculo }}
        <label for="id_veiculo">Veículo</label>
      </div>
      <div class="form-floating mb-lg-1 col-lg-3">
        {{ form.placa }}
        <label for="id_placa">Placa</label>
      </div>
      <div class="form-floating mb-lg-1 col-lg-3">
        {{ form.cor }}
        <label for="id_cor">Cor</label>
      </div>
      <div class="form-floating mb-1 col-lg-3">
        {{ form.ano }}
        <label for="id_ano">Ano</label>
      </div>
    </div>
    <div class="row g-1">
      <div class="form-floating mb-lg-1 col-lg-3">
        {{ form.acordo }}
        <label for="id_acordo">Acordo R$</label>
      </div>
      <div class="form-floating mb-lg-1 col-lg">
        {{ form.forma }}
        <label for="id_forma">Forma</label>
      </div>
      <div class="form-floating mb-1 col-lg">
        {{ form.oficina }}
        <label for="id_oficina">Oficina</label>
      </div>
    </div>
    <div class="form-check form-switch mt-2">
      {{form.pendente_nota_fiscal}}
      <label class="form-check-label" for="id_pendente_nota_fiscal">Pendente Nota Oficina</label>
    </div>
  </div>
  <!-- CONTROLES DO FORM -->
  <div class="row mt-3">
    <div class="col">
      <button type="submit" id="submit" class="btn btn-primary" title="ALT + G"><b>G</b>ravar</button>
    </div>
  </div>
</div>