{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Acidentes{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_acidentes' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="tab_link_base" class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a id="search" class="nav-link" data-bs-toggle="tab" data-bs-target="#param" href="#" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},220);" title="CTRL + /"><i class="fas fa-filter"></i></a></li>
      {% if perms.sinistro.add_acidente %}
      <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'sinistro_acidente_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + &darr;">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=sinistro.acidente&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Acidentes <small class="badge bg-primary ms-1">{{acidentes.count}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th class="d-none">#</th>
            <th class="d-none">Empresa</th>
            <th>Pasta</th>
            <th class="d-none">Classificação</th>
            <th class="d-none">Linha</th>
            <th class="d-none">Nome linha</th>
            <th class="d-none d-lg-table-cell">Inspetor</th>
            <th class="d-none">Nome apelido</th>
            <th>Data</th>
            <th class="d-none">Hora</th>
            <th>Veiculo</th>
            <th class="d-none d-lg-table-cell">Condutor</th>
            <th class="d-none">Nome condutor</th>
            <th class="d-none d-xl-table-cell">Terceiro</th>
            <th>Carro</th>
            <th class="d-none d-lg-table-cell">Placa</th>
            <th class="d-none d-xl-table-cell">Acordo</th>
            <th class="d-none d-xl-table-cell">Despesas</th>
            <th class="d-none d-xl-table-cell">Culpabilidade</th>
            <th class="d-none">Oficina</th>
            <th class="d-none">Status</th>
            {% if perms.sinistro.change_acidente %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for acidente in semTerceiros %}
          <tr class="table-secondary">
            <td class="d-none">{{acidente.id|safe}}</td>
            <td class="d-none">{{acidente.empresa.nome}}</td>
            <td>{{acidente.pasta}}</td>
            <td class="d-none">{{acidente.classificacao.nome}}</td>
            <td class="d-none">{{acidente.linha.codigo}}</td>
            <td class="d-none">{{acidente.linha.nome}}</td>
            <td class="d-none">{{acidente.inspetor.matricula}}</td>
            <td class="d-none d-lg-table-cell">{{acidente.inspetor.apelido|default:'---'}}</td>
            <td>{{acidente.data|date:"d/m/y"|default:'---'}}</td>
            <td class="d-none">{{acidente.hora}}</td>
            <td>{{acidente.veiculo.prefixo|default:'---'}}</td>
            <td class="d-none d-lg-table-cell">{{acidente.condutor.matricula|default:'---'}}</td>
            <td class="d-none">{{acidente.condutor.apelido|default:'---'}}</td>
            <td class="d-none d-xl-table-cell">---</td>
            <td>---</td>
            <td class="d-none d-lg-table-cell">---</td>
            <td class="d-none d-xl-table-cell">---</td>
            <td class="d-none d-xl-table-cell">---</td>
            <td class="d-none d-xl-table-cell">{{acidente.get_culpabilidade_display}}</td>
            <td class="d-none">---</td>
            <td class="d-none">{{acidente.concluido|yesno:'Concluido, Aberto'}}</td>
            {% if perms.sinistro.change_acidente %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'sinistro_acidente_id' acidente.id %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
          {% for acidente in terceiros %}
          <tr class="table-secondary">
            <td class="d-none">{{acidente.id|safe}}</td>
            <td class="d-none">{{acidente.empresa.nome}}</td>
            <td>{{acidente.pasta}}</td>
            <td class="d-none">{{acidente.classificacao.nome}}</td>
            <td class="d-none">{{acidente.linha.codigo}}</td>
            <td class="d-none">{{acidente.linha.nome}}</td>
            <td class="d-none">{{acidente.inspetor.matricula}}</td>
            <td class="d-none d-lg-table-cell">{{acidente.inspetor.apelido|default:'---'}}</td>
            <td>{{acidente.data|date:"d/m/y"|default:'---'}}</td>
            <td class="d-none">{{acidente.hora}}</td>
            <td>{{acidente.veiculo.prefixo|default:'---'}}</td>
            <td class="d-none d-lg-table-cell">{{acidente.condutor.matricula|default:'---'}}</td>
            <td class="d-none">{{acidente.condutor.apelido|default:'---'}}</td>
            <td class="d-none d-xl-table-cell">{{acidente.nome}}</td>
            <td class="">{{acidente.veiculo|default:'---'}}</td>
            <td class="d-none d-lg-table-cell">{{acidente.placa|default:'---'}}</td>
            <td class="text-end d-none d-xl-table-cell">{{acidente.acordo}}</td>
            <td class="text-end d-none d-xl-table-cell">{{acidente.despesas|floatformat:2}}</td>
            <td class="d-none d-xl-table-cell">{{acidente.get_culpabilidade_display}}</td>
            <td class="d-none">{{acidente.oficina.nome|default:'---'}}</td>
            <td class="d-none">{{acidente.concluido|yesno:'Concluido, Aberto'}}</td>
            {% if perms.sinistro.change_acidente %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'sinistro_acidente_id' acidente.id %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
          {% if not semTerceiros and not terceiros %}
          <tr>
            <td colspan="22">Nenhum registro a exibir</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="param" role="tabpanel">
      <div class="row g-1">
        <div class="form-floating mb-1 col-lg-5">
          <input type="text" id="id_pesquisa" name="pesquisa" class="form-control bg-light" onfocus="this.value = '#'">
          <label for="id_pesquisa">Pesquisa</label>
        </div>
      </div>
      
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_to_csv.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  SHORTCUT_MAP['1FTF'] = '#tab_link_base';
  
  {% endblock %}
</script>
