{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Despesas{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_despesas' terceiro.id|safe %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.sinistro.add_despesa %}
      <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'sinistro_despesa_add' terceiro.id|safe %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'sinistro_terceiro_id' terceiro.id|safe %}"><i class="fas fa-undo"></i></a></li>
      <li class="nav-item"><a id="acidentes_link" class="nav-link" href="{% url 'sinistro_acidentes' %}"  title="Fechar: Acidentes"><i class="fas fa-reply-all"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + D">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=sinistro.despesa&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-0">Despesas <small class="badge bg-primary ms-1">{{despesas.count}}</small><small class="badge bg-primary ms-1">R$ {{total|default:0|floatformat:2}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <caption><b>{{terceiro.nome}}</b></caption>
        <thead>
          <tr>
            <th class="d-none">#</th>
            <th class="d-none d-lg-table-cell">Terceiro</th>
            <th>Tipo</th>
            <th class="d-none d-md-table-cell">Data</th>
            <th>Valor</th>
            <th class="d-none">Forma</th>
            <th class="d-none d-lg-table-cell">Detalhe</th>
            {% if perms.sinistro.change_despesa %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for despesa in despesas %}
          <tr>
            <td class="d-none">{{despesa.id|safe}}</td>
            <td class="d-none d-lg-table-cell">{{despesa.terceiro.nome}}</td>
            <td>{{despesa.tipo.nome}}</td>
            <td class="d-none d-md-table-cell">{{despesa.data|date:"d/m/Y"}}</td>
            <td>{{despesa.valor}}</td>
            <td class="d-none">{{despesa.forma.nome}}</td>
            <td class="d-none d-lg-table-cell">{{despesa.detalhe}}</td>
            {% if perms.sinistro.change_despesa %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'sinistro_despesa_id' despesa.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
SHORTCUT_MAP['fTFF'] = () => {document.getElementById('acidente_link').click()};

const table = new jsTable(document.getElementById('main_table'), {});
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow();}
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow();};
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow();}
{% endblock %}
</script>