{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Fotos{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_fotos' acidente.id|safe %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#fotos" href="#"><i class="fas fa-camera"></i></a></li>
      <li class="nav-item"><a class="nav-link border pointer ms-1" id="add" data-bs-toggle="modal" data-bs-target="#fotos_modal" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'sinistro_acidente_id' acidente.id %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <div class="tab-pane fade show active" id="fotos" role="tabpanel">
      <h6>Pasta: <b class="text-primary">{{acidente.pasta}}</b></h6>
      <h6>Carro: <b class="text-primary">{{acidente.veiculo.prefixo}}</b></h6>
      <div class="row">
        {% for foto in fotos %}
        <div class="card-widget col-md-6 col-lg-4 col-xl-3 btn-light pointer" title="Ctrl + C">
          {% if perms.sinistro.delete_foto %}
          <a class="widget-control text-light mt-2 me-2" data-bs-toggle="dropdown" role="button"><i class="fas fa-ellipsis-v"></i></a>
          <ul class="dropdown-menu dropdown-menu-end"><li><a class="dropdown-item dropdown-item-danger" href="{% url 'sinistro_foto_delete' foto.id %}">Excluir Foto</a></li></ul>
          {% endif %}
          <div class="row">
            <div class="col-12 text-center"><img src="{{foto.url}}" class="img-fluid" alt="Arquivo nao localizado"></div>
          </div>
        </div>
        {% empty %}
        <p>Nenhuma foto adicionada</p>
        {% endfor %}      
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="fotos_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-camera text-success me-2"></i> Adicionar Fotos</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="foto_form" action="{% url 'sinistro_foto_add' acidente.id|safe %}" method="POST" autocomplete="off" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="row mt-2 g-1">
          	<div class="mb-1 col-lg-12">
          		<input type="file" class="form-control" name="fotos" accept="image/*" multiple>
          	</div>
            <small>Formatos aceitos: <span class="badge bg-primary ms-2">.png</span> <span class="badge bg-primary">.jpg</span> <span class="badge bg-primary">.jpeg</span></small>
          </div>
          <div class="row mt-2">
            <div class="col text-end">
              <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
              <button type="submit" class="btn btn-primary" name="button">Adicionar</button>
            </div>
          </div>
        </form>        
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block add_script_src %}{% endblock %}

<script>
  {% block add_script %}{% endblock %}
</script>