{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Notas{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_notas_pendentes' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link pointer" id="search" data-bs-toggle="modal" data-bs-target="#search_modal" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},480);" title="CTRL + /"><i class="fas fa-search"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'sinistro_oficinas' %}"><i class="fas fa-undo"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + D">Exportar CSV</a></li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Notas <small class="badge bg-primary ms-1">{{terceiros.count}}</small><small class="badge bg-primary ms-1">R$ {{total|default:0|floatformat:2}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover table-sortable">
        <thead>
          <tr>
            <th class="d-none d-lg-table-cell">Seq</th>
            <th>Oficina</th>
            <th>Pasta</th>
            <th class="d-none d-md-table-cell">Veiculo</th>
            <th class="d-none d-lg-table-cell">Cor</th>
            <th class="d-none d-lg-table-cell">Placa</th>
            <th>Valor</th>
            {% if perms.sinistro.change_terceiro %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for terceiro in terceiros %}
          <tr>
            <td class="d-none d-lg-table-cell">{{forloop.counter}}</td>
            <td>{{terceiro.oficina.nome|default:"---"}}</td>
            <td>{{terceiro.acidente.pasta}}</td>
            <td class="d-none d-md-table-cell">{{terceiro.veiculo}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.cor}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.placa}}</td>
            <td>{{terceiro.acordo}}</td>
            {% if perms.acidente.change_terceiro %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'sinistro_terceiro_id' terceiro.id|safe %}"><i class="fas fa-user"></i></a></td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="8">Nenhum registro a exibir</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="param" role="tabpanel">param</div>
  </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="sinistro_form" action="{% url 'sinistro_notas_pendentes' %}" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control" name="pesquisa" value="" id="id_pesquisa" placeholder="">
              <label for="id_pesquisa">Termo pesquisa</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_extra.js' %}"></script>
{% endblock %}