{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Oficina{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_oficinas' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" href="{% url 'sinistro_notas_pendentes' %}"><i class="fas fa-dollar-sign" title="Notas Pendentes"></i></a></li>
      {% if perms.sinistro.add_oficina %}
      <li class="nav-item"><a class="nav-link border" id="add" href="{% url 'sinistro_oficina_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=sinistro.oficina&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-1">Oficinas</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th class="d-none d-md-table-cell">Contato</th>
            <th class="d-none d-lg-table-cell">Fone 1</th>
            <th class="d-none d-lg-table-cell">Fone 2</th>
            <th class="d-none">Email</th>
            <th class="d-none">Razão Social</th>
            <th class="d-none">CNPJ</th>
            <th class="d-none">Endereço</th>
            <th class="d-none">Status</th>
            <th class="text-end ps-4 fit">NF Pendente</th>
            {% if perms.sinistro.change_oficina %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for oficina in oficinas %}
          <tr class="{% if not oficina.ativa %}table-danger{% endif %}">
            <td>{{oficina.id|safe}}</td>
            <td>{{oficina.nome}}</td>
            <td class="d-none d-md-table-cell">{{oficina.contato}}</td>
            <td class="d-none d-lg-table-cell">{{oficina.fone1}}</td>
            <td class="d-none d-lg-table-cell">{{oficina.fone2}}</td>
            <td class="d-none">{{oficina.email}}</td>
            <td class="d-none">{{oficina.razao_social}}</td>
            <td class="d-none">{{oficina.cnpj}}</td>
            <td class="d-none">{{oficina.endereco}}</td>
            <td class="d-none">{{oficina.ativa|yesno:'Ativa,Inativa'}}</td>
            <td class="text-end">{{oficina.notasPendentes.1|floatformat:2|default:'--'}} [ <label class="fw-bold text-center" style="width:20px;">{{oficina.notasPendentes.0}}</label> ]</td>
            {% if perms.sinistro.change_oficina %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'sinistro_oficina_id' oficina.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {
  canFilter: true,
  filterCols: ['Nome'],
  enablePaginate: true
});
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow();}
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow();};
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow();}
{% endblock %}
</script>