{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Terceiros{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_terceiros' acidente.id|safe%}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link pointer" id="search" data-bs-toggle="modal" data-bs-target="#search_modal" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},480);" title="CTRL + /"><i class="fas fa-search"></i></a></li>
      {% if perms.sinistro.add_terceiro %}
      <li class="nav-item"><a class="nav-link border" id="add" href="{% url 'sinistro_terceiro_add' acidente.id|safe%}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'sinistro_acidente_id' acidente.id|safe%}"><i class="fas fa-undo"></i></a></li>
      <li class="nav-item"><a id="acidentes_link" class="nav-link" href="{% url 'sinistro_acidentes' %}"  title="Fechar: Acidentes"><i class="fas fa-reply-all"></i></a></li>
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + D">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=sinistro.terceiro&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-0">Terceiros <small class="badge bg-primary ms-1">{{terceiros.count}}</small></h5>
    <h6 class="mb-3">Pasta <b class="text-primary">{{acidente.pasta}}</b></h6>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover table-sortable">
        <thead>
          <tr>
            <th class="d-none">#</th>
            <th class="d-none">Pasta</th>
            <th>Nome</th>
            <th class="d-none">Classificacao</th>
            <th class="d-none d-lg-table-cell">Fone 1</th>
            <th class="d-none d-lg-table-cell">Fone 2</th>
            <th>Veiculo</th>
            <th class="d-none">Cor</th>
            <th class="d-none d-lg-table-cell">Placa</th>
            <th class="d-none d-lg-table-cell">Acordo</th>
            <th class="d-none d-lg-table-cell">Despesas</th>
            <th class="d-none d-lg-table-cell">Oficina</th>
            <th class="d-none d-md-table-cell">Status</th>
            <th>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {% for terceiro in terceiros %}
          <tr class="{{terceiro.concluido|yesno:'table-success,'}}">
            <td class="d-none">{{terceiro.id|safe}}</td>
            <td class="d-none">{{terceiro.sinistro.pasta}}</td>
            <td>{{terceiro.nome}}</td>
            <td class="d-none">{{terceiro.get_classificacao_display}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.fone1}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.fone2}}</td>
            <td>{{terceiro.veiculo}}</td>
            <td class="d-none">{{terceiro.cor}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.placa}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.acordo|default:'--'}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.despesas|default:'--'}}</td>
            <td class="d-none d-lg-table-cell">{{terceiro.oficina.nome|default:'--'}}</td>
            <td class="d-none d-md-table-cell">{{terceiro.concluido|yesno:'Concluido, Em Aberto'}}</td>
            <td class="text-end fit py-1">
            {% if perms.sinistro.change_terceiro %}<a class="btn btn-sm btn-dark" href="{% url 'sinistro_terceiro_id' terceiro.id|safe%}"><i class="fas fa-pen"></i></a>{% endif %}
            {% if perms.sinistro.view_despesa %}<a class="btn btn-sm btn-dark" href="{% url 'sinistro_despesas' terceiro.id|safe%}" title="Despesas"> <i class="fas fa-dollar-sign px-1"></i> </a>{% endif %}
          </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="14">Nenhum registro a exibir</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="sinistro_form" action="{% url 'sinistro_terceiros' acidente.id|safe%}" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control" name="pesquisa" value="" id="id_pesquisa" placeholder="">
              <label for="id_pesquisa">Termo pesquisa</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
SHORTCUT_MAP['fTFF'] = '#acidentes_link';
{% endblock %}
</script>
