{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Termos{% endblock %}
{% block model %}Sinistro{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/sinistro.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'sinistro_termos' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.sinistro.add_termo %}
      <li class="nav-item ms-1"><a class="nav-link border pointer" id="add" data-bs-toggle="modal" data-bs-target="#add_termo_modal" onclick="setTimeout(function(){document.getElementById('id_nome').focus();},480);" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=sinistro.termo&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-2">Docs: <b class="text-primary">Termos</b></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th class="d-none d-xl-table-cell">Representante</th>
            <th class="d-none d-xl-table-cell">Cargo</th>
            <th class="d-none d-lg-table-cell">Local</th>
            <th class="d-none d-sm-table-cell">Criado por</th>
            <th class="d-none d-md-table-cell">Criado em</th>
            {% if perms.sinistro.change_termo %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for termo in termos %}
          <tr>
            <td>{{termo.nome}}</td>
            <td class="d-none d-xl-table-cell">{{termo.representante}}</td>
            <td class="d-none d-xl-table-cell">{{termo.cargo}}</td>
            <td class="d-none d-lg-table-cell">{{termo.local}}</td>
            <td class="d-none d-sm-table-cell fw-bold">{{termo.author.username|title}}</td>
            <td class="d-none d-md-table-cell">{{termo.created_on|date:'d/m/Y'}}</td>
            {% if perms.sinistro.change_termo %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'sinistro_termo_id' termo.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% if perms.sinistro.add_termo %}
<div class="modal fade" id="add_termo_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-plus text-success me-2"></i> Novo Termo</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="sinistro_form" action="{% url 'sinistro_termo_add' %}" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control fw-bold" name="nome" value="" id="id_nome" maxlength="20" placeholder="">
              <label for="id_nome">Nome</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_V2.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {
  canFilter: true,
  filterCols: ['Nome'],
  enablePaginate: true
});

SHORTCUT_MAP['/FTF'] = ':filterFocus';
SHORTCUT_MAP['arrowrightFTF'] = ':nextPage';
SHORTCUT_MAP['arrowleftFTF'] = ':previousPage';

function filterFocus(){table.filterInput.select();}
function nextPage(){table.nextPage();}
function previousPage(){table.previousPage();}
{% endblock %}
</script>