{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Agentes{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_agentes' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="search" data-bs-toggle="tab" data-bs-target="#param"  onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},220);"  href="#"><i class="fas fa-filter"></i></a></li>
      {% if perms.trafego.add_agente %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'trafego_agente_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=trafego.agente&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-2">Agentes</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            <th>Orgão</th>
            <th>Matricula</th>
            {% if perms.trafego.change_agente %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for agente in agentes %}
          <tr>
            <td>{{agente.nome}}</td>
            <td>{{agente.orgao.nome}}</td>
            <td>{{agente.matricula}}</td>
            {% if perms.trafego.change_agente %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_agente_id' agente.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade mt-3" id="param" role="tabpanel">
      <form action="{% url 'trafego_agentes' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <input type="text" class="form-control" name="pesquisa" id="id_pesquisa" placeholder="">
            <label for="id_pesquisa">Termo Pesquisa</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <select class="form-select" id="id_orgao" name="orgao">
              <option value="" selected>---------</option>
            </select>
            <label for="id_orgao">Orgão</label>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <button type="submit" class="btn btn-sm btn-warning">Pesquisar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}

  const table = new jsTable(document.getElementById('main_table'), {
    enablePaginate: true,
    canFilter: true,
    filterCols: ['Nome', 'Orgão', 'Matricula']
  });
  
  function carregaOrgaos() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200){
        if(this.responseText == ''){}
        else{
          let obj = JSON.parse(this.responseText);
          orgaos = document.getElementById("id_orgao");
          for(key in obj){orgaos.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
        }
      }
    };
    xhttp.open("GET", "{% url 'trafego_get_orgaos' %}", true);
    xhttp.send();
  }
  carregaOrgaos();
  {% endblock %}
</script>
