{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Enquadramento{% endblock %}
{% block model %}Trafego{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_enquadramentos' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.trafego.add_enquadramento %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'trafego_enquadramento_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=trafego.enquadramento&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Enquadramentos <small class="badge bg-primary ms-1">{{enquadramentos.count}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>Codigo</th>
            <th>Nome</th>
            {% if perms.trafego.change_enquadramento %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for enquadramento in enquadramentos %}
          <tr>
            <td>{{enquadramento.codigo}}</td>
            <td>{{enquadramento.nome}}</td>
            {% if perms.trafego.change_enquadramento %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_enquadramento_id' enquadramento.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_V2.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {
  canFilter: true,
  filterCols: ['Codigo','Nome'],
  enablePaginate: true
});

SHORTCUT_MAP['/FTF'] = ':filterFocus';
SHORTCUT_MAP['arrowrightFTF'] = ':nextPage';
SHORTCUT_MAP['arrowleftFTF'] = ':previousPage';

function filterFocus(){table.filterInput.select();}
function nextPage(){table.nextPage();}
function previousPage(){table.previousPage();}
{% endblock %}
</script>