{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Notificacao{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_notificacao_add' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'trafego_notificacoes' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'trafego_notificacao_add' %}" method="POST" autocomplete="off" onsubmit="return submitForm();">
    {% csrf_token %}
    {% include 'trafego/_form_notificacao.html' %}
  </form>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/mask.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  var TAB_ON_ENTER = true;
  
  VMasker(document.getElementById("id_valor")).maskMoney();
  let valor = document.getElementById('id_valor');
  function submitForm(){valor.value = valor.value.replace(',','.');return true;}
  
  {% endblock %}
</script>