{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Notificações{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_notificacoes' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="notificacoes_list" class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="search" data-bs-toggle="tab" data-bs-target="#param"  onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},220);"  href="#"><i class="fas fa-filter"></i></a></li>
      {% if perms.trafego.add_notificacao %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'trafego_notificacao_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.trafego.view_predefinido %}
      <li class="nav-item ms-1">
        <a class="nav-link" data-bs-toggle="dropdown" role="button"><i class="fas fa-caret-down text-dark"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'trafego_predefinidos' %}">MSG Predefinidas</a></li>
        </ul>
      </li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=trafego.notificacao&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-0">Notificações</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th class="d-none d-lg-table-cell">Empresa</th>
            <th>Tipo</th>
            <th class="d-none">Orgão</th>
            <th>Codigo</th>
            <th class="d-none d-sm-table-cell">Data</th>
            <th class="d-none d-lg-table-cell">Hora</th>
            <th class="d-none d-lg-table-cell">Veiculo</th>
            <th class="d-none">Linha</th>
            <th class="d-none">Funcionario</th>
            <th class="d-none">Agente</th>
            <th class="d-none d-xl-table-cell">Enquadramento</th>
            <th class="d-none d-lg-table-cell">Local</th>
            <th class="d-none">Valor</th>
            <th class="d-none d-lg-table-cell">Prazo</th>
            {% if perms.trafego.change_notificacao %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for notificacao in notificacoes %}
          <tr>
            <td class="d-none d-lg-table-cell">{{notificacao.empresa.nome}}</td>
            <td>{{notificacao.get_tipo_display}}</td>
            <td class="d-none">{{notificacao.agente.orgao.nome}}</td>
            <td>{{notificacao.codigo}}</td>
            <td class="d-none d-sm-table-cell">{{notificacao.data|date:'d/m/Y'}}</td>
            <td class="d-none d-lg-table-cell">{{notificacao.hora|default:'--'}}</td>
            <td class="d-none d-lg-table-cell">{{notificacao.veiculo.prefixo}}</td>
            <td class="d-none">{{notificacao.linha.codigo}}</td>
            <td class="d-none">{{notificacao.funcionario.matricula}}</td>
            <td class="d-none">{{notificacao.agente.matricula}}</td>
            <td class="d-none d-xl-table-cell">{{notificacao.enquadramento.nome}}</td>
            <td class="d-none d-lg-table-cell">{{notificacao.local.nome}}</td>
            <td class="d-none">{{notificacao.valor}}</td>
            <td class="d-none d-lg-table-cell">{{notificacao.prazo|date:'d/m/Y'}}</td>
            {% if perms.trafego.change_notificacao %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_notificacao_id' notificacao.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade mt-3" id="param" role="tabpanel">
      <form action="{% url 'trafego_notificacoes' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <input type="text" class="form-control" name="pesquisa" id="id_pesquisa" placeholder="">
            <label for="id_pesquisa">No Notificação / prefixo</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-2">
            <select class="form-select bg-light" id="id_orgao" name="orgao">
              <option value="" selected>Todos</option>
            </select>
            <label for="id_orgao">Orgão</label>
          </div>
          <div class="form-floating mb-1 col-lg-2">
            <select class="form-select bg-light" id="id_tipo" name="tipo">
              <option value="" selected>Todos</option>
              <option value="N">Notificação</option>
              <option value="G">Multa Gestor</option>
              <option value="T">Multa Transito</option>
            </select>
            <label for="id_tipo">Tipo</label>
          </div>
        </div>
        <div class="row g-1">
        	<div class="form-floating mb-1 col-lg-2">
        		<input type="date" class="form-control bg-light" name="periodo_de" id="id_periodo_de" value="">
        		<label for="id_periodo_de">De</label>
        	</div>
        	<div class="form-floating mb-1 col-lg-2">
        		<input type="date" class="form-control bg-light" name="periodo_ate" id="id_periodo_ate" value="">
        		<label for="id_periodo_ate">Ate</label>
        	</div>
        </div>
        <div class="row mt-2">
          <div class="col">
            <button type="submit" class="btn btn-sm btn-warning">Pesquisar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  SHORTCUT_MAP['1FTF'] = () => {document.getElementById('notificacoes_list').click()};
  SHORTCUT_MAP['.TFF'] = () => {};

  const table = new jsTable(document.getElementById('main_table'), {
    enablePaginate: true
  });
  SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow();}
  SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow();};
  SHORTCUT_MAP['enterFTF'] = () => {table.enterRow();}
  
  function carregaOrgaos() {
    var xhttp = new XMLHttpRequest();
    xhttp.onreadystatechange = function() {
      if(this.readyState == 4 && this.status == 200){
        if(this.responseText == ''){}
        else{
          let obj = JSON.parse(this.responseText);
          orgaos = document.getElementById("id_orgao");
          for(key in obj){orgaos.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
        }
      }
    };
    xhttp.open("GET", "{% url 'trafego_get_orgaos' %}", true);
    xhttp.send();
  }
  carregaOrgaos();
  {% endblock %}
</script>
