{% extends "layout/dot.html" %}
{% load static %}
{% load tag_extra %}
{% block title %}Dashboard - Ocorrencias{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block body_classlist %}bg-body-secondary{% endblock%}
{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_ocorrencia_dashboard' %}"></a>
<div class="d-flex justify-content-between mt-3">
  <div>
    <h5 class="card-title">
      <span class="d-none d-lg-inline text-body-secondary">Dashboard: </span><b class="text-purple">Ocorrências</b>
      <p class="fs-6 fw-bold text-body-secondary">{{metrics.empresa_nome|default:''}}</p>
    </h5>
  </div>
  <div class="d-flex align-items-center">
    <div class="dropdown">
      <button class="btn btn-sm btn-purple-light dropdown-toggle" type="button" data-bs-toggle="dropdown"><span class="d-none d-sm-inline"><b>{{metrics.periodo_de|date:'d/m/y'}}</b> a <b>{{metrics.periodo_ate|date:'d/m/y'}}</b></span><span class="d-inline d-sm-none">Periodo</span></button>
      <ul class="dropdown-menu fs-7">
        <li class="bg-light">
          <div class="row g-1">
            <div class="col-12 px-2"><input type="date" class="form-control" id="id_periodo_de" name="periodo_de" value="{{metrics.periodo_de|date:'Y-m-d'}}"></div>
            <div class="col-12 px-2"><input type="date" class="form-control" id="id_periodo_ate"  name="periodo_ate" value="{{metrics.periodo_ate|date:'Y-m-d'}}"></div>
            <div class="col-12 d-grid px-2"><button type="button" class="btn btn-sm btn-purple-light" name="button" onclick="filtraPeriodo();">Filtrar</button></div>
          </div>
        </li>
      </ul>
    </div>
    <div class="input-group ms-1">
      <a id="back" class="btn btn-sm btn-purple-light" href="{% url 'trafego_ocorrencias' %}"><i class="fas fa-undo"></i></a>
      <a id="adicional_filters_link" class="btn btn-sm btn-purple-light" data-bs-toggle="collapse" href="#adicional_filters" role="button" title="Ctrl + F"><i class="fas fa-caret-down"></i></a>
    </div>
  </div>
</div>
<div class="row mb-2">
  <div class="col collapse" id="adicional_filters">
    <div class=" d-flex flex-row">
      <div class="dropdown">
        <button class="btn btn-sm btn-purple-light dropdown-toggle" type="button" data-bs-toggle="dropdown">Empresa: <b>{{metrics.empresa_nome|default:'Todas'}}</b></button>
        <ul class="dropdown-menu fs-7" id="id_empresa">
          <li><a class="dropdown-item" onclick="urlFilter('empresa', '')">Todas</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="row g-3">
  <div class="col-lg-4">
    <div class="row g-2">
      <div class="col-sm-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end"><i class="fas fa-car-crash widget-icon"></i></div>
            <h6 class="text-body-secondary fw-normal">Total Ocorrências</h6>
            <h3 class="my-3">{{metrics.qtd_ocorrencias|default:0}}</h3>
            <p class="mb-0 text-body-secondary"><span class="text-success me-2"></span><span class="text-nowrap"></span></p>        
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end"><i class="fas fa-calendar-alt widget-icon"></i></div>
            <h6 class="text-body-secondary fw-normal">Média por Dia</h6>
            <h3 class="my-3">{{metrics.media_dia_ocorrencias|default:0|floatformat:0}}</h3>
            <p class="mb-0 text-body-secondary"><span class="text-success me-2"></span><span class="text-nowrap"></span></p>        
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end"><i class="fas fa-users widget-icon"></i></div>
            <h6 class="text-body-secondary fw-normal">Por indisciplina</h6>
            <h3 class="my-3">{{metrics.indisciplina}}</h3>
            <p class="mb-0 text-body-secondary"><span class="text-danger me-2">{{metrics.indisciplina_percentual|floatformat:0}}%</span><span class="text-nowrap fs-7">Sobre o total</span></p>        
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="float-end"><i class="fas fa-stopwatch widget-icon"></i></div>
            <h6 class="text-body-secondary fw-normal">Omissão período</h6>
            <h3 class="my-3">{{metrics.omissao}}</h3>
            <p class="mb-0 text-body-secondary"><span class="text-danger me-2">{{metrics.omissao_percentual|floatformat:0}}%</span><span class="text-nowrap fs-7">Sobre o total</span></p>        
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3">
    <div class="card widget-flat">
      <div class="card-body">
        <div class="float-end d-none d-lg-block"><i class="fas fa-chart-line widget-icon"></i></div>
        <div class="row"><div class="col"><canvas id="empresa_ocorrencias" style="height: 260px;"></canvas></div></div>        
      </div>      
    </div>
  </div>
  <div class="col-lg-5">
    <div class="card widget-flat">
      <div class="card-body">
        <div class="float-end d-none d-lg-block"><i class="fas fa-chart-line widget-icon"></i></div>
        <div class="row">
          <div class="col" style="height: 260px;"><canvas id="evolucao_ocorrencias"></canvas></div>
        </div>        
      </div>      
    </div>
  </div>
</div>
<div class="row mt-1 g-3">
  <div class="col-lg-6 order-2 order-lg-1">
    <div class="card widget-flat">
      <div class="card-body">
        <div class="table-responsive">
          <table id="table_terceiros" class="table table-nowrap table-hover fs-7">
            <caption>Resumo por Inspetor</caption>
            <thead>
              <tr class="text-body-secondary">
                <th>Inspetor</th>
                <th>Qtde</th>
                <th>%</th>
              </tr>
            </thead>
            <tbody style="border-top-width: 0;">
              {% for inspetor in metrics.ocorrencias_inspetor %}
              <tr>
                <td>{{inspetor.usuario__username|title}}</td>
                <td>{{inspetor.qtd}}</td>
                <td><div class="progress" style="height: 20px;"><div class="progress-bar bg-purple" role="progressbar" style="width: {{inspetor.qtd|percentual:metrics.qtd_ocorrencias|floatformat:0}}%;">{{inspetor.qtd|percentual:metrics.qtd_ocorrencias|floatformat:0}}%</div></div></td>
                <!-- <td>{{inspetor.qtd|percentual:metrics.qtd_ocorrencias|floatformat:0}}</td> -->
              </tr>
              {% endfor %}
            </tbody>            
          </table>          
        </div>        
      </div>      
    </div>
  </div>
  <div class="col-lg-6 order-1 order-lg-2">
    <div class="row g-3">
      <div class="col-lg-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="row">
              <div class="col" style="height: 260px;"><canvas id="gravidade_ocorrencias"></canvas></div>
            </div>        
          </div>      
        </div>    
      </div>
      <div class="col-lg-6">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="row">
              <div class="col" style="height: 260px;"><canvas id="ocorrencias_evento"></canvas></div>
            </div>        
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="card widget-flat">
          <div class="card-body">
            <div class="row">
              <div class="col" style="height: 300px;"><canvas id="ocorrencias_linha"></canvas></div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/chart.min.js' %}"></script>
<script src="{% static 'js/url.js' %}"></script>
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
  {% block add_script %}
  SHORTCUT_MAP['.TFF'] = () => {document.getElementById('cadastro_ocorrencia').click()};
  SHORTCUT_MAP['fFTF'] = () => {document.getElementById('adicional_filters_link').click()};

  const table = new jsTable(document.getElementById('table_terceiros'), {});  
  
  function filtraPeriodo(){
    let periodos = [document.getElementById('id_periodo_de').value,document.getElementById('id_periodo_ate').value]
    urlFilters(['periodo_de','periodo_ate'], periodos);
  }
  
  var evolucao_ctx = document.getElementById('evolucao_ocorrencias');
  let evolucao_chart = new Chart(evolucao_ctx, {
    type: 'bar',
    data: {
      datasets: [{
        label: 'Qtde',
        data: {{ metrics.evolucao_ocorrencias.dados }},
        backgroundColor: {{ metrics.evolucao_ocorrencias.bgcolors|safe }},
        borderColor: {{ metrics.evolucao_ocorrencias.bordercolors|safe }},
        maxBarThickness: 50,
      }],
      labels: {{ metrics.evolucao_ocorrencias.categorias|safe }},
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          suggestedMin: 0,
          grace: 1,
          ticks: {stepSize: 1}
        }
      },
      plugins: {
        legend: {display:false, position: 'bottom'},
        title: {
          display: true,
          align: 'start',
          text:'EVOLUÇÃO OCORRENCIAS',
          font: {size: 13},
          padding: {top: 6,bottom: 10}
        },
      }
    }
  });
  
  var gravidade_ctx = document.getElementById('gravidade_ocorrencias');
  let gravidade_chart = new Chart(gravidade_ctx, {
    type: 'pie',
    data: {
      datasets: [{
        label: 'Qtde',
        data: [{{metrics.gravidade.L}}, {{metrics.gravidade.M}}, {{metrics.gravidade.G}}],
        backgroundColor: ['#C7C3E9', '#8179CD','#4D42B3'],
        borderColor: ['#C7C3E9', '#8179CD','#4D42B3'],
      }],
      labels: ['Leve', 'Medio', 'Grave'],
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          display: false,
          // suggestedMin: 0,
          // ticks: {stepSize: 1}
        }
      },
      plugins: {
        legend: {display:true, position: 'bottom'},
        title: {
          display: true,
          align: 'start',
          text:'GRAVIDADE',
          font: {size: 13},
          padding: {top: 6,bottom: 10}
        },
      }
    }
  });
  
  var empresa_ctx = document.getElementById('empresa_ocorrencias');
  let empresa_chart = new Chart(empresa_ctx, {
    type: 'doughnut',
    data: {
      datasets: [{
        label: 'Qtde',
        data: {{ metrics.ocorrencias_empresa.dados }},
        backgroundColor: {{ metrics.ocorrencias_empresa.bgcolors|safe }},
        borderColor: {{ metrics.ocorrencias_empresa.bordercolors|safe }},
      }],
      labels: {{ metrics.ocorrencias_empresa.categorias|safe }},
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          display: false,
          // suggestedMin: 0,
          // ticks: {stepSize: 1}
        }
      },
      plugins: {
        legend: {display:true, position: 'bottom'},
        title: {
          display: true,
          align: 'start',
          text:'EMPRESA',
          font: {size: 13},
          padding: {top: 6,bottom: 10}
        },
      }
    }
  });
  
  var evento_ctx = document.getElementById('ocorrencias_evento');
  let evento_chart = new Chart(evento_ctx, {
    type: 'bar',
    data: {
      datasets: [{
        label: 'Qtde',
        data: {{ metrics.ocorrencias_evento.dados }},
        backgroundColor: {{ metrics.ocorrencias_evento.bgcolors|safe }},
        borderColor: {{ metrics.ocorrencias_evento.bordercolors|safe }},
        maxBarThickness: 70,
      }],
      labels: {{ metrics.ocorrencias_evento.categorias|safe }},
    },
    options: {
      maintainAspectRatio: true,
      indexAxis: 'y',
      scales: {
        x: {
          suggestedMin: 0,
          ticks: {stepSize: 1}
        }
      },
      plugins: {
        legend: {display:false, position: 'bottom'},
        title: {
          display: true,
          align: 'start',
          text:'POR EVENTO',
          font: {size: 13},
          padding: {top: 6,bottom: 10}
        },
      }
    }
  });
  
  var linha_ctx = document.getElementById('ocorrencias_linha');
  let linha_chart = new Chart(linha_ctx, {
    type: 'bar',
    data: {
      datasets: [{
        label: 'Qtde',
        data: {{ metrics.ocorrencias_linha.dados }},
        backgroundColor: {{ metrics.ocorrencias_linha.bgcolors|safe }},
        borderColor: {{ metrics.ocorrencias_linha.bordercolors|safe }},
        maxBarThickness: 50,
      }],
      labels: {{ metrics.ocorrencias_linha.categorias|safe }},
    },
    options: {
      maintainAspectRatio: false,
      scales: {
        y: {
          suggestedMin: 0,
          grace: 1,
          ticks: {stepSize: 1}
        }
      },
      plugins: {
        legend: {display:false, position: 'bottom'},
        title: {
          display: true,
          text:'POR LINHA',
          font: {size: 13},
          padding: {top: 6,bottom: 10}
        },
      }
    }
  });
  
  
  
  function carregaEmpresas() {
  	var xhttp = new XMLHttpRequest();
  	xhttp.onreadystatechange = function() {
  		if(this.readyState == 4 && this.status == 200){
  			if(this.responseText == ''){}
  			else{
  				let obj = JSON.parse(this.responseText);
  				empresas = document.getElementById("id_empresa");
  				for(key in obj){empresas.innerHTML += `<li><a class="dropdown-item pointer" onclick="urlFilter('empresa','${obj[key].id}')">${obj[key].nome}</a></li>`;}
  			}
  		}
  	};
  	xhttp.open("GET", "{% url 'core_get_empresas' %}", true);
  	xhttp.send();
  }
  carregaEmpresas();
  
  {% endblock %}
</script>