{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Msg Predefinida{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_predefinidos' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link pointer" id="search" data-bs-toggle="modal" data-bs-target="#search_modal" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},480);" title="CTRL + /"><i class="fas fa-search"></i></a></li>
      {% if perms.trafego.add_predefinido %}
      <li class="nav-item"><a class="nav-link border" id="add" href="{% url 'trafego_predefinido_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'trafego_notificacoes' %}"><i class="fas fa-undo"></i></a></li>
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=trafego.predefinido&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">MSG Predefinidas</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Abbr</th>
            {% if perms.trafego.change_predefinido %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for predefinido in predefinidos %}
          <tr>
            <td>{{predefinido.id|safe}}</td>
            <td>{{predefinido.abbr|truncatechars:35}}</td>
            {% if perms.trafego.change_predefinido %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_predefinido_id' predefinido.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="trafego_form" action="{% url 'trafego_predefinidos' %}" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control" name="pesquisa" value="" id="id_pesquisa" placeholder="">
              <label for="id_pesquisa">Termo pesquisa</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {
  canFilter: true,
  filterCols: ['Abbr'],
  enablePaginate: true
});

SHORTCUT_MAP['/FTF'] = ':filterFocus';
SHORTCUT_MAP['arrowrightFTF'] = ':nextPage';
SHORTCUT_MAP['arrowleftFTF'] = ':previousPage';

function filterFocus(){table.filterInput.select();}
function nextPage(){table.nextPage();}
function previousPage(){table.previousPage();}


{% endblock %}
</script>