{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Providências{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-dark bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_providencias' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.trafego.add_providencia %}
      <li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'trafego_providencia_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=trafego.providencia&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Providências</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>Nome</th>
            {% if perms.trafego.change_providencia %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for providencia in providencias %}
          <tr>
            <td>{{providencia.nome}}</td>
            {% if perms.trafego.change_providencia %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_providencia_id' providencia.id|safe%}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {
  canFilter: true,
  filterCols: ['Nome'],
  enablePaginate: true
});

SHORTCUT_MAP['.TFF'] = () => {document.getElementById('cadastro_ocorrencia').click()};
SHORTCUT_MAP['fFTF'] = () => {table.filterInput.select()};
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow();}
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow();};
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow();}
SHORTCUT_MAP['arrowrightFTF'] = () => {table.nextPage()};
SHORTCUT_MAP['arrowleftFTF'] = () => {table.previousPage()};
{% endblock %}
</script>