{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Tratativas{% endblock %}
{% block model %}Tráfego{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-primary bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/trafego.html" %}{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'trafego_tratativas' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="tratativas_list" class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="search" data-bs-toggle="tab" data-bs-target="#filter" href="#" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},220);" title="CTRL + /"><i class="fas fa-filter"></i></a></li>
      <li class="nav-item">
        <a class="nav-link" data-bs-toggle="dropdown" href="#"><i class="fas fa-caret-down text-dark"></i></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item dropdown-item-danger" data-bs-toggle="modal" data-bs-target="#tratar_todas_modal" href="#">Marcar <b>todas</b> tratadas</a></li>
        </ul>
      </li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'trafego_ocorrencias' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Tratativas</h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th class="d-none d-lg-table-cell">Data</th>
            <th class="d-none d-lg-table-cell">Hora</th>
            <th class="d-none d-md-table-cell">Empresa</th>
            <th>Linha</th>
            <th class="d-none d-md-table-cell">Condutor</th>
            <th class="d-none d-lg-table-cell">Apelido</th>
            <th>Evento</th>
            <th class="d-none d-xl-table-cell">Gravidade</th>
            <th class="d-none d-xl-table-cell">Responsável</th>
            <th>Tratado</th>
            {% if perms.trafego.tratar_ocorrencia %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for ocorrencia in ocorrencias %}
          <tr class="{% if ocorrencia.tratado %}table-done{% endif %}">
            <td class="d-none d-lg-table-cell">{{ocorrencia.data|date:'d/m/y'}}</td>
            <td class="d-none d-lg-table-cell">{{ocorrencia.hora}}</td>
            <td class="d-none d-md-table-cell">{{ocorrencia.empresa.nome}}</td>
            <td>{{ocorrencia.linha.codigo}}</td>
            <td class="d-none d-md-table-cell">{{ocorrencia.condutor.matricula}}</td>
            <td class="d-none d-lg-table-cell">{{ocorrencia.condutor.apelido}}</td>
            <td>{{ocorrencia.evento.nome}}</td>
            <td class="d-none d-xl-table-cell">{{ocorrencia.get_gravidade_display}}</td>
            <td class="d-none d-xl-table-cell">{{ocorrencia.usuario.username|title}}</td>
            <td class="fw-bold">{{ocorrencia.tratado|yesno:'Tratado,'}}</td>
            {% if perms.trafego.change_ocorrencia %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'trafego_tratativa_id' ocorrencia.id|safe%}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane fade" id="filter" role="tabpanel">
      <form id="trafego_form" action="{% url 'trafego_tratativas' %}" method="POST" autocomplete="off">
        {% csrf_token %}
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <input type="text" class="form-control bg-light" name="pesquisa" value="" id="id_pesquisa" placeholder="">
            <label for="id_pesquisa">Matricula condutor</label>
          </div>
        </div>
        <div class="row g-1">
          {% include "_component/field/empresa.html" with blank_row='true' container_classlist='form-floating mb-1 col-lg-4' %}
        </div>
        <div class="row g-1">
        	<div class="form-floating mb-lg-1 col-lg-2">
        		<input type="date" class="form-control" name="inicio" id="id_inicio" value="">
        		<label for="id_inicio">De</label>
        	</div>
        	<div class="form-floating mb-1 col-lg-2">
        		<input type="date" class="form-control" name="fim" id="id_fim" value="">
        		<label for="id_fim">Ate</label>
        	</div>
        </div>
        <div class="form-check form-switch mt-2">
          <input class="form-check-input" type="checkbox" role="switch" name="tratado" id="id_tratado">
          <label class="form-check-label user-select-none" for="id_tratado">Mostrar já tratados</label>
        </div>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox" role="switch" name="indisciplina_condutor" id="id_indisciplina_condutor" checked>
          <label class="form-check-label user-select-none" for="id_indisciplina_condutor">Somente indisciplina condutor</label>
        </div>
        <div class="col-auto"><button type="submit" class="btn btn-sm btn-warning mt-2" id="main_submit" name="button">Pesquisar</button></div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="tratar_todas_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3"><i class="fas fa-exclamation-triangle text-danger me-2"></i> Tratativa em Lote</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <p><b class="text-danger">Atenção!!</b> Ao confirmar todas as ocorrências pendêntes serão marcadas como <b>tratadas</b>, este processo não pode ser desfeito. Confirma operação?</p>
        <div class="row mt-2">
          <div class="col text-end">
            <a class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</a>
            <a class="btn btn-danger px-3" href="{% url 'trafego_tratativa_marcar_todas_tratadas' %}">Gravar</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
<script src="{% static 'js/date.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}

const table = new jsTable(document.getElementById('main_table'), {
  canFilter: true,
  filterCols: ['Linha', 'Condutor', 'Apelido', 'Evento'],
  enablePaginate: true
});

dateInputExtra_start();

SHORTCUT_MAP['.TFF'] = () => {document.getElementById('cadastro_ocorrencia').click()};
SHORTCUT_MAP['fFTF'] = () => {table.filterInput.select()};
SHORTCUT_MAP['arrowdownFTF'] = () => {table.nextRow();}
SHORTCUT_MAP['arrowupFTF'] = () => {table.previousRow();};
SHORTCUT_MAP['enterFTF'] = () => {table.enterRow();}
SHORTCUT_MAP['arrowrightFTF'] = () => {table.nextPage()};
SHORTCUT_MAP['arrowleftFTF'] = () => {table.previousPage()};
SHORTCUT_MAP['1FTF'] = () => {document.getElementById('tratativas_list').click()};

{% endblock %}
</script>