{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Afastamento{% endblock %}
{% block model %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_afastamento_add' funcionario.id|safe %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active disabled" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal_afastamentos' funcionario.id|safe %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'pessoal_afastamento_add' funcionario.id|safe %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-0">Afastamento</h5>
      <p class="text-primary fw-bold">{{funcionario.matricula}} {{funcionario.nome}}</p>
      {% include 'pessoal/_form_afastamento.html' %}
    </div>
    <input type="hidden" name="funcionario" id="id_funcionario" value="{{funcionario.id|safe}}">
  </form>
</div>
{% endblock%}

{% block add_script_src %}{% endblock %}

<script>
  {% block add_script %}
  var TAB_ON_ENTER = true;
  {% endblock %}
</script>