{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Cargos{% endblock %}
{% block model %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_cargos' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="menu_cargos_list" class="nav-link{% if cargos %} active{% endif %}" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.pessoal.add_cargo %}
      <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'pessoal_cargo_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=pessoal.cargo&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-1">Cargos</h5>
    <div class="tab-pane fade show active fade" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th class="d-none d-md-table-cell">#</th>
            <th>Nome</th>
            <th class="d-none d-sm-table-cell">Setor</th>
            <th>Ativos</th>
            {% if perms.pessoal.change_cargo %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td class="d-none d-md-table-cell">{{cargo.id|safe}}</td>
            <td>{{cargo.nome}}</td>
            <td class="d-none d-sm-table-cell">{{cargo.setor.nome}}</td>
            <td>{{cargo.ativos}}</td>
            {% if perms.pessoal.change_cargo %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal_cargo_id' cargo.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane{% if not cargos %} show active{% endif %} fade" id="filter" role="tabpanel">
      <form id="search_form" action="{% url 'pessoal_cargos' %}" method="POST" autocomplete="off">
      {% csrf_token %}
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <input type="text" class="form-control bg-light" name="pesquisa" value="" id="id_pesquisa" placeholder="" autofocus>
            <label for="id_pesquisa">Termo pesquisa</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <select class="form-select" id="id_setor" name="setor">
              <option value="">Todos</option>              
            </select>
            <label for="id_setor">Setor</label>
          </div>
        </div>
        <div class="row">
          <div class="col"><button type="submit" class="btn btn-sm btn-warning" name="button">Pesquisar</button></div>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_V2.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}

const table = new jsTable(document.getElementById('main_table'), {
  enablePaginate: true,
  canFilter: true,
  filterCols: ['Nome', 'Setor']
});

SHORTCUT_MAP['/FTF'] = ':filterFocus';
SHORTCUT_MAP['arrowrightFTF'] = ':nextPage';
SHORTCUT_MAP['arrowleftFTF'] = ':previousPage';

function filterFocus(){table.filterInput.select();}
function nextPage(){table.nextPage();}
function previousPage(){table.previousPage();}

{% endblock %}
</script>