{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Cargos{% endblock %}
{% block model  %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_cargos' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a id="menu_cargos_list" class="nav-link{% if cargos %} active{% endif %}" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a id="search" class="nav-link{% if not cargos %} active{% endif %}" data-bs-toggle="tab" data-bs-target="#filter" href="#" onclick="setTimeout(function(){document.getElementById('id_pesquisa').focus();},480);"><i class="fas fa-filter"></i></a></li>
      {% if perms.pessoal.add_cargo %}
      <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'pessoal_cargo_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + &darr;">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=pessoal.cargo&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Cargos <small class="badge bg-primary ms-1">{{cargos.count}}</small></h5>
    <div class="tab-pane fade{% if cargos %} show active{% endif %} fade" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            <th>Setor</th>
            <th>Ativos</th>
            {% if perms.pessoal.change_cargo %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td>{{cargo.id}}</td>
            <td>{{cargo.nome}}</td>
            <td>{{cargo.setor.nome}}</td>
            <td>{{cargo.ativos}}</td>
            {% if perms.pessoal.change_cargo %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal_cargo_id' cargo.id %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="4">Nenhum registro a exibir</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="tab-pane{% if not cargos %} show active{% endif %} fade" id="filter" role="tabpanel">
      <form id="search_form" action="{% url 'pessoal_cargos' %}" method="POST" autocomplete="off">
      {% csrf_token %}
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <input type="text" class="form-control bg-light" name="pesquisa" value="" id="id_pesquisa" placeholder="" autofocus>
            <label for="id_pesquisa">Termo pesquisa</label>
          </div>
        </div>
        <div class="row g-1">
          <div class="form-floating mb-1 col-lg-4">
            <select class="form-select" id="id_setor" name="setor">
              <option value="">Todos</option>              
            </select>
            <label for="id_setor">Setor</label>
          </div>
        </div>
        <div class="row">
          <div class="col"><button type="submit" class="btn btn-sm btn-warning" name="button">Pesquisar</button></div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="search_modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="row">
        <div class="col"><h5 class="ms-3 mt-3">Pesquisa</h5></div>
        <div class="col-auto pe-4 pt-2"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></div>
      </div>
      <div class="modal-body">
        <form id="pessoal_form" action="url" method="POST" autocomplete="off">
          {% csrf_token %}
          <div class="row g-1">
            <div class="form-floating mb-1 col-lg-12">
              <input type="text" class="form-control" name="pesquisa" value="" id="id_pesquisa" placeholder="">
              <label for="id_pesquisa">Termo pesquisa</label>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_to_csv.js' %}"></script>
{% endblock %}

<script>
{% block add_script %}
SHORTCUT_MAP['1FTF'] = '#menu_cargos_list';

function carregaSetores() {
	var xhttp = new XMLHttpRequest();
	xhttp.onreadystatechange = function() {
		if(this.readyState == 4 && this.status == 200){
			if(this.responseText == ''){}
			else{
				let obj = JSON.parse(this.responseText);
				setores = document.getElementById("id_setor")
				for(key in obj){setores.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
			}
		}
	};
	xhttp.open("GET", "{% url 'pessoal_get_setores' %}", true);
	xhttp.send();
}
carregaSetores();
{% endblock %}
</script>