{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Dependentes{% endblock %}
{% block model %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_dependentes' funcionario.id|safe %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal_funcionario_id' funcionario.id|safe %}"><i class="fas fa-undo"></i></a></li>
      {% if perms.pessoal.add_dependente %}
      <li class="nav-item"><a class="nav-link border" id="add" href="{% url 'pessoal_dependente_add' funcionario.id|safe %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      {% if perms.core.view_log %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=pessoal.dependente&mensagem=DELETE&related={{funcionario.id|safe}}" target="_blank">Log de Exclusões</a></li>
        </ul>
      </li>
      {% endif %}
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-0">Dependentes</h5>
    <p class="text-primary fw-bold mb-1">{{funcionario.matricula}} {{funcionario.nome}} {% if funcionario.status == 'A' %}<span class="badge bg-success">Ativo</span>{% else %}<span class="badge bg-warning">{{funcionario.get_status_display}}</span>{% endif %}</p>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th class="d-none d-md-table-cell">#</th>
            <th class="d-none">Func Matricula</th>
            <th class="d-none">Func Nome</th>
            <th>Nome</th>
            <th>Parentesco</th>
            <th class="d-none d-lg-table-cell">Nascimento</th>
            <th class="d-none d-lg-table-cell">Idade</th>
            <th class="d-none d-md-table-cell">Sexo</th>
            <th class="d-none">RG</th>
            <th class="d-none">Emissao</th>
            <th class="d-none">Orgao</th>
            <th class="d-none">CPF</th>
            {% if perms.pessoal.change_dependente %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for dependente in funcionario.dependentes %}
          <tr>
            <td class="d-none d-md-table-cell">{{dependente.id|safe}}</td>
            <td class="d-none">{{funcionario.matricula}}</td>
            <td class="d-none">{{funcionario.nome}}</td>
            <td>{{dependente.nome}}</td>
            <td>{{dependente.get_parentesco_display}}</td>
            <td class="d-none d-lg-table-cell">{{dependente.data_nascimento|date:'d/m/Y'}}</td>
            <td class="d-none d-lg-table-cell">{{dependente.idade}}</td>
            <td class="d-none d-md-table-cell">{{dependente.get_sexo_display}}</td>
            <td class="d-none">{{dependente.rg}}</td>
            <td class="d-none">{{dependente.rg_emissao}}</td>
            <td class="d-none">{{dependente.rg_orgao}}</td>
            <td class="d-none">{{dependente.cpf}}</td>
            {% if perms.pessoal.change_dependente %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal_dependente_id' dependente.id|safe %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_V2.js' %}"></script>
{% endblock %}


<script>
{% block add_script %}
const table = new jsTable(document.getElementById('main_table'), {});

{% endblock %}
</script>