{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Funcao Fixa{% endblock %}
{% block model  %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_funcoes_fixas' %}"></a>

<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      {% if perms.pessoal.add_funcaofixa %}
      <li class="nav-item"><a class="nav-link border ms-1" id="add" href="{% url 'pessoal_funcao_fixa_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
      {% endif %}
      <li class="nav-item dropdown ms-auto">
        <a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item pointer" id="download" onclick="download_table_as_csv('main_table',';')" title="ALT + &darr;">Exportar CSV</a></li>
          {% if perms.core.view_log %}
          <li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=pessoal.funcao_fixa&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
          {% endif %}
        </ul>
      </li>
    </ul>
  </div>
  <div class="card-body tab-content">
    <h5 class="card-title mb-3">Funções Fixas <small class="badge bg-primary ms-1">{{funcoes_fixas.count}}</small></h5>
    <div class="tab-pane fade show active" id="base" role="tabpanel">
      <table id="main_table" class="table border table-striped table-hover">
        <thead>
          <tr>
            <th>#</th>
            <th>Nome</th>
            {% if perms.pessoal.change_funcaofixa %}
            <th>&nbsp;</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for funcaofixa in funcoes_fixas %}
          <tr>
            <td>{{funcaofixa.id}}</td>
            <td>{{funcaofixa.get_nome_display}}</td>
            {% if perms.pessoal.change_funcaofixa %}
            <td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal_funcao_fixa_id' funcaofixa.id %}"><i class="fas fa-pen"></i></a></td>
            {% endif %}
          </tr>
          {% empty %}
          <tr>
            <td colspan="3">Nenhum registro a exibir</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <!-- <div class="tab-pane fade" id="param" role="tabpanel">param</div> -->
  </div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table_to_csv.js' %}"></script>
{% endblock %}