{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Funcionarios{% endblock %}
{% block model %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_funcionarios' %}"></a>
<div class="card mt-2">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs">
			<li class="nav-item"><a id="tab_funcionarios_table" class="nav-link{% if funcionarios %} active{% endif %}" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
			<li class="nav-item"><a id="search" class="nav-link{% if not funcionarios %} active{% endif %}" data-bs-toggle="tab" data-bs-target="#filter" href="#"><i class="fas fa-filter"></i></a></li>
			{% if perms.pessoal.add_funcionario %}
			<li class="nav-item ms-1"><a class="nav-link border" id="add" href="{% url 'pessoal_funcionario_add' %}" title="ALT+N"><i class="fas fa-plus text-success"></i></a></li>
			{% endif %}
			{% if perms.core.view_log %}
			<li class="nav-item dropdown ms-auto">
				<a class="nav-link dropdown-toggle border text-dark" data-bs-toggle="dropdown" href="#" role="button"></a>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item pointer" href="{% url 'logs' %}?target_model=pessoal.funcionario&mensagem=DELETE" target="_blank">Log de Exclusões</a></li>
				</ul>
			</li>
			{% endif %}
		</ul>
	</div>
	<div class="card-body tab-content">
		<h5 class="card-title mb-3">Funcionários</h5>
		<div class="tab-pane fade{% if funcionarios %} show active{% else %} fade{% endif %}" id="base" role="tabpanel">
			<table id="main_table" class="table border table-striped table-hover">
				<thead>
					<tr>
						<th class="d-none d-sm-table-cell">Empresa</th>
						<th>Matric</th>
						<th class="d-none d-lg-table-cell">Nome</th>
						<th class="d-table-cell d-lg-none">Apelido</th>
						<th class="d-none">Sexo</th>
						<th class="d-none">Nascimento</th>
						<th class="d-none">Admissão</th>
						<th class="d-none">CPF</th>
						<th class="d-none">CNH</th>
						<th class="d-none">Validade</th>
						<th class="d-none d-lg-table-cell">Setor</th>
						<th class="d-none d-sm-table-cell">Cargo</th>
						<th class="d-none">Regime</th>
						<th class="d-none">PNE</th>
						<th class="d-none d-lg-table-cell">Status</th>
						{% if perms.pessoal.view_funcionario %}
						<th>&nbsp;</th>
						{% endif %}
					</tr>
				</thead>
				<tbody>
					{% for funcionario in funcionarios %}
					<tr>
						<td class="d-none d-sm-table-cell">{{funcionario.empresa.nome|default:'---'}}</td>
						<td>{{funcionario.matricula}}</td>
						<td class="d-none d-lg-table-cell">{{funcionario.nome}}</td>
						<td class="d-table-cell d-lg-none">{{funcionario.apelido}}</td>
						<td class="d-none">{{funcionario.sexo}}</td>
						<td class="d-none">{{funcionario.data_nascimento|date:'d/m/Y'|default:''}}</td>
						<td class="d-none">{{funcionario.data_admissao|date:'d/m/Y'|default:''}}</td>
						<td class="d-none">{{funcionario.cpf}}</td>
						<td class="d-none">{{funcionario.cnh}}</td>
						<td class="d-none">{{funcionario.cnh_validade|date:'d/m/Y'}}</td>
						<td class="d-none d-lg-table-cell">{{funcionario.cargo.setor.nome|default:'---'}}</td>
						<td class="d-none d-sm-table-cell">{{funcionario.cargo.nome|default:'---'}}</td>
						<td class="d-none">{{funcionario.get_regime_display|default:'---'}}</td>
						<td class="d-none">{{funcionario.pne|yesno:'PNE,'}}</td>
						<td class="d-none d-lg-table-cell{% if funcionario.status != 'A' %} bg-warning-light{% endif %}">{{funcionario.get_status_display}}</td>
						{% if perms.pessoal.view_funcionario %}
						<td class="text-end fit py-1"><a class="btn btn-sm btn-dark" href="{% url 'pessoal_funcionario_id' funcionario.id|safe %}"><i class="fas fa-pen"></i></a></td>
						{% endif %}
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
		<div class="tab-pane{% if not funcionarios %} show active{% else %} fade{% endif %}" id="filter" role="tabpanel">
			<form id="filter_form" action="{% url 'pessoal_funcionarios' %}" method="POST" autocomplete="off">
				{% csrf_token %}
				<div class="row">
					<div class="col-lg-6">
						<div class="row g-1">
							<div class="form-floating mb-lg-1 col-lg-6">
								<input type="text" class="form-control bg-light" name="pesquisa" value="" id="id_pesquisa" onfocus="this.value = '#';" placeholder="" autofocus>
								<label for="id_pesquisa">Termo pesquisa</label>
							</div>
							<div class="form-floating mb-1 col-lg-6">
								<input type="date" class="form-control bg-light" id="id_vencimento_cnh" name="vencimento_cnh">
								<label for="id_vencimento_cnh">Vencimento CNH</label>
							</div>
						</div>
						<div class="row g-1">
							<div class="form-floating mb-lg-1 col-lg-6">
								<select class="form-select" id="id_empresa" name="empresa">
								</select>
								<label for="id_empresa">Empresa</label>
							</div>
							<div class="form-floating mb-1 col-lg-6">
								<select class="form-select bg-light" id="id_regime" name="regime">
									<option value="" selected>Todos</option>
									<option value="CLT">CLT</option>
									<option value="PJ">Pessoa Jurídica</option>
									<option value="AP">Aprendiz</option>
								</select>
								<label for="id_regime">Regime</label>
							</div>
						</div>
						<div class="row g-1">
							<div class="form-floating mb-lg-1 col-lg-6">
								<select class="form-select" id="id_setor" name="setor" onchange="carregaCargos()">
									<option value="" selected>Todos</option>
								</select>
								<label for="id_setor">Setor</label>
							</div>
							<div class="form-floating mb-1 col-lg-6">
								<select class="form-select" id="id_cargo" name="cargo">
									<option value="" selected>Todos</option>
								</select>
								<label for="id_cargo">Cargo</label>
							</div>							
						</div>
						<div class="row g-1">
							<div class="form-floating mb-lg-1 col-lg-6">
								<select class="form-select" id="id_status" name="status">
									<option value="" selected>Todos</option>
									<option value="A">Ativos</option>
									<option value="F">Afastados</option>
									<option value="D">Desligados</option>
								</select>
								<label for="id_status">Status</label>
							</div>
							<div class="form-floating mb-1 col-lg-6">
								<select class="form-select" id="id_sexo" name="sexo">
									<option value="" selected>Todos</option>
									<option value="M">Masculino</option>
									<option value="F">Feminino</option>
									<option value="N">Não Informado</option>
								</select>
								<label for="id_sexo">Sexo</label>
							</div>
						</div>
						<div class="form-check form-switch my-2">
							<input class="form-check-input" type="checkbox" role="switch" name="pne" id="id_pne">
							<label class="form-check-label" for="id_pne">Somente funcionários PNE</label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col"><button type="submit" class="btn btn-sm btn-warning" name="button">Pesquisar</button></div>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/table.js' %}"></script>
{% endblock %}

<script>  
	{% block add_script %}
	
	const table = new jsTable(document.getElementById('main_table'), {
		enablePaginate: true,
		canFilter: true,
		filterCols: ['Empresa','Matric', 'Nome', 'Cargo'],
	});
	if(__ss != 'sm'){
		table.filterInput.placeholder = 'Filtrar* [ Ctrl + F ]';
		SHORTCUT_MAP['fFTF'] = ':filterImputSelect';
	}
	
	SHORTCUT_MAP['1FTF'] = '#tab_funcionarios_table';
	SHORTCUT_MAP['arrowrightFTF'] = ':nextPage';
	SHORTCUT_MAP['arrowleftFTF'] = ':previousPage';
	SHORTCUT_MAP['arrowdownFFF'] = ':nextRow';
	SHORTCUT_MAP['arrowupFFF'] = ':previousRow';
	SHORTCUT_MAP['enterFTF'] = ':enterRow';
	
	function nextRow(){table.nextRow();}
	function previousRow(){table.previousRow();}
	function enterRow(){table.enterRow();}	
	function nextPage(){table.nextPage();}
	function previousPage(){table.previousPage();}
	function filterImputSelect(){table.filterInput.select();}
	
	function carregaEmpresas() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if(this.readyState == 4 && this.status == 200){
				if(this.responseText == '' || this.responseText == '{}' ){document.getElementById("id_empresa").innerHTML = '<option value="" selected>Nenhuma habilitada</option>'}
				else{
					let obj = JSON.parse(this.responseText);
					empresas = document.getElementById("id_empresa")
					empresas.innerHTML += '<option value="" selected>Todos</option>';
					for(key in obj){empresas.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
				}
			}
		};
		xhttp.open("GET", "{% url 'core_get_empresas' %}?tipo=cadastrados&usuario={{user.id|safe}}", true);
		xhttp.send();
	}
	carregaEmpresas();
	
	function carregaSetores() {
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if (this.readyState == 4 && this.status == 200) {
				if(this.responseText == ''){}
				else{
					let obj = JSON.parse(this.responseText);
					setores = document.getElementById("id_setor")
					for(key in obj){setores.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
				}
			}
		};
		xhttp.open("GET", "{% url 'pessoal_get_setores' %}", true);
		xhttp.send();
	}
	
	carregaSetores();
	
	function carregaCargos() {
		cargos = document.getElementById("id_cargo")
		cargos.innerHTML = '';
		setor = document.getElementById('id_setor').value
		var xhttp = new XMLHttpRequest();
		xhttp.onreadystatechange = function() {
			if(this.readyState == 4 && this.status == 200){
				if(this.responseText == ''){cargos.innerHTML += '<option value="" selected>Todos</option>';}
				else{
					let obj = JSON.parse(this.responseText);
					cargos.innerHTML += '<option value="" selected>Todos</option>';
					for(key in obj){cargos.innerHTML += '<option value="' + obj[key] + '">' + key + '</option>';}
				}
			}
		};
		xhttp.open("GET", "{% url 'pessoal_get_cargos' %}?setor=" + setor, true);
		xhttp.send();
	}
	{% endblock %}
</script>