{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Funcionario{% endblock %}
{% block model %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-dark bg-purple bg-gradient{% endblock %}
{% block model_menu %}{% include "_component/menu/pessoal.html" %}{% endblock%}
{% block style_src %}
<link rel="stylesheet" href="{% static 'css/vendor/cropper.css' %}" type="text/css">
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_funcionario_add' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" id="menu_funcionario_basico" data-bs-toggle="tab" data-bs-target="#base" onclick="setTimeout(function(){document.getElementById('id_matricula').focus();},220);" href="#" title="Basico [Ctrl + 1]"><i class="fas fa-user"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="menu_funcionario_docs" data-bs-toggle="tab" data-bs-target="#documents" onclick="setTimeout(function(){document.getElementById('id_rg').focus();},220);" href="#" title="Documentos [Ctrl + 2]"><i class="far fa-address-card"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="menu_funcionario_contato" data-bs-toggle="tab" data-bs-target="#contato" onclick="setTimeout(function(){document.getElementById('id_endereco').focus();},220);" href="#" title="Endereço [Ctrl + 3]"><i class="fas fa-map-marked-alt"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="menu_funcionario_detalhe" data-bs-toggle="tab" data-bs-target="#detalhe" onclick="setTimeout(function(){document.getElementById('id_detalhe').focus();},220);" href="#" title="Detalhes [Ctrl + 4]"><i class="fas fa-scroll"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal_funcionarios' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'pessoal_funcionario_add' %}" method="POST" enctype="multipart/form-data" autocomplete="off" onsubmit="return submitForm();">
    {% csrf_token %}
    {% include 'pessoal/_form_funcionario.html' %}
  </form>
</div>
{% include "_component/modal/loading.html" with message='Cadastrando Funcionário...' %}
{% endblock%}

{% block add_script_src %}
<script src="{% static 'js/vendor/mask.js' %}"></script>
<script src="{% static 'js/vendor/cropper.js' %}"></script>
<script src="{% static 'js/photo.js' %}"></script>
{% endblock %}

<script>
  {% block add_script %}
  var TAB_ON_ENTER = true;

  const photo = new jsPhoto({
    inputTarget: document.getElementById('id_foto_data_url'),
    previewTarget: document.getElementById('funcionarioFoto'),
    cropperFixed: true
  });

  SHORTCUT_MAP['1FTF'] = () => {document.getElementById('menu_funcionario_basico').click()};
  SHORTCUT_MAP['2FTF'] = () => {document.getElementById('menu_funcionario_docs').click()};
  SHORTCUT_MAP['3FTF'] = () => {document.getElementById('menu_funcionario_contato').click()};
  SHORTCUT_MAP['4FTF'] = () => {document.getElementById('menu_funcionario_detalhe').click()};
  
  var modal_loading = new bootstrap.Modal(document.getElementById('modal_loading'), {keyboard: false});
  function submitForm(){modal_loading.show();return true;} 
  
  VMasker(document.getElementById("id_cnh")).maskPattern('999.999.999-99');
  VMasker(document.getElementById("id_cpf")).maskPattern('999.999.999-99');
  {% endblock %}
</script>