{% extends "layout/dot.html" %}
{% load static %}
{% block title %}Setor{% endblock %}
{% block model %}Pessoal{% endblock %}
{% block navbar_classlist %}navbar-text-light bg-purple bg-gradient{% endblock %}
{% block model_menu %}
{% include "_component/menu/pessoal.html" %}
{% endblock%}

{% block content_fluid %}
<a class="d-none" id="clear" href="{% url 'pessoal_setor_add' %}"></a>
<div class="card mt-2">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" data-bs-target="#base" href="#"><i class="fas fa-list"></i></a></li>
      <li class="nav-item"><a class="nav-link" id="back" title="ALT + V" href="{% url 'pessoal_setores' %}"><i class="fas fa-undo"></i></a></li>
    </ul>
  </div>
  <form id="app_form" action="{% url 'pessoal_setor_add' %}" method="POST" autocomplete="off">
    {% csrf_token %}
    <div class="card-body tab-content">
      <h5 class="card-title mb-3">Cadastro de Setor</h5>
      {% include 'pessoal/_form_setor.html' %}
    </div>
  </form>
</div>

{% endblock%}

{% block add_script_src %}{% endblock %}

<script>
  {% block add_script %}{% endblock %}
</script>