
<script>
	document.addEventListener("DOMContentLoaded", function(){
  
		document.querySelectorAll('.dropdown-menu').forEach(function(element){element.addEventListener('click', function (e) {e.stopPropagation();});}) // AVOID FECHAR AO CLICAR DENTRO DO SUBMENU

// CONFIGURAÇÕES PARA DISPOSITIVOS MOVEIS
			document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
				everydropdown.addEventListener('hidden.bs.dropdown', function () {
					if(window.innerWidth < 992) {
					this.querySelectorAll('.submenu').forEach(function(everysubmenu){everysubmenu.style.display = 'none';});
				}
				else{
					this.querySelectorAll('.hover').forEach(function(everysubmenu){everysubmenu.classList.remove('hover');});
					this.querySelectorAll('.submenu').forEach(function(everysubmenu){everysubmenu.style.display = '';});
					
				}
					
				})
			});
			if(window.innerWidth < 992) {
			document.querySelectorAll('.dropdown-menu a').forEach(function(element){
				element.addEventListener('click', function (e) {
				  	let submenu_target = this.nextElementSibling;
						let display = submenu_target.style.display == 'block' ? 'none' : 'block';
						document.querySelectorAll('.submenu').forEach(function(everysubmenu){everysubmenu.style.display = 'none';});
						submenu_target.style.display = display;
				});
			})
		}
// FIM CONFIGURAÇÕES DISPOSITIVOS MOVEIS

	}); 
	
	function submenuToggle(toggle){
		document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
			everydropdown.querySelectorAll('.hover').forEach(function(el){el.classList.remove('hover');});
			everydropdown.querySelectorAll('.submenu').forEach(function(el){el.style.display = '';});
		});
			toggle.parentElement.classList.add('hover');
			toggle.nextElementSibling.style.display = 'block';
			const e = new Event('show.bs.dropdown');
			document.getElementById('app_nav_controls').dispatchEvent(e);
	}
</script>