<style type="text/css">

@media all and (min-width: 992px) {

	.dropdown-menu li{position: relative;}
	.dropdown-menu .submenu{display: none;position: absolute;left:100%; top:-7px;}
	.dropdown-menu .submenu-left{right:100%; left:auto;}

	.dropdown-menu > li:hover{background-color: #F1F1F1;}
	.dropdown-menu-dark > li:hover, .dropdown-menu-dark > li.hover{background-color: #52575D;}
	.dropdown-menu > li:hover > .submenu{display: block;}
}	
@media (max-width: 992px) {
.dropdown-menu .dropdown-menu{margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;}
}	

</style>

<script type="text/javascript">
	document.addEventListener("DOMContentLoaded", function(){
  
		document.querySelectorAll('.dropdown-menu').forEach(function(element){element.addEventListener('click', function (e) {e.stopPropagation();});}) // AVOID FECHAR AO CLICAR DENTRO DO SUBMENU

// CONFIGURAÇÕES PARA DISPOSITIVOS MOVEIS
			document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
				everydropdown.addEventListener('hidden.bs.dropdown', function () {
					if(window.innerWidth < 992) {
					this.querySelectorAll('.submenu').forEach(function(everysubmenu){everysubmenu.style.display = 'none';});
				}
				else{
					this.querySelectorAll('.hover').forEach(function(everysubmenu){everysubmenu.classList.remove('hover');});
					this.querySelectorAll('.submenu').forEach(function(everysubmenu){everysubmenu.style.display = '';});
					
				}
					
				})
			});
			if(window.innerWidth < 992) {
			document.querySelectorAll('.dropdown-menu a').forEach(function(element){
				element.addEventListener('click', function (e) {
				  	let submenu_target = this.nextElementSibling;
						let display = submenu_target.style.display == 'block' ? 'none' : 'block';
						document.querySelectorAll('.submenu').forEach(function(everysubmenu){everysubmenu.style.display = 'none';});
						submenu_target.style.display = display;
				});
			})
		}
// FIM CONFIGURAÇÕES DISPOSITIVOS MOVEIS

	}); 
	
	function submenuToggle(parent, list_element, submenu){
		document.querySelectorAll('.navbar .dropdown').forEach(function(everydropdown){
			everydropdown.querySelectorAll('.hover').forEach(function(el){el.classList.remove('hover');});
			everydropdown.querySelectorAll('.submenu').forEach(function(el){el.style.display = '';});
		});
		// if(list_element.classList.contains('hover')){list_element.classList.remove('hover');submenu.style.display = 'none';}
		// else{
			// if(parent.classList.contains('show')){
			list_element.classList.add('hover');
			submenu.style.display = 'block';
			const e = new Event('show.bs.dropdown');
			document.getElementById('app_nav_controls').dispatchEvent(e);
		// }
		// }
	}
</script>