.paginate-control{list-style: none;display: inline-block;padding: 0px; margin-right: 4px;}
.paginate-page{display: inline-block;padding: 4px 8px;margin-left: 4px;text-align: center;min-width: 30px; border:1px solid #dee2e6;border-radius: 10%;cursor: pointer;font-size: 0.9rem;background-color: #f8f9fa;color: #000;user-select: none;}
.paginate-page.active{background-color: #5c636a;color: #FFF;font-weight: 500; cursor: default; border: none;}
