.c1{background-color:#C44C31;color:#FFF;}
.c1-50{background-color:#D2644B;color:#FFF;}
.c1-75{background-color:#E7AB9D;color:#521F14;}
.c2{background-color:#6F42C1;color:#FFF;}
.c2-50{background-color:#8D6CCC;color:#FFF;}
.c2-75{background-color:#AB96D7;color:#FFF;}
.c3{background-color:#F35B04;color:#FFF;}
.c3-50{background-color:#FC7F36;color:#FFF;}
.c3-75{background-color:#FDA572;color:#FFF;}
.c4{background-color:#198754;color:#FFF;}
.c4-50{background-color:#20AC6B;color:#FFF;}
.c4-75{background-color:#86E9BB;color:#093420;}
.c5{background-color:#005094;color:#FFF;}
.c5-50{background-color:#006DCC;color:#FFF;}
.c5-75{background-color:#5CB3FF;color:#002C52;}
.c6{background-color:#D63384;color:#FFF;}
.c6-50{background-color:#DD5599;color:#FFF;}
.c6-75{background-color:#E788B8;color:#FFF;}
.c7{background-color:#1F7884;color:#FFF;}
.c7-50{background-color:#2796A5;color:#FFF;}
.c7-75{background-color:#5AC9D8;color:#FFF;}
.c8{background-color:#6B705C;color:#FFF;}
.c8-50{background-color:#81876E;color:#FFF;}
.c8-75{background-color:#A8AC9A;color:#FFF;}
.c9{background-color:#FFC107;color:#a07800;}
.c9-50{background-color:#FED65D;color:#a07800;}
.c9-75{background-color:#FFE699;color:#a07800;}
.c10{background-color:#9E2A2B;color:#FFF;}
.c10-50{background-color:#CC3E40;color:#FFF;}
.c10-75{background-color:#DD7E80;color:#FFF;}
.c11{background-color:#ADFF02;color:#385200;}
.c11-50{background-color:#C5FF47;color:#385200;}
.c11-75{background-color:#DFFF99;color:#385200;}
.c12{background-color:#A4778B;color:#FFF;}
.c12-50{background-color:#BE9DAC;color:#FFF;}
.c12-75{background-color:#DECED5;color:#49313C;}
.c13{background-color:#AA4586;color:#FFF;}
.c13-50{background-color:#C46EA6;color:#FFF;}
.c13-75{background-color:#DCA8CA;color:#491D3A;}
.c14{background-color:#63458A;color:#FFF;}
.c14-50{background-color:#8A6AB4;color:#FFF;}
.c14-75{background-color:#B4A0CF;color:#FFF;}
.c15{background-color:#A4B7A4;color:#FFF;}
.c15-50{background-color:#C6D2C6;color:#2D392D;}
.c15-75{background-color:#E8EDE8;color:#2D392D;}
/* REPLICANDO PADROES A PARTIR DESTA POSICAO */
.c16{background-color:#C44C31;color:#FFF;}
.c16-50{background-color:#D2644B;color:#FFF;}
.c16-75{background-color:#E7AB9D;color:#521F14;}
.c17{background-color:#6F42C1;color:#FFF;}
.c17-50{background-color:#8D6CCC;color:#FFF;}
.c17-75{background-color:#AB96D7;color:#FFF;}
.c18{background-color:#F35B04;color:#FFF;}
.c18-50{background-color:#FC7F36;color:#FFF;}
.c18-75{background-color:#FDA572;color:#FFF;}
.c19{background-color:#198754;color:#FFF;}
.c19-50{background-color:#20AC6B;color:#FFF;}
.c19-75{background-color:#86E9BB;color:#093420;}
.c20{background-color:#005094;color:#FFF;}
.c20-50{background-color:#006DCC;color:#FFF;}
.c20-75{background-color:#5CB3FF;color:#002C52;}
.c21{background-color:#D63384;color:#FFF;}
.c21-50{background-color:#DD5599;color:#FFF;}
.c21-75{background-color:#E788B8;color:#FFF;}
.c22{background-color:#1F7884;color:#FFF;}
.c22-50{background-color:#2796A5;color:#FFF;}
.c22-75{background-color:#5AC9D8;color:#FFF;}
.c23{background-color:#6B705C;color:#FFF;}
.c23-50{background-color:#81876E;color:#FFF;}
.c23-75{background-color:#A8AC9A;color:#FFF;}
.c24{background-color:#FFC107;color:#a07800;}
.c24-50{background-color:#FED65D;color:#a07800;}
.c24-75{background-color:#FFE699;color:#a07800;}
.c25{background-color:#9E2A2B;color:#FFF;}
.c25-50{background-color:#CC3E40;color:#FFF;}
.c25-75{background-color:#DD7E80;color:#FFF;}
.c26{background-color:#ADFF02;color:#385200;}
.c26-50{background-color:#C5FF47;color:#385200;}
.c26-75{background-color:#DFFF99;color:#385200;}
.c27{background-color:#A4778B;color:#FFF;}
.c27-50{background-color:#BE9DAC;color:#FFF;}
.c27-75{background-color:#DECED5;color:#49313C;}
.c28{background-color:#AA4586;color:#FFF;}
.c28-50{background-color:#C46EA6;color:#FFF;}
.c28-75{background-color:#DCA8CA;color:#491D3A;}
.c29{background-color:#63458A;color:#FFF;}
.c29-50{background-color:#8A6AB4;color:#FFF;}
.c29-75{background-color:#B4A0CF;color:#FFF;}
.c30{background-color:#A4B7A4;color:#FFF;}
.c30-50{background-color:#C6D2C6;color:#2D392D;}
.c30-75{background-color:#E8EDE8;color:#2D392D;}