*{scroll-margin: 55px;}
a{text-decoration: none;}
.goTop-anchor{
  padding: 15px;
  width: 55px;
  text-align: center;
  background-color: #e5e5e5;
  border-radius: 30px;
  position: fixed;
  bottom: 40px;
  right: 50px;
  color: #666;
  cursor: pointer;
  opacity:0;
  transition: opacity 0.5s ease-in-out;
}
.goTop-anchor:hover{color: #333;}
.menu{
  position: sticky;
  top: 60px;
}

/* Estilo no sm */
@media(max-width: 576px){
  .goTop-anchor{
    bottom: 5px;
    right: 10px;
    padding: 8px;
    width: 40px;
  }
}