/* 
RAFAEL GUSTAVO ALVES
castelhano.rafael@gmail.com
VERSION: 1.0 
*/

.pointer{cursor: pointer;}
.table td.fit,.table th.fit {white-space: nowrap;width: 1%;}

.bg-warning-light{background-color: #FFF0C2!important;}
.bg-success-light{background-color: #64d69f!important;}
.bg-danger-light{background-color: #ff969f!important;}
.bg-dark-light{background-color: #262626;}

.border-oil{border-color: #0065A4!important;}
.border-orange{border-color: #FD7E14!important;}

.btn-dark-alt, .bg-dark-alt{background-color: #393939;color: #FFF;}
.btn-orange, .bg-orange{background-color: #F35B04;color: #FFF;}
.btn-orange:hover{background-color: #FD7E14;color: #FFF;}
.btn-pink, .bg-pink{background-color: #d63384;color: #FFF;}
.btn-pink:hover{background-color: #ab296a;color: #FFF;}
.btn-purple, .bg-purple{background-color: #6f42c1;color: #FFF;}
.btn-purple:hover{background-color: #59359a;color: #FFF;}

.text-orange{color: #FF5722!important;}
.text-purple{color: #6f42c1!important;}

.dropdown-item-danger {color: #DC3545!important;}
.dropdown-item-danger:hover, .dropdown-item-danger:focus {color: #fff!important;background-color: #DC3545!important;}
.dropdown-item-success {color: #198754!important;}
.dropdown-item-success:hover, .dropdown-item-success:focus {color: #fff!important;background-color: #198754!important;}

.widget-thumb-img{position: relative;height: 150px;border: 3px solid #dee2e6;border-radius: .25rem;}
.widget-thumb-controls{margin-top: 5px;}

.filter-container{background-color: #F8F9FA;border:1px solid rgb(222, 226, 230);padding: 12px 10px 20px;min-width: 200px;}
.filter-container ul{margin-bottom: 5px;}
.filter-container ul a{text-decoration: none;color: #0d6efd!important;cursor: pointer;font-size:0.9rem;}
.filter-container a.active{font-weight: bold;}
@media(max-width: 992px){
  .rotate-lg--90{transform: rotateZ(-90deg);}
  .rotate-lg-90{transform: rotateZ(90deg);}
  .widget-thumb-container{margin-bottom:5px;margin-left:12px;width: 96.5%;display: flex;flex-direction: row;justify-content: flex-start;}
  .widget-thumb-img{height: 100px;border: 1px solid #dee2e6;}
  .widget-thumb-controls{margin-top: 0px;}
  .filter-container{padding-bottom: 0px;margin-bottom: 5px;}
}
.fs-7{font-size: 0.9rem;}
.fs-8{font-size: 0.8rem;}
.fs-9{font-size: 0.7rem;}

.text-justify{text-align: justify;}

.is-invalid{color: #832129!important;background-color: #FBEFF0;padding-left: 10px;border-left: 2px solid #832129;}

.callout{padding: 10px;border: 1px solid #e9ecef;border-left-width: .25rem;border-radius: .25rem;}
.callout-secondary{border-left-color: #6C757D;}
.callout-primary{border-left-color: #0D6EFD;}
.callout-info{border-left-color: #5bc0de;}
.callout-success{border-left-color: #198754;}
.callout-warning{border-left-color: #FFC107;}
.callout-danger{border-left-color: #DC3545;}
.callout-orange{border-left-color: #F35B04;}

.breadcrumb-item > a{text-decoration: none;}
.alert{position: fixed;width: 100%;bottom: -4px;}
.form-check-label{user-select: none;}
.code{background-color: #F8F9FA;border: 1px solid #dee2e6;border-radius: .25rem;padding: 5px 10px;margin-bottom: 15px;user-select: all;}
.code-multiline{background-color: #F8F9FA;border: 1px solid #dee2e6;border-radius: .25rem;padding: 8px 20px;margin-bottom: 15px;user-select: all;}

ol.code-multiline {
  padding-left: 8px;
  list-style: none;
  counter-reset: code_line_counter;
}
ol.code-multiline li {
  counter-increment: code_line_counter;
}
ol.code-multiline li::before {
  content: counter(code_line_counter) "";
  color: #6c757d;
  margin-right: 15px;
}
ol.code-multiline li.list-ident-1::before {margin-right: 40px;}
ol.code-multiline li.list-ident-2::before {margin-right: 80px;}

.card-widget{
  min-height: 100px;
  border: 2px solid #FFF;
  position: relative;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.card-widget > .lead-image{
  width: 100%;
  line-height: 250%;
  text-align: center;
  font-size: 3.2rem;
}
.card-widget > .widget-label{font-size: 0.9rem;color: #FFF;text-decoration: none;}
.card-widget > .widget-control{position: absolute;padding-top: 5px;padding-bottom: 5px;padding-left: 14px;padding-right: 14px;border-radius: 25px;text-align: center;border: 1px solid transparent;cursor: pointer;top: 5px;right: 10px;z-index: 500;transition: background-color 0.3s;user-select: none;}
.card-widget > .widget-control:hover{background-color: #FFF;opacity: 0.6;color: #444!important;}