.timeline {border-left: 3px solid #727cf5;background: rgba(114, 124, 245, 0.09);margin: 0 auto;letter-spacing: 0.2px;position: relative;line-height: 1.4em;padding: 30px;list-style: none;text-align: left;}
.timeline h1 {font-weight: 300;font-size: 1.4em;}
.timeline h2, .timeline h3 {font-weight: 600;font-size: 1rem;margin-bottom: 10px;}
.timeline .event {border-bottom: 1px solid #FFF;padding-bottom: 25px;margin-bottom: 25px;position: relative;}
.timeline .event:last-of-type {padding-bottom: 0;margin-bottom: 0;border: none;}
.timeline .event:before, .timeline .event:after {position: absolute;display: block;top: 0;}
.timeline .event:before {left: -204px; top: -3px;content: attr(data-date);text-align: right;font-size: 0.85em;min-width: 160px;}
.timeline .event:after {box-shadow: 0 0 0 3px #727cf5;left: -36px;background: #fff;border-radius: 50%;height: 9px;width: 9px;content: "";top: 5px;}


.timeline-h{display: flex;align-items: stretch;justify-content: space-between;width: 100%;margin: 0;padding: 0;position: relative;}
.timeline-h:after {content: '';border-bottom: 3px solid #727cf5;position: absolute;transform: translateY(-50%);top: 50%;width: 100%;}
.timeline-h li{display: block;flex: 0 1 auto;min-width: 30px;list-style-type: none;background-color: #FFF;padding: 0.1em 0.6em;border: 2px solid #727cf5;border-radius: 50px;z-index: 1; position: relative;}
.timeline-h li a{color: inherit; text-decoration: none;}
.timeline-h li.success{background-color: #34a872; border-color: #34a872; color: #FFF;}
.timeline-h li.danger{background-color: #dd4451; border-color: #dd4451; color: #FFF;}
.timeline-h li.muted{background-color: #9ea7af; border-color: #9ea7af; color: #d3deea; font-style: italic;}
.timeline-h li.active{background-color: #5d68e2; border-color: #5d68e2; color: #FFF;}




@media (min-width: 767px){
  .timeline{margin-left: 140px;}
}
@media (max-width: 767px){
  .timeline {max-width: 98%;padding: 25px;}
  .timeline .event {padding-top: 30px;}
  .timeline .event:before {left: 0px;text-align: left;}
  .timeline .event:after {left: -31.8px;}
}