<div class="modal fade user-select-none" id="{{id|default:'modal_loading'}}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content {{background}}">
      <div class="modal-body">
        <div class="spinner-border {{spinner_classlist}}" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
        <label class="{{message_classlist}}" style="position: relative;top:-6px; left:5px;"><b>Aguarde!</b> {{message}}</label>
      </div>
    </div>
  </div>
</div>